<template>
  <div class="form-page">
    <transition name="fade">
      <div v-if="show" class="form-page__content">
        <div class="form-page__title">
          У каждого <span>СВОЯ HOLLANDIA</span>
        </div>
        <div class="form-page__text">
          Участвуйте в&nbsp;акции, регистрируйте коды <br />и&nbsp;выигрывайте
          призы!
        </div>
        <img
          src="../../assets/images/gifts.png"
          alt=""
          class="form-page__gifts hidden-xs"
        />
        <img
          src="../../assets/images/gifts-m.png"
          alt=""
          class="form-page__gifts visible-xs"
        />
      </div>
    </transition>
    <transition name="fade">
      <div v-if="show" class="form-page-form-wrapper">
        <div class="form form-page-form">
          <div class="form__title">Вход</div>
          <login-form></login-form>
        </div>
        <div class="form-page__feedback" @click="$modal.show('feedback')">
          Обратная связь
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import LoginForm from "../../components/form/LoginForm.vue";
export default {
  components: { LoginForm },
  data: () => ({
    show: false,
  }),
  mounted() {
    this.$parent.showFooter = false;
    this.$parent.showHeader = false;
    this.show = true;
    if (this.$store.getters.endTime) {
      this.$modal.show("temporarily_unavailable");
    }
  },
};
</script>
