<template>
  <div class="account" v-if="user">
    <div class="account__content">
      <div class="account-info">
        <div class="account__header">
          <h2 class="section-title">личный кабинет</h2>
          <button
            class="btn btn--primary account__header-btn"
            @click="toUploadCheck()"
          >
            зарегистрировать код
          </button>
        </div>
        <div class="container">
          <!-- checks -->
          <div class="account__checks" v-if="codes">
            <div class="account__checks-table-wrapper">
              <div class="account__checks-title">зарегистрированные коды</div>
              <Table :thead="fields" v-if="codes && codes.length">
                <template v-slot:tbody>
                  <tr
                    v-for="(item, index) in codes"
                    :key="'code-' + index + item.id"
                  >
                    <td>
                      <div class="flex">
                        <span>{{ item.id }}</span>
                      </div>
                    </td>
                    <td>
                      <div class="flex">
                        <span>{{ item.code }}</span>
                      </div>
                    </td>
                    <td>
                      {{ item.date_create }}
                    </td>
                    <td>
                      <div class="d-flex aic">
                        {{ item.prize.text }}&nbsp;
                        <svg v-if="item.prize.type === 'win'" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.08325 13.1638C3.08325 12.7056 3.45467 12.3342 3.91284 12.3342H26.5883C27.0465 12.3342 27.4179 12.7056 27.4179 13.1638V24.5015C27.4179 26.6733 27.0667 28.3851 25.9349 29.5169C24.8031 30.6487 23.0912 31 20.9195 31H9.58172C7.40993 31 5.69809 30.6487 4.5663 29.5169C3.43451 28.3851 3.08325 26.6733 3.08325 24.5015V13.1638ZM4.74243 13.9933V24.5015C4.74243 26.5814 5.09978 27.704 5.73952 28.3437C6.37926 28.9834 7.50185 29.3408 9.58172 29.3408H20.9195C22.9993 29.3408 24.1219 28.9834 24.7617 28.3437C25.4014 27.704 25.7587 26.5814 25.7587 24.5015V13.9933H4.74243Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.127 13.1638C10.127 12.7056 10.4984 12.3342 10.9565 12.3342H19.5024C19.9605 12.3342 20.332 12.7056 20.332 13.1638V20.4341C20.332 22.2348 18.3285 23.2893 16.8455 22.3006L16.8419 22.2983L15.5842 21.4503C15.5837 21.45 15.5833 21.4497 15.5828 21.4494C15.3987 21.3274 15.1493 21.3199 14.9386 21.455L13.61 22.3312C13.6071 22.3331 13.6042 22.335 13.6013 22.3369C12.1107 23.2936 10.127 22.2512 10.127 20.4483V13.1638ZM11.7861 13.9933V20.4483C11.7861 20.9116 12.2938 21.201 12.7016 20.9428L14.0287 20.0675L14.0347 20.0635C14.7867 19.577 15.7541 19.5695 16.5045 20.0698L16.5081 20.0722L17.7659 20.9201C17.7663 20.9204 17.7668 20.9207 17.7672 20.921C18.1548 21.1779 18.6728 20.9003 18.6728 20.4341V13.9933H11.7861Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06524 7.44823C2.80738 7.75098 2.65918 8.23143 2.65918 8.91214V10.3294C2.65918 11.0101 2.80738 11.4905 3.06524 11.7933C3.30142 12.0706 3.74619 12.3342 4.66403 12.3342H25.9223C26.7878 12.3342 27.2424 12.0761 27.4956 11.7858C27.7668 11.475 27.9271 10.9898 27.9271 10.3294V8.91214C27.9271 8.2517 27.7668 7.76653 27.4956 7.45569C27.2424 7.16543 26.7878 6.90729 25.9223 6.90729H4.66403C3.74619 6.90729 3.30142 7.17093 3.06524 7.44823ZM1.80212 6.3724C2.44107 5.62221 3.41352 5.24811 4.66403 5.24811H25.9223C27.1401 5.24811 28.1027 5.62772 28.7459 6.36494C29.3711 7.08159 29.5863 8.01363 29.5863 8.91214V10.3294C29.5863 11.2279 29.3711 12.1599 28.7459 12.8765C28.1027 13.6138 27.1401 13.9934 25.9223 13.9934H4.66403C3.41352 13.9934 2.44107 13.6193 1.80212 12.8691C1.18485 12.1444 1 11.2076 1 10.3294V8.91214C1 8.0339 1.18485 7.09713 1.80212 6.3724Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3416 2.80948C10.1412 2.60908 9.80193 2.60908 9.60153 2.80948L7.58908 4.82193C7.47015 4.94086 7.42227 5.09854 7.44329 5.24811H12.7802L10.3416 2.80948ZM8.42831 1.63626C9.27666 0.787913 10.6664 0.787913 11.5148 1.63626L15.3696 5.49109C15.6069 5.72835 15.6778 6.08518 15.5494 6.39517C15.421 6.70517 15.1185 6.90729 14.783 6.90729H6.95996C6.72777 6.90729 6.50621 6.80999 6.3491 6.63903C5.56617 5.78701 5.59162 4.47296 6.41586 3.64871L8.42831 1.63626Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9706 2.80948C20.7702 2.60908 20.4309 2.60908 20.2305 2.80948L17.7919 5.24811H23.1288C23.1498 5.09854 23.1019 4.94086 22.983 4.82193L20.9706 2.80948ZM19.0573 1.63626C19.9057 0.787913 21.2954 0.787913 22.1438 1.63626L24.1562 3.64871C24.9805 4.47296 25.0059 5.78701 24.223 6.63903C24.0659 6.80999 23.8443 6.90729 23.6121 6.90729H15.7891C15.4535 6.90729 15.1511 6.70517 15.0226 6.39517C14.8942 6.08518 14.9652 5.72835 15.2025 5.49109L19.0573 1.63626Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </div>
                    </td>
                  </tr>
                </template>
                <template v-slot:mobile>
                  <table class="_profile">
                    <tr v-for="(item, index) in codes" :key="index">
                      <td>
                        <table class="table-mobile__inner">
                          <tr>
                            <td>{{ item.code }}</td>
                            <td>
                              {{ item.date_create }}
                            </td>
                            <td>
                              <div class="d-flex aic">
                                {{ item.prize.text }}&nbsp;
                                <svg v-if="item.prize.type === 'win'" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.08325 13.1638C3.08325 12.7056 3.45467 12.3342 3.91284 12.3342H26.5883C27.0465 12.3342 27.4179 12.7056 27.4179 13.1638V24.5015C27.4179 26.6733 27.0667 28.3851 25.9349 29.5169C24.8031 30.6487 23.0912 31 20.9195 31H9.58172C7.40993 31 5.69809 30.6487 4.5663 29.5169C3.43451 28.3851 3.08325 26.6733 3.08325 24.5015V13.1638ZM4.74243 13.9933V24.5015C4.74243 26.5814 5.09978 27.704 5.73952 28.3437C6.37926 28.9834 7.50185 29.3408 9.58172 29.3408H20.9195C22.9993 29.3408 24.1219 28.9834 24.7617 28.3437C25.4014 27.704 25.7587 26.5814 25.7587 24.5015V13.9933H4.74243Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.127 13.1638C10.127 12.7056 10.4984 12.3342 10.9565 12.3342H19.5024C19.9605 12.3342 20.332 12.7056 20.332 13.1638V20.4341C20.332 22.2348 18.3285 23.2893 16.8455 22.3006L16.8419 22.2983L15.5842 21.4503C15.5837 21.45 15.5833 21.4497 15.5828 21.4494C15.3987 21.3274 15.1493 21.3199 14.9386 21.455L13.61 22.3312C13.6071 22.3331 13.6042 22.335 13.6013 22.3369C12.1107 23.2936 10.127 22.2512 10.127 20.4483V13.1638ZM11.7861 13.9933V20.4483C11.7861 20.9116 12.2938 21.201 12.7016 20.9428L14.0287 20.0675L14.0347 20.0635C14.7867 19.577 15.7541 19.5695 16.5045 20.0698L16.5081 20.0722L17.7659 20.9201C17.7663 20.9204 17.7668 20.9207 17.7672 20.921C18.1548 21.1779 18.6728 20.9003 18.6728 20.4341V13.9933H11.7861Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.06524 7.44823C2.80738 7.75098 2.65918 8.23143 2.65918 8.91214V10.3294C2.65918 11.0101 2.80738 11.4905 3.06524 11.7933C3.30142 12.0706 3.74619 12.3342 4.66403 12.3342H25.9223C26.7878 12.3342 27.2424 12.0761 27.4956 11.7858C27.7668 11.475 27.9271 10.9898 27.9271 10.3294V8.91214C27.9271 8.2517 27.7668 7.76653 27.4956 7.45569C27.2424 7.16543 26.7878 6.90729 25.9223 6.90729H4.66403C3.74619 6.90729 3.30142 7.17093 3.06524 7.44823ZM1.80212 6.3724C2.44107 5.62221 3.41352 5.24811 4.66403 5.24811H25.9223C27.1401 5.24811 28.1027 5.62772 28.7459 6.36494C29.3711 7.08159 29.5863 8.01363 29.5863 8.91214V10.3294C29.5863 11.2279 29.3711 12.1599 28.7459 12.8765C28.1027 13.6138 27.1401 13.9934 25.9223 13.9934H4.66403C3.41352 13.9934 2.44107 13.6193 1.80212 12.8691C1.18485 12.1444 1 11.2076 1 10.3294V8.91214C1 8.0339 1.18485 7.09713 1.80212 6.3724Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3416 2.80948C10.1412 2.60908 9.80193 2.60908 9.60153 2.80948L7.58908 4.82193C7.47015 4.94086 7.42227 5.09854 7.44329 5.24811H12.7802L10.3416 2.80948ZM8.42831 1.63626C9.27666 0.787913 10.6664 0.787913 11.5148 1.63626L15.3696 5.49109C15.6069 5.72835 15.6778 6.08518 15.5494 6.39517C15.421 6.70517 15.1185 6.90729 14.783 6.90729H6.95996C6.72777 6.90729 6.50621 6.80999 6.3491 6.63903C5.56617 5.78701 5.59162 4.47296 6.41586 3.64871L8.42831 1.63626Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9706 2.80948C20.7702 2.60908 20.4309 2.60908 20.2305 2.80948L17.7919 5.24811H23.1288C23.1498 5.09854 23.1019 4.94086 22.983 4.82193L20.9706 2.80948ZM19.0573 1.63626C19.9057 0.787913 21.2954 0.787913 22.1438 1.63626L24.1562 3.64871C24.9805 4.47296 25.0059 5.78701 24.223 6.63903C24.0659 6.80999 23.8443 6.90729 23.6121 6.90729H15.7891C15.4535 6.90729 15.1511 6.70517 15.0226 6.39517C14.8942 6.08518 14.9652 5.72835 15.2025 5.49109L19.0573 1.63626Z" fill="#8DFF49" stroke="#8DFF49" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </template>
              </Table>
              <div class="account__checks-empty" v-if="!codes.length">
                <img src="../../assets/images/steps/step_1.svg" alt="" />
                <span>{{
                  "У вас пока нет зарегистрированных кодов" | typograf
                }}</span>
                <button
                  class="btn btn--primary"
                  @click.prevent="toUploadCheck()"
                >
                  зарегистрировать код
                </button>
              </div>
              <ul class="pagination" v-if="pages.length > 1">
                <li
                  class="pagination-item"
                  v-if="page != 1"
                  @click="page--, paginate()"
                >
                  <svg
                    width="12"
                    height="18"
                    viewBox="0 0 12 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 2L3 9L10 16"
                      stroke="#8DFF49"
                      stroke-width="3"
                      stroke-linecap="round"
                    />
                  </svg>
                </li>
                <li
                  class="pagination-item"
                  v-for="pageNumber in pages.length"
                  :key="pageNumber"
                  @click="(page = pageNumber), paginate()"
                  :class="{
                    current: page === pageNumber,
                    last:
                      pageNumber == pages.length &&
                      Math.abs(pageNumber - page) > 2,
                    first: pageNumber == 1 && Math.abs(pageNumber - page) > 2,
                    visible:
                      Math.abs(pageNumber - page) < 2 ||
                      pageNumber === pages.length ||
                      pageNumber == 1,
                  }"
                >
                  {{ pageNumber }}
                </li>
                <li
                  @click="page++, paginate()"
                  v-if="page < pages.length"
                  class="pagination-item"
                >
                  <svg
                    width="12"
                    height="18"
                    viewBox="0 0 12 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2 2L9 9L2 16"
                      stroke="#8DFF49"
                      stroke-width="3"
                      stroke-linecap="round"
                    />
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <!-- info -->
          <form autocomplete="off" class="account-info__block" :key="formIndex">
            <div class="account-info__title">ЛИЧНЫЕ ДАННЫЕ</div>
            <div class="account-info__row">
              <div class="account-info__col">
                <div class="account-info__col-title">
                  изменить личные данные
                </div>
                <inputText
                  label="ФИО"
                  :field="name"
                  :class="{
                    error: validationStatus($v.name) || errorMessage.name,
                  }"
                  :error="
                    (!$v.name.required && $v.name.$error
                      ? 'Обязательное поле'
                      : !$v.name.rus && $v.name.$error
                      ? 'Введите текст на русском языке'
                      : '') || errorMessage.name
                  "
                  @input="user.profile.name = $event"
                />
                <inputText
                  label="Номер телефона"
                  :field="phone"
                  @input="user.profile.phone = $event"
                  type="tel"
                  :mask="'+7(###) ###-##-##'"
                  :class="{
                    error: validationStatus($v.phone) || errorMessage.phone,
                  }"
                  :error="
                    (!$v.phone.required && $v.phone.$error
                      ? 'Обязательное поле'
                      : !$v.phone.minLength && $v.phone.$error
                      ? 'Минимум 11 символов'
                      : '') || errorMessage.phone
                  "
                />
                <inputText
                  label="E-mail"
                  v-if="email"
                  :field="email"
                  :isDisabled="true"
                  type="email"
                  :class="{
                    error: validationStatus($v.email) || errorMessage.email,
                  }"
                  :error="
                    (!$v.email.required && $v.email.$error
                      ? 'Обязательное поле'
                      : !$v.email.email && $v.email.$error
                      ? 'Некорректный e-mail'
                      : '') || errorMessage.email
                  "
                  @input="user.profile.email = $event"
                />
              </div>
              <div class="account-info__col">
                <br class="only-mobile">
                <div class="account-info__col-title">изменить пароль</div>
                <inputText
                  label="Текущий пароль"
                  type="password"
                  autocomplete="new-password"
                  :field="password"
                  :class="{
                    error:
                      validationStatus($v.password) || errorMessage.password,
                  }"
                  :error="errorMessage.password"
                  @input="user.profile.old_password = $event"
                />
                <inputText
                  label="Новый пароль"
                  type="password"
                  :field="password"
                  :class="{
                    error:
                      validationStatus($v.password_new) ||
                      errorMessage.password_new,
                  }"
                  :error="errorMessage.password_new"
                  @input="user.profile.pass = $event"
                />
                <inputText
                  label="Новый пароль еще раз"
                  type="password"
                  :field="password_rep"
                  :class="{
                    error:
                      validationStatus($v.password_rep) ||
                      errorMessage.password_rep,
                  }"
                  :error="errorMessage.password_rep"
                  @input="user.profile.pass = $event"
                />
              </div>
            </div>
            <button
              type="button"
              class="account-info__btn btn btn--primary"
              @click="updateProfile()"
            >
              сохранить изменения
            </button>
          </form>
          <!-- prizes -->
          <div class="account__prizes" v-if="prizes && prizes.length">
            <div class="account__prizes-table-wrapper">
              <div class="account__prizes-title">мои призы</div>
              <Table v-if="prizes && prizes.length">
                <template v-slot:tbody>
                  <tr
                    v-for="(item, index) in prizes.filter((i) => i.win)"
                    :key="index"
                  >
                    <td>
                      <div class="flex">
                        <span>{{ index + 1 }}</span>
                      </div>
                    </td>
                    <td>
                      <div class="account__prizes-img">
                        <img
                          :src="
                            require(`../../assets/images/prizes/user-prizes/prize_${
                              item.prize_id || 0
                            }.png`)
                          "
                          @click="
                            $modal.show('image', {
                              src: require(`../../assets/images/prizes/user-prizes/prize_${
                                item.prize_id || 0
                              }.png`),
                            })
                          "
                          alt=""
                        />
                      </div>
                    </td>
                    <td>
                      <span>{{
                        item.type === "garant"
                          ? "Гарантированный приз"
                          : "Еженедельный приз"
                      }}</span>
                      <br /><b>{{ item.prize }}</b>
                      <div class="account__prizes-code" v-if="item.prize_code" v-tooltip="{content: 'Код скопирован', autoHide: true, show: showTT.d, trigger: 'manual'}" @click="copyToClipboard(item, 'd', index)">
                        <input :value="item.prize_code" :id="`code-d-${index}`" readonly>
                        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.125 1.15327C4.125 0.516339 4.64734 0 5.29167 0H16.9583C17.6027 0 18.125 0.516339 18.125 1.15327V14.9926C18.125 15.6295 17.6027 16.1458 16.9583 16.1458H15.5583V3.45982C15.5583 2.82289 15.036 2.30655 14.3917 2.30655H4.125V1.15327ZM1.16667 3.85417C0.52234 3.85417 0 4.37051 0 5.00744V18.8467C0 19.4837 0.52234 20 1.16667 20H12.8333C13.4777 20 14 19.4837 14 18.8467V5.00744C14 4.37051 13.4777 3.85417 12.8333 3.85417H1.16667Z" fill="#8DFF49"/>
                        </svg>
                      </div>
                    </td>
                    <td>
                      <span>Выиграл код <b>{{ item.code }}</b></span
                      >
                    </td>
                  </tr>
                </template>
                <template v-slot:mobile>
                  <table>
                    <tr
                      v-for="(item, index) in prizes.filter((i) => i.win)"
                      :key="index"
                    >
                      <td>
                        <table class="table-mobile__inner">
                          <tr>
                            <td width="50%">
                              <span>{{
                                item.type === "garant"
                                  ? "Гарантированный приз"
                                  : "Еженедельный приз"
                              }}</span>
                              <br><b>{{ item.prize }}</b>
                            </td>
                            <td :rowspan="item.prize_code ? '' : 2">
                              <img src="../../assets/images/shadow.svg" alt="" class="shadow">
                              <img
                                :src="
                                  require(`../../assets/images/prizes/user-prizes/prize_${
                                    item.prize_id || 0
                                  }.png`)
                                "
                                @click="
                                  $modal.show('image', {
                                    src: require(`../../assets/images/prizes/user-prizes/prize_${
                                      item.prize_id || 0
                                    }.png`),
                                  })
                                "
                                alt=""
                                class="prize"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td width="50%" v-if="!item.prize_code">
                              <span
                                >Выиграл код <br><b>{{ item.code }}</b></span
                              >
                            </td>
                            <td v-if="item.prize_code" colspan="2">
                              <div class="account__prizes-code-wrapper">
                                <div class="account__prizes-code" v-if="item.prize_code" v-tooltip="{content: 'Код скопирован', autoHide: true, show: showTT.m, trigger: 'manual'}" @click="copyToClipboard(item, 'm', index)">
                                  <input :value="item.prize_code" :id="`code-m-${index}`" readonly>
                                  <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.125 1.15327C4.125 0.516339 4.64734 0 5.29167 0H16.9583C17.6027 0 18.125 0.516339 18.125 1.15327V14.9926C18.125 15.6295 17.6027 16.1458 16.9583 16.1458H15.5583V3.45982C15.5583 2.82289 15.036 2.30655 14.3917 2.30655H4.125V1.15327ZM1.16667 3.85417C0.52234 3.85417 0 4.37051 0 5.00744V18.8467C0 19.4837 0.52234 20 1.16667 20H12.8333C13.4777 20 14 19.4837 14 18.8467V5.00744C14 4.37051 13.4777 3.85417 12.8333 3.85417H1.16667Z" fill="#8DFF49"/>
                                  </svg>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </template>
              </Table>
              <div class="account__prizes-empty" v-if="!prizes.length">
                <span>{{
                  "Вы пока не получили ни одного приза" | typograf
                }}</span>
                <button
                  class="btn btn--primary"
                  @click.prevent="toUploadCheck()"
                >
                  зарегистрировать код
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputText from "../../components/form/inputText.vue";
import Table from "../../components/Table.vue";
import store from "@/store";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import { forEach } from "lodash";

export default {
  components: { Table, InputText },
  data: function () {
    return {
      publicPath: process.env.BASE_URL,
      baseUrl: window.location.origin,
      userInfo: null,
      dragging: false,
      password_new: null,
      password_rep: null,
      formIndex: 1,
      photo: null,
      page: 1,
      perPage: 1,
      pages: [],
      total: 0,
      loading: false,
      codesIndex: 0,
      prizesIndex: 0,
      showTT: {
        d: false,
        m: false,
      },
      currentPage: 1,
      prizes: [],
      errorMessage: {
        name: null,
        email: null,
        phone: null,
        password: null,
        password_new: null,
        password_rep: null,
      },
      fields: [
        {
          text: "№",
        },
        {
          text: "код",
        },
        {
          text: "дата",
        },
        {
          text: "статус кода",
        },
      ],
    };
  },
  validations: {
    name: { required },
    email: { required, email },
    phone: { required, minLength: minLength(6) },
    password_rep: {
      sameAs: sameAs(function () {
        return this.password_new;
      }),
    },
  },
  methods: {
    copyToClipboard(item, mode, index) {
      this.showTT[mode] = true;
      const textBox = document.getElementById(`code-${mode}-${index}`);
      textBox.select();
      document.execCommand("copy");
      setTimeout(() => {
        this.showTT[mode] = false;
        textBox.blur();
      }, 2000);
    },
    toUploadCheck() {
      const t = this;
      if (
        this.$store.getters.endTime ||
        this.$store.getters.temporarilyUnavailable
      ) {
        this.$modal.show("temporarily_unavailable");
      } else {
        this.$modal.show("code_registration");
      }
    },
    setPages(total) {
      this.pages = [];
      if (total) {
        for (let index = 1; index <= total; index++) {
          this.pages.push(index);
        }
      }
    },
    paginate() {
      let page = this.page;
      this.$store.dispatch("GetCodes", { page: page });
    },
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        name: null,
        email: null,
        phone: null,
        password: null,
        password_new: null,
        password_rep: null,
      };
    },
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },
    startDrag() {
      this.dragging = true;
    },
    stopDrag() {
      this.dragging = false;
    },
    showModal(name) {
      this.$modal.show(name);
    },

    closeModal(name) {
      this.$modal.hide(name);
    },

    getUserData() {
      this.$store.dispatch("GetProfile");
      this.$store.dispatch("GetCodes", { page: this.currentPage }).then((r) => {
        if (r) {
          this.total = r.data.paging.total;
          this.setPages(this.total);
        }
      });
      this.$store.dispatch("GetPrizes").then((r) => {
        if (r) {
          r.data.garant.forEach((element) => {
            element.type = "garant";
            if (element.win) {
              this.prizes.push(element);
            }
          });
          r.data.prize.forEach((element) => {
            if (element.win) {
              this.prizes.push(element);
            }
          });
        }
      });
    },

    logout() {
      this.$store.dispatch("LogOut");
    },

    updateProfile() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";
        this.$store
          .dispatch("UpdateProfile", this.user.profile)
          .then((r) => {
            if (!r.result) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.error && r.error.email) {
                [this.errorMessage.email] = r.error.email;
                fieldsError = true;
              } else if (r.error && r.error.login) {
                [this.errorMessage.email] = r.error.login;
                fieldsError = true;
              }

              if (r.error && r.error.name) {
                [this.errorMessage.name] = r.error.name;
                fieldsError = true;
              }
              if (r.error && r.error.phone) {
                [this.errorMessage.phone] = r.error.phone;
                fieldsError = true;
              }
              if (r.error && r.error.old_password) {
                [this.errorMessage.password] = r.error.old_password;
                fieldsError = true;
              }
              if (r.error && r.error.pass) {
                [this.errorMessage.password_new] = r.error.pass;
                fieldsError = true;
              }
              if (r.error && r.error.passR) {
                [this.errorMessage.password_rep] = r.error.passR;
                fieldsError = true;
              }

              if (r.error && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.error,
                });
              }
            } else {
              this.submitStatus = null;
              this.formIndex = this.formIndex += 1;
              this.$modal.show("common_success", {
                title: "Спасибо!",
                text: "Профиль успешно обновлен.",
              });
              this.getUserData();
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
  },
  mounted() {
    this.getUserData();
    this.$parent.showFooter = true;
    this.$parent.showHeader = true;
    setInterval(() => {
      this.$store.dispatch("GetCodes", { page: this.currentPage });
    }, 10000);
    // this.$store.dispatch("GetCodes", { page: this.currentPage });
    if (document.querySelector(".header")) {
      document.querySelector(".header").classList.add("_white");
    }
    window.addEventListener("scroll", function () {
      if (document.querySelector(".header")) {
        if (window.scrollY > 100) {
          document.querySelector(".header").classList.add("_modified");
        } else {
          document.querySelector(".header").classList.remove("_modified");
        }
      }
    });
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    name: {
      get() {
        return this.user.profile.name;
      },
      set(val) {
        console.log(val);
        return val;
      },
    },
    email: {
      get() {
        return this.user.profile.email;
      },
      set(val) {
        return val;
      },
    },
    phone: {
      get() {
        return this.user.profile.phone;
      },
      set(val) {
        return val;
      },
    },
    password: {
      get() {
        return this.user.profile.password;
      },
      set(val) {
        return val;
      },
    },
    codes: {
      get() {
        return this.$store.getters.checks;
      },
      set(newVal) {
        return newVal;
      },
    },
    garant() {
      return this.$store.getters.garant;
    },
  },
  watch: {
    garant() {
      this.prizesIndex += 1;
    },
  },
};
</script>

<style lang="scss" scoped>
.account {
  position: relative;
  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto rem(30px);
  }
  .container {
    position: relative;
  }
  &__content {
    position: relative;
    padding: rem(110px) rem(0px) rem(0px);
    z-index: 2;
  }
  &__title {
    font-size: rem(40px);
    text-align: center;
    font-family: $reg;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 1.1;
  }
  &-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__title {
      margin-bottom: rem(20px);
      font-family: $bold;
      color: $green_light;
      text-transform: uppercase;
      font-size: rem(24px);
    }
    &__block {
      padding: rem(24px);
      margin-bottom: rem(30px);
      border-radius: rem(20px);
    }
    &__row {
      margin-bottom: rem(30px);
    }
    &__col {
      &-title {
        margin-bottom: rem(10px);
        font-family: $bold;
        text-transform: uppercase;
        text-align: center;
        font-size: rem(18px);
      }
    }
    &__text {
      font-size: rem(24px);
      font-weight: 400;
      line-height: 1.6;
    }
    &__input {
      background: none;
      border: none;
      text-align: center;
      outline: none;
    }
    &__img {
      margin: 0 auto rem(14px);
      display: block;
    }
    &__name {
      font-size: rem(24px);
      text-transform: capitalize;
      font-family: $bold;
    }
    &__btn {
      width: 100%;
    }
  }
  &__checks {
    margin-bottom: rem(30px);
    .pagination {
      margin-top: auto;
    }
    &-title {
      margin-bottom: rem(20px);
      font-size: rem(24px);
      text-transform: uppercase;
      font-family: $bold;
      color: $green_light;
    }
    &-table {
      &-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: rem(50px) rem(20px);
        background: $green_dark;
      }
    }
    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      height: 100%;
      img {
        max-height: rem(100px);
      }
      span {
        display: block;
        margin-bottom: rem(30px);
        font-size: rem(24px);
        font-family: $bold;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    font-size: rem(18px);
    line-height: 1;
    span {
      margin-right: rem(13px);
      &:nth-child(2) {
        text-transform: none;
      }
    }
  }
  &__prizes {
    padding: rem(25px) rem(20px);
    border-radius: rem(20px);
    &-title {
      margin-bottom: rem(20px);
      font-size: rem(24px);
      text-transform: uppercase;
      font-family: $bold;
      color: $green_light;
    }
    &-img {
      @include size(rem(140px));
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("../../assets/images/shadow.svg") no-repeat center;
      background-size: contain;
    }
    &-table {
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: rem(200px);
      span {
        display: block;
        margin-bottom: rem(30px);
        font-size: rem(24px);
        font-family: $bold;
      }
    }
    &-code {
      display: flex;
      align-items: center;
      padding-top: rem(10px);
      &-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: rem(10px);
      }
      input {
        display: block;
        background: none;
        max-width: rem(130px);
        padding: rem(8px) rem(14px);
        margin-right: rem(5px);
        border: 2px dotted $green_light;
        border-radius: rem(5px);
        font-size: rem(20px);
        line-height: 1;
        font-family: $bold;
        outline: none !important;
      }
      svg {
        width: rem(18px);
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: rem(50px);
    margin-bottom: rem(60px);
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__header {
      flex-direction: row;
      font-size: rem(32px);
      margin-bottom: 0;
    }
    &__row {
      flex-direction: row;
    }
    &__content {
      min-height: auto;
      padding: rem(195px) 0 rem(120px);
    }

    &__footer {
      flex-direction: row;
      margin-bottom: rem(70px);
      padding: 0;
    }
  }

  @media (min-width: $md) and (orientation: landscape) {
    background: url("../../assets/images/lion.png") no-repeat top rem(265px)
      left;
    background-size: 50%;
    &__left-column {
      flex: 0 0 33%;
    }
    &__content {
      padding-bottom: rem(120px);
    }
    &__header {
      position: relative;
      width: 91%;
      padding: 0 rem(20px);
      &-btn {
        position: absolute;
        right: rem(20px);
        width: vw(400px);
      }
    }
    &__checks {
      margin-bottom: rem(60px);
      &-title {
        margin-bottom: rem(50px);
        font-size: rem(36px);
      }
      &-table {
        &-wrapper {
          padding: rem(54px) rem(20px);
          border-radius: rem(40px);
        }
      }
      &-empty {
        img {
          max-height: rem(200px);
        }
      }
      .pagination {
        margin-top: rem(30px);
      }
    }
    &__prizes {
      padding: rem(54px) rem(20px) rem(20px);
      border: rem(3px) solid $green_dark;
      border-width: rem(6px);
      border-radius: rem(40px);
      &-title {
        margin-bottom: rem(50px);
        font-size: rem(36px);
      }
      &-empty {
        height: rem(400px);
      }
      &-code {
        input {
          max-width: rem(170px);
          margin-right: rem(14px);
        }
      }
    }
    &-info {
      &__title {
        margin-bottom: rem(50px);
        font-size: rem(36px);
      }
      &__row {
        width: 100%;
        margin-bottom: rem(20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
      }
      &__name {
        font-size: rem(24px);
      }
      &__text {
        font-size: rem(24px);
        line-height: 1.6;
      }
      &__btn {
        width: rem(400px);
      }
      &__col {
        display: flex;
        width: rem(440px);
        flex-direction: column;
        align-items: flex-start;
        flex: auto;
        &:first-of-type {
          margin-right: rem(64px);
        }
        &-title {
          margin-bottom: rem(30px);
          font-family: $bold;
          text-align: left;
          text-transform: uppercase;
          font-size: rem(36px);
        }
      }
      &__block {
        margin-bottom: rem(60px);
        border: rem(6px) solid $green_dark;
        padding: rem(45px) vw(130px);
        border-radius: rem(20px);
      }
      &-checks {
        margin-bottom: rem(40px);
      }
    }
  }
  @media (max-width: $sm) {
    .container {
      padding: 0;
    }
  }
}
</style>
