<template>
  <form class="reg-code">
    <inputText
      label="введите код"
      :field="code"
      @input="code = $event"
      :class="{ error: validationStatus($v.code) || errorMessage.code }"
      :error="
        (!$v.code.required && $v.code.$error ? 'Обязательное поле' : '') ||
        errorMessage.code
      "
    />

    <div class="recover__footer">
      <button
        type="button"
        class="btn btn--primary w-100"
        @click="submit()"
        :class="{ loading: submitStatus == 'PENDING' }"
      >
        Зарегистрировать<img
          src="../../assets/img/spinner.svg"
          class="loader"
          alt=""
        />
      </button>
    </div>
  </form>
</template>

<script>
import inputText from "@/components/form/inputText.vue";

import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "CodeRegForm",
  data() {
    return {
      ready: false,

      code: null,

      errorMessage: {
        code: null,
      },

      submitStatus: null,
    };
  },

  validations: {
    code: { required, minLength: minLength(6) },
  },

  methods: {
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        code: null,
      };
    },

    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },
    showAuthorization() {
      this.$modal.hide("recover");
      this.$modal.show("authorization");
    },
    submit() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";
        let formData = {
          code: this.code,
          long: 0,
        }
        if (localStorage.getItem("utm_source")) {
          formData.utm_source = localStorage.getItem("utm_source");
        }
        this.$store
          .dispatch("RegisterCode", formData)
          .then((r) => {
            if (!r.result) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.error && r.error.code) {
                [this.errorMessage.code] = r.error.code;
                fieldsError = true;
              }

              if (r.error && !fieldsError) {
                this.$modal.show("error_code", {
                  text: r.error,
                });
                this.gtmEvent("code_reg_failure");
              }
            } else {
              this.submitStatus = null;
              // this.gtmEvent("cod_success", "do", "internal");
              this.$store.dispatch("GetProfile");
              this.$store.dispatch("GetCodes", { page: 1 });
              this.$modal.hide("code_registration");
              if (r.data.garant_code) {
                this.$modal.show("copy_code", {
                  code: r.data.garant_code,
                });
              } else {
                localStorage.removeItem("utm_source");
                localStorage.setItem('utm_source_done', true);
                this.$modal.show("common_success", {
                  title: "код успешно<br>зарегистрирован",
                  successIcon: true,
                  text: "Спасибо! Информация о&nbsp;зарегистрированных кодах доступна в&nbsp;вашем <a href='/profile' class='_green'>личном кабинете</a> в&nbsp;разделе &laquo;Мои коды&raquo;",
                });
                this.gtmEvent("successfull_code_reg");
              }
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
  },
  mounted() {},
  components: {
    inputText,
  },
};
</script>
<style lang="scss">
.reg-code {
  margin: auto;
  @media (min-width: $md) and (orientation: landscape) {
    width: 85%;
  }
  .btn {
    width: 100%;
  }
}
</style>
