<template>
  <label
    class="form__field"
    :class="
      color === 'white'
        ? 'form__field--white'
        : '' || color === 'green'
        ? 'form__field--green'
        : ''
    "
  >
    <input
      v-if="maskValue != ''"
      :disabled="isDisabled"
      :type="type"
      :value="value"
      :id="fieldId"
      :maxlength="maxlength"
      :autocomplete="autocomplete"
      :autocompletetype="autocompletetype"
      :placeholder="placeholder || ' '"
      class="form__field-input"
      :class="[
        size ? 'form__field-input--' + size : '',
        placeholder ? '_has-placeholder' : '',
      ]"
      v-model.trim="retValue"
      v-mask="maskValue"
      :name="name"
      @focus="errorReset()"
      @input="onInput()"
      @blur="onBlur()"
    />
    <input
      v-else
      :disabled="isDisabled"
      :type="type"
      :id="fieldId"
      :autocomplete="autocomplete"
      :autocompletetype="autocompletetype"
      :value="value"
      :maxlength="maxlength"
      :placeholder="placeholder || ' '"
      class="form__field-input"
      :class="size ? 'form__field-input--' + size : ''"
      v-model.trim="retValue"
      :name="name"
      @focus="errorReset()"
      @input="onInput()"
      @blur="onBlur()"
    />
    <div class="form__caption" v-if="label">{{ label }}</div>
    <div class="error-hint" v-if="error">{{ error }}</div>
    <svg
      v-if="error"
      class="form__error-icon"
      width="26"
      height="26"
      viewBox="0 0 26 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="13" cy="13" r="13" fill="#E40A17" />
      <path
        d="M11.5801 19V16.6797H13.7334V19H11.5801ZM11.5801 11.3887V6.00098H13.7334V11.3887L13.4258 15.6162H12.0107L11.5801 11.3887Z"
        fill="white"
      />
    </svg>

    <slot></slot>
  </label>
</template>
<script>
export default {
  data() {
    return {
      retValue: this.field,
      maskValue: this.mask || "",
      nameValue: this.name || "",
    };
  },

  methods: {
    errorReset() {
      this.$parent.errorReset();
    },

    onInput() {
      this.$emit("input", this.retValue);
    },

    onBlur() {
      this.$emit("input", this.retValue);
    },
  },
  props: {
    field: String,
    fieldId: String,
    mask: String,
    name: String,
    autocomplete: String,
    autocompletetype: String,
    maxlength: {
      type: [String, Number],
    },
    label: {
      type: String,
    },
    error: {
      type: [String, Boolean],
    },
    value: [String, Number],
    placeholder: {
      type: String,
    },
    type: {
      type: String,
      default: () => {
        return "text";
      },
    },
    isDisabled: {
      type: Boolean,
      default: () => {
        return false;
      },
    },
    size: {
      type: String,
      default: () => {
        return "sm";
      },
    },
    color: {
      type: String,
      default: () => {
        return "white";
      },
    },
  },

  components: {},
};
</script>
<style lang="scss">
.form__field--white {
  width: 100%;
  margin-bottom: rem(15px);
    @media (min-width: $md) and ( orientation: landscape) {
    margin-bottom: rem(20px);
  }
}

.form__field-input,
.dadata-input.form__field-input {
  width: 100%;
  height: rem(50px);
  padding: rem(15px) rem(20px) 0;
  max-width: 100%;
  appearance: none;
  font-size: rem(14px);
  background: #ffffff;
  border-radius: rem(30px);
  transition: all 0.3s ease-in-out;
  border: rem(2px) solid #FFFFFF;
  color: #2D2D2D;
  font-family: $bold;
  text-transform: uppercase;
  ._centered-text & {
    text-align: center;
  }
  ._bordered & {
    height: rem(56px);
    text-transform: uppercase;
    background: #fff2e5;
    border: 1px solid $red;
  }
  &::placeholder {
    color: rgba(45, 45, 45, 0.5);
    ._bordered & {
      color: $red;
      font-family: $reg;
      opacity: 1;
    }
  }
  &:focus,
  &:not(:placeholder-shown),
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    outline: none;
    border-color: $green_light;
    & ~ .form__caption {
      transform: scale(0.6) translateY(#{rem(-10px)});
        @media (min-width: $md) and ( orientation: landscape) {
        transform: scale(0.6) translateY(#{rem(-13px)});
      }
    }
  }
  &._has-placeholder {
    outline: none;
    & ~ .form__caption {
      transform: scale(0.6) translateY(#{rem(-10px)});
        @media (min-width: $md) and ( orientation: landscape) {
        transform: scale(0.6) translateY(#{rem(-13px)});
      }
    }
  }
  &[name=name] {
    text-transform: none;
  }
  &:disabled {
    pointer-events: none;
    background: #D9D9D9;
    border-color: #D9D9D9;
  }
  &--lg {
    height: rem(70px);
    padding: 0 rem(20px);
    font-weight: 400;
    font-size: rem(14px);
    &::placeholder {
      font-weight: 400;
      font-size: rem(14px);
    }
  }
    @media (min-width: $md) and ( orientation: landscape) {
    height: rem(60px);
    padding: rem(15px) rem(28px) 0;
    font-size: rem(20px);
  }
}
</style>
