<template>
  <div class="form-select">
    <div class="form__caption" v-if="labelText">{{ labelText }}</div>
    <v-select
      :searchable="false"
      :options="options"
      v-model.trim="retValue"
      :name="name"
      :placeholder="placeholder"
      @focus="errorReset()"
      @change="onInput()"
      @input="onInput()"
      :class="className"
    >
      <span slot="no-options">Ничего не найдено</span>
    </v-select>

    <div class="error-hint" v-if="error">{{ error }}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      retValue: this.field,
    };
  },

  methods: {
    errorReset() {
      this.$parent.errorReset();
    },

    onInput() {
      this.$emit("input", this.retValue);
    },
  },
  props: [
    "options",
    "field",
    "name",
    "error",
    "labelText",
    "className",
    "reduceVale",
    "placeholder",
  ],
};
</script>

<style lang="scss">
$height: rem(60px);
$height-sm: rem(50px);
$color: $green_dark;
$font_size: rem(20px);
$background: #ffffff;
$border: #ffffff;
$align: left;
$radius: rem(30px);

.form-select {
  position: relative;
  max-width: 100%;
  z-index: 10;
  .v-select {
    height: $height-sm;
    margin: 0 auto rem(20px);
    z-index: 1;
    &._bordered {
      height: rem(55px);
      margin-bottom: 0;
      .vs__open-indicator {
        width: rem(14px);
        height: rem(20px);
        margin-left: rem(14px);
        background-image: url("../../assets/images/icons/select-arrow-2.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .vs__selected {
        position: relative;
        color: #fff;
        font-family: $bold;
        font-size: rem(16px);
        text-transform: uppercase;
        text-align: left;
        padding: 0px 5px 0 0;
      }
      .vs__dropdown-toggle {
        padding: rem(0px) rem(26px) 0 rem(20px);
        border: rem(2px) solid #fff;
        border-radius: rem(30px);
        background: $green_darken;
      }
      .vs__dropdown-menu {
        width: 100%;
        min-width: auto;
        top: rem(50px);
        margin-top: 0;
        padding-top: rem(10px);
        border-radius: rem(16px);
        border: none;
        background: #ffffff;
        z-index: 2000;
      }
      .vs__dropdown-option {
        padding: rem(8px) rem(17px) rem(8px);
        color: $green_darken;
        font-family: $bold;
      }
      .vs__dropdown-option--highlight {
        color: $green_darken;
        background: #e4e4e4;
      }
    }
  }
  &._rounded {
    .v-select {
      .vs__dropdown-toggle,
      .vs__dropdown-menu {
        border-radius: rem(30px);
      }
    }
  }
  &.error {
    .v-select {
      .vs__dropdown-toggle {
        border-color: #ec2a86 !important;
      }
    }
  }
  .vs__dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    height: 100%;
    max-width: 100%;
    z-index: 1001;
    background: $background;
    border-radius: $radius;
    border: rem(2px) solid $background;
    padding: 2px rem(15px) 0 rem(20px);
  }

  .vs__selected-options {
    padding: 0;
    max-width: 90%;
  }

  .vs__search {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    font-family: $bold;
    font-size: rem(14px);
    color: $color;
    text-transform: uppercase;
    &::placeholder {
      color: #2d2d2d80;
    }
    &:focus {
      border: 0;
      padding: 0;
      margin: 0;
    }
  }

  .vs__actions {
    margin-left: auto;
    padding: 0px 0px 0 3px;
  }

  .vs__clear {
    display: none;
  }

  .vs__open-indicator {
    width: rem(30px);
    height: rem(30px);
    background: url("../../assets/images/icons/select-arrow.svg") no-repeat
      center;
    background-size: contain;
    path {
      display: none;
    }
  }

  .vs__selected {
    width: 100%;
    display: block;
    bottom: 0;
    padding: 0;
    margin: 0;
    color: #2d2d2d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: $align;
    text-transform: uppercase;
    font-family: $bold;
    font-size: rem(14px);
  }

  .vs--single.vs--open .vs__selected {
    position: relative;
    opacity: 1;
  }

  .vs__dropdown-menu {
    border: 0;
    margin-top: calc(-#{$height-sm} + #{rem(1px)});
    padding-top: $height-sm;
    background: $background;
    border: rem(0px) solid $background;
    box-shadow: 0px 4px 4px rgba(99, 89, 66, 0.25);
    border-radius: $radius;
  }

  .vs__dropdown-option {
    max-width: 100%;
    white-space: normal;
    color: $color;
    font-size: rem(14px);
    text-align: $align;
    font-family: $bold;
    text-transform: uppercase;
    padding: rem(10px) rem(17px) rem(10px) rem(20px);
  }

  .vs__dropdown-option--highlight {
    color: $green_dark;
    background: #e4e4e4;
  }
  @media (min-width: $md) and (orientation: landscape) {
    margin: 0;
    .v-select {
      height: $height;
      &._bordered {
        height: rem(60px);
        .vs__selected {
          text-align: center;
          font-size: rem(20px);
        }
        .vs__dropdown-toggle {
          padding: rem(0px) rem(26px) 0 rem(28px);
        }
      }
    }
    .vs__selected,
    .vs__search,
    .vs__dropdown-option {
      font-size: $font_size;
    }
    .vs__dropdown-toggle {
      padding: 2px rem(15px) 0 rem(28px);
      border: rem(2px) solid $border;
    }
    .vs__dropdown-menu {
      margin-top: calc(-#{$height} + #{rem(1px)});
      padding-top: $height;
      border: rem(0px) solid $border;
    }
    .vs__open-indicator {
      width: rem(36px);
      height: rem(36px);
    }
  }
}
</style>
