<template>
  <label class="form-file">
    <div class="form-file__caption">{{ label }}</div>
    <input
      type="file"
      class="form-file__input"
      @input="(e) => submitMedia(e.target.files)"
    />
    <div class="form-file__custom">
      <div class="form-file__chosen" v-if="chosenFileName[0]">
        {{ chosenFileName[0].name }}
        <div class="form-file__del" @click.prevent="deleteFile"></div>
      </div>
      <span class="form-file__caption" v-else>Выберите фото</span>
      <svg
        class="form-file__icon"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="19"
          fill="#8DFF49"
          stroke="#004721"
          stroke-width="2"
        />
        <path
          d="M19.6001 12.7998L19.6001 27.1998"
          stroke="black"
          stroke-width="3"
          stroke-linecap="round"
        />
        <path
          d="M26.8 20L12.4 20"
          stroke="black"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </label>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
    },
    chosenFileName: {
      type: [FileList, Object],
    },
  },
  data: function () {
    return {
      // chosenFileName: ""
    };
  },
  methods: {
    submitMedia(e) {
      this.$emit("submitMedia", e);
    },
    deleteFile() {
      this.$emit("deleteFile");
    },
  },
};
</script>

<style lang="scss" scoped>
.form-file {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto rem(15px);
  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }

  &__custom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: rem(50px);
    padding: 0 rem(15px) 0 rem(20px);
    margin-bottom: rem(10px);
    border: rem(2px) solid #ffffff;
    background: #fff;
    border-radius: rem(30px);
    cursor: pointer;
    img {
      margin-right: rem(6px);
    }
    span {
      font-size: rem(14px);
      color: rgba(45, 45, 45, 0.5);
      font-family: $bold;
      text-transform: uppercase;
      line-height: 1;
      transition: 0.4s;
    }
    &:hover {
      span {
        border-color: transparent;
      }
    }
  }

  &__caption {
    cursor: pointer;
    color: $yellow;
    font-size: rem(15px);
  }

  &__btn {
    height: rem(32px);
    margin: 0;
    line-height: rem(32px);
    padding: 0 rem(28px);
    font-size: rem(13px);
    background: transparent;
  }

  &__chosen {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: rem(22px);
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url("../../assets/images/icons/attach.svg") no-repeat center
      left;
    background-size: rem(16px);
    color: #2d2d2d;
    font-family: $bold;
    font-size: rem(16px);
  }

  &__del {
    cursor: pointer;
    display: flex;
    width: rem(10px);
    height: rem(10px);
    margin: 0 0 0 rem(10px);
    background: url("../../assets/images/icons/close.svg") no-repeat center;
    background-size: contain;
  }
  &__icon {
    @include size(rem(30px));
    margin-left: auto;
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__custom {
      height: rem(60px);
      padding: rem(10px) rem(12px) rem(10px) rem(28px);
      span {
        font-size: rem(20px);
      }
    }
    &__icon {
      @include size(rem(36px));
      margin-left: auto;
    }
  }
}
</style>
