<template>
  <form method="POST" class="authorization__signin">
    <div class="authorization__signin-fields">
      <inputText
        label="E-mail"
        type="email"
        :field="email"
        @input="email = $event"
        name="email"
        autocomplete="on"
        autocompletetype="email"
        :class="{
          error: validationStatus($v.email) || errorMessage.email,
        }"
        :error="
          (!$v.email.required && $v.email.$error
            ? 'Обязательное поле'
            : !$v.email.email && $v.email.$error
            ? 'Некорректный e-mail'
            : '') || errorMessage.email
        "
      />
      <inputText
        label="Пароль"
        name="password"
        type="password"
        autocomplete="current-password"
        :field="password"
        :class="{
          error: validationStatus($v.password) || this.errorMessage.password,
        }"
        :error="
          (!$v.password.required && $v.password.$error
            ? 'Обязательное поле'
            : !$v.password.minLength && $v.password.$error
            ? 'Минимум ' + $v.password.$params.minLength.min + ' символов'
            : '') || this.errorMessage.password
        "
        @input="password = $event"
      >
        <router-link class="form__forget-link" :to="{ name: 'Recover' }"
          >Забыли пароль?
        </router-link>
      </inputText>

      <div class="authorization__signin-footer">
        <button
          type="button"
          class="btn btn--primary btn--icon"
          @click="submit()"
          :class="{ loading: submitStatus == 'PENDING' }"
        >
          Войти
          <img src="../../assets/img/spinner.svg" class="loader" alt="" />
        </button>
        <router-link
          v-if="!$store.getters.endTime"
          type="button"
          class="form-page__another-option"
          :to="{ name: 'Signup' }"
        >
          Зарегистрироваться
          <svg
            width="11"
            height="16"
            viewBox="0 0 11 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.290527 16V0L10.7091 8.18605L0.290527 16Z"
              fill="white"
            />
          </svg>
        </router-link>
      </div>
    </div>
  </form>
</template>

<script>
import inputText from "@/components/form/inputText.vue";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "LoginForm",
  props: ["userPhone"],
  data() {
    return {
      domain: "/",
      ready: false,
      email: null,
      password: null,
      checkbox: null,
      errorMessage: {
        email: null,
        password: null,
        checkbox: null,
      },

      submitStatus: null,
    };
  },

  validations: {
    email: { required, email },
    password: { required, minLength: minLength(4) },
  },

  methods: {
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        password: null,
      };
    },

    close() {
      this.$store.commit("SHOW_POPUP_CONTENT", false);
    },
    switchToRecover() {
      this.$modal.hide("authorization");
      this.$modal.show("recover");
    },
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("SignIn", {
            login: this.email,
            password: this.password,
          })
          .then((r) => {
            if (!r.result) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.error && r.error.email) {
                [this.errorMessage.email] = r.error.email;
                fieldsError = true;
              } else if (r.error && r.error.login) {
                [this.errorMessage.email] = r.error.login;
                fieldsError = true;
              }

              if (r.error && r.error.password) {
                [this.errorMessage.password] = r.error.password;
                fieldsError = true;
              }
              if (r.error && !fieldsError) {
                this.$modal.show("common_error", {
                  title: "Что-то пошло не так! " + (r.error[0] || r.error),
                });
              }
              if (r.message && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.submitStatus = null;

              this.$store.commit("SET_TOKEN", r.data.auth_key);
              this.gtmEvent("successfull_auth");
              this.$store.dispatch("GetProfile").then((res) => {
                if (!res.result) {
                  this.$router.push("/");
                } else {
                  this.$root.$emit("onLogined");
                  this.$router.push({ name: "Home" });
                  if (!localStorage.getItem("firstPromo")) {
                    // this.$modal.show('extended');
                    localStorage.setItem("firstPromo", true);
                  }
                }
              });
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
    showSignUpModal() {
      this.$modal.hide("authorization");
      this.$modal.show("signup");
    },
  },

  mounted() {
    this.phone = this.userPhone || null;
  },
  components: {
    inputText,
  },
};
</script>

<style lang="scss" scoped>
.authorization {
  h3 {
    text-align: center;
    margin-top: 8px;
  }

  &__signin {
    width: 100%;
    margin: 0 auto;
    &-fields {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    &-footer {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      .btn {
        width: 100%;
      }
    }

    .forget-link {
      white-space: nowrap;
      font-size: rem(14px);
      text-align: right;
      b {
        border-bottom: 1px solid currentColor;
      }
    }

    .forget-link:hover {
      text-decoration: none;
    }
  }
  &__checkbox {
    white-space: nowrap;
  }
  &__row {
    width: 100%;
    display: flex;
    margin-top: rem(10px);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(20px);
    * {
      flex: 0 0 45%;
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__checkbox {
      margin-bottom: rem(15px);
    }
    &__signin {
      .forget-link {
        margin: 0 0 rem(34px);
        font-size: rem(14px);
        line-height: rem(19px);
      }
      &-footer {
        width: 100%;
        flex-direction: column;
        .btn {
          min-width: auto;
          width: 100%;
          &:not(:last-of-type) {
            margin-bottom: rem(30px);
          }
        }
      }
    }
    &__row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: rem(5px);
      margin-top: rem(10px);
    }
  }
}
</style>
