<template>
  <form method="POST" class="signup">
    <div class="signup__fields">
      <inputText
        label="ФИО"
        :field="name"
        name="name"
        autocomplete="name"
        :class="{
          error: validationStatus($v.name) || this.errorMessage.name,
        }"
        :error="
          (!$v.name.required && $v.name.$error
            ? 'Обязательное поле'
            : !$v.name.rus && $v.name.$error
            ? 'Введите текст на русском языке'
            : '') || this.errorMessage.name
        "
        @input="name = $event"
      />

      <inputText
        label="E-mail"
        :field="email"
        type="email"
        name="username"
        autocomplete="username"
        autocompletetype="email"
        :class="{
          error: validationStatus($v.email) || this.errorMessage.email,
        }"
        :error="
          (!$v.email.required && $v.email.$error
            ? 'Обязательное поле'
            : !$v.email.email && $v.email.$error
            ? 'Некорректный e-mail'
            : '') || this.errorMessage.email
        "
        @input="email = $event"
      />
      <div class="signup__row">
        <div class="signup__col">
          <inputText
            label="Номер телефона"
            :field="phone"
            @input="phone = $event"
            type="tel"
            name="tel"
            autocomplete="tel"
            :mask="'+#(###) ###-##-##'"
            :class="{
              error: validationStatus($v.phone) || this.errorMessage.phone,
            }"
            :error="
              (!$v.phone.required && $v.phone.$error
                ? 'Обязательное поле'
                : !$v.phone.minLength && $v.phone.$error
                ? 'Минимум 11 символов'
                : '') || this.errorMessage.phone
            "
          />
        </div>
        <div class="signup__col">
          <inputText
            label="Дата рождения"
            :field="date_birth"
            placeholder="ДД.ММ.ГГГГ"
            autocomplete="bday"
            @input="date_birth = $event"
            type="text"
            :mask="'##.##.####'"
            :class="{
              error:
                validationStatus($v.date_birth) || this.errorMessage.date_birth,
            }"
            :error="
              (!$v.date_birth.required && $v.date_birth.$error
                ? 'Обязательное поле'
                : '') || this.errorMessage.date_birth
            "
          />
        </div>
      </div>
      <div class="signup__row">
        <div class="signup__col">
          <inputText
            label="Пароль"
            :field="password"
            maxlength="24"
            name="password"
            type="password"
            autocomplete="new-password"
            @input="password = $event"
            :class="{
              error: validationStatus($v.password) || errorMessage.password,
            }"
            :error="
              (!$v.password.required && $v.password.$error
                ? 'Обязательное поле'
                : !$v.password.minLength && $v.password.$error
                ? 'Минимум 6 символов'
                : !$v.password.maxLength && $v.password.$error
                ? 'Максимум 24 символа'
                : '') || errorMessage.password
            "
          />
        </div>
        <div class="signup__col">
          <inputText
            label="повторите Пароль"
            :field="repPassword"
            type="password"
            autocomplete="new-password"
            maxlength="24"
            @input="repPassword = $event"
            :class="{
              error:
                validationStatus($v.repPassword) || errorMessage.repPassword,
            }"
            :error="
              (!$v.repPassword.required && $v.repPassword.$error
                ? 'Обязательное поле'
                : !$v.repPassword.minLength && $v.repPassword.$error
                ? 'Минимум 6 символов'
                : !$v.repPassword.maxLength && $v.repPassword.$error
                ? 'Максимум 24 символа'
                : !$v.repPassword.sameAsPassword && $v.repPassword.$error
                ? 'Пароли не совпадают'
                : '') || errorMessage.repPassword
            "
          />
        </div>
      </div>
      <!-- <label
        class="form__field form__field--white"
        :class="{
          error: validationStatus($v.city) || this.errorMessage.city,
        }"
      >
        <dadata-suggestions
          id="city"
          placeholder="Город"
          class="form__field-input form__field-input--lg"
          field-value="value"
          :options="dadataOptionsCity"
          v-model="city"
        />
        <div class="error-hint" v-if="errorMessage.city || $v.city.$error">
          {{
            (!$v.city.required && $v.city.$error ? "Обязательное поле" : "") ||
            errorMessage.city
          }}
        </div>
      </label> -->
    </div>

    <div class="signup__checkbox_list">
      <checkBox
        :label="`Согласен на&nbsp;обработку <a href='${publicPath}docs/policy.pdf' class='_undeline-link _bold' target='_blank'>персональных данных</a>`"
        :field="checkbox"
        :class="{
          error: validationStatus($v.checkbox) || this.errorMessage.checkbox,
        }"
        :error="this.errorMessage.checkbox"
        @input="checkbox = $event"
      />
      <checkBox
        :label="`Согласен с&nbsp;<a href='${publicPath}docs/rules.pdf' class='_undeline-link _bold' target='_blank'>правилами акции</a>`"
        :field="checkbox2"
        :class="{
          error: validationStatus($v.checkbox2) || this.errorMessage.checkbox2,
        }"
        :error="this.errorMessage.checkbox2"
        @input="checkbox2 = $event"
      />
      <!-- <checkBox
        color="white"
        label="Я даю согласие на&nbsp;получение дополнительной информационной рассылки"
        :field="checkbox3"
        :class="{
          error: validationStatus($v.checkbox3) || this.errorMessage.checkbox3,
        }"
        :error="this.errorMessage.checkbox3"
        @input="checkbox3 = $event"
      /> -->
    </div>
    <div class="signup__footer">
      <button
        type="button"
        class="btn btn--primary w-100"
        @click="submit()"
        :class="{ loading: submitStatus == 'PENDING' }"
      >
        Зарегистрироваться<img
          src="../../assets/img/spinner.svg"
          class="loader"
          alt=""
        />
      </button>
      <router-link
        type="button"
        class="form-page__another-option"
        :to="{ name: 'Login' }"
      >
        авторизация
        <svg
          width="11"
          height="16"
          viewBox="0 0 11 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0.290527 16V0L10.7091 8.18605L0.290527 16Z" fill="white" />
        </svg>
      </router-link>
    </div>
  </form>
</template>

<script>
import inputText from "@/components/form/inputText.vue";
import checkBox from "@/components/form/checkBox.vue";

import {
  required,
  email,
  minLength,
  maxLength,
  sameAs,
} from "vuelidate/lib/validators";
const rus = (value) => /^[А-ЯЁа-яё ]+$/.test(value);

export default {
  name: "SignupForm",
  props: ["network"],
  data() {
    return {
      publicPath: "/",
      ready: false,
      email: null,
      name: null,
      date_birth: null,
      phone: null,
      city: null,
      source: null,
      password: null,
      repPassword: null,
      checkbox: false,
      checkbox2: false,
      checkbox3: true,
      dadataOptionsCity: {
        bounds: "city-city",
        type: "ADDRESS",
        geoLocation: false,
      },
      errorMessage: {
        email: null,
        name: null,
        date_birth: null,
        phone: null,
        city: null,
        source: null,
        password: null,
        repPassword: null,
        checkbox: null,
        checkbox2: null,
        checkbox3: null,
      },

      submitStatus: null,
    };
  },

  validations: {
    email: { required, email },
    name: { required, rus },
    date_birth: { required },
    phone: { required, minLength: minLength(11) },
    // city: { required },
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(24),
    },
    repPassword: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(24),
      sameAsPassword: sameAs("password"),
    },
    checkbox: {
      required,
      sameAs: sameAs(() => true),
    },
    checkbox2: {
      required,
      sameAs: sameAs(() => true),
    },
  },
  watch: {
    checkbox(newVal) {
      if (!newVal) {
        this.$store.commit("SET_AGREE", false);
      }
    },
  },
  methods: {
    selectSuggestion(suggestion) {
      this.city = suggestion.data.city;
    },
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        name: null,
        phone: null,
        city: null,
        date_birth: null,
        source: null,
        repPassword: null,
        password: null,
        checkbox: null,
        checkbox2: null,
        checkbox3: null,
      };
    },
    showRules() {
      if (!this.$store.getters.agree) {
        this.$modal.show("document_popup", {
          src: this.publicPath + "docs/rules.pdf",
        });
      }
    },
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      if (this.$store.getters.endTime) {
        this.$modal.show("temporarily_unavailable");
      } else {
        this.$v.$touch();
        if (this.$v.$pendding || this.$v.$error) return;

        if (this.submitStatus !== "PENDING") {
          this.submitStatus = "PENDING";
          let formData = {
            login: this.email,
            phone: this.phone,
            name: this.name,
            date_birth: this.date_birth,
            source: this.source,
            pass: this.password,
            passR: this.repPassword,
            rules1: this.checkbox,
            rules2: this.checkbox2,
          };
          if (localStorage.getItem("utm_source")) {
            formData.utm_source = localStorage.getItem("utm_source");
          }
          this.$store
            .dispatch("SignUp", formData)
            .then((r) => {
              console.log(r);
              if (!r.result) {
                this.submitStatus = null;

                let fieldsError = null;

                if (r.error && r.error.email) {
                  [this.errorMessage.email] = r.error.email || "";
                  fieldsError = true;
                } else if (r.error && r.error.login) {
                  [this.errorMessage.email] = r.error.login;
                  fieldsError = true;
                }
                if (r.error && r.error.phone) {
                  [this.errorMessage.phone] = r.error.phone;
                  fieldsError = true;
                }
                if (r.error && r.error.date_birth) {
                  [this.errorMessage.date_birth] = r.error.date_birth;
                  fieldsError = true;
                }
                if (r.error && r.error.name) {
                  [this.errorMessage.name] = r.error.name;
                  fieldsError = true;
                }
                if (r.error && r.error.pass) {
                  [this.errorMessage.password] = r.error.pass;
                  fieldsError = true;
                }
                if (r.error && r.error.passR) {
                  [this.errorMessage.repPassword] = r.error.passR;
                  fieldsError = true;
                }
                if (r.error && !fieldsError) {
                  this.$modal.show("common_error", {
                    title: "Что-то пошло не так! " + (r.error[0] || r.error),
                  });
                }
                if (r.message && !fieldsError) {
                  this.$modal.show("common_error", {
                    text: "Что-то пошло не так! " + r.message,
                  });
                }
              } else {
                this.$modal.show("success_signup", {
                  title: "Спасибо",
                  email: this.email,
                  withoutClosing: true,
                });
                this.gtmEvent("successfull_registration");
                localStorage.removeItem("utm_source");
                localStorage.setItem('utm_source_done', true);
                // this.$store.commit("SET_TOKEN", r.data[0]);

                // this.$store.dispatch("GetProfile").then(() => {
                //   this.$router.push({ name: "Profile"});
                // });
              }
            })
            .catch((e) => {
              this.submitStatus = null;
              console.log(e);
              this.$modal.show("common_error", {
                text: "Что-то пошло не так! " + e,
              });
            });
          }
      }
    },
    showLogInModal() {
      this.$modal.hide("signup");
      this.$modal.show("authorization");
    },
  },
  mounted() {
    console.log(this.$route);
  },
  components: {
    inputText,
    checkBox,
  },
};
</script>
<style lang="scss">
.suggestions-hint {
  display: none;
}
.suggestions-wrapper {
  position: absolute !important;
  margin-top: rem(10px) !important;
  width: 100%;
  z-index: 100;
}
.suggestions-suggestions {
  border: none !important;
  border-radius: rem(0px);
  overflow: auto;
  border: 1px solid $yellow;
}
.suggestions-suggestion {
  padding: rem(10px) rem(20px) !important;
  &:hover {
    background: rgba($green-light, 0.5) !important;
  }
}
.suggestions-value {
  font-size: rem(16px);
  strong {
    font-weight: bold !important;
    color: $red !important;
  }
}
</style>
<style lang="scss" scoped>
.signup {
  width: 100%;
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__checkbox_list {
    margin-top: rem(10px);
    margin-bottom: rem(30px);
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__row {
      flex-direction: row;
    }
    &__col {
      flex: 50%;
      &:not(:last-of-type) {
        margin-right: rem(20px);
      }
    }
    &__checkbox_list {
      margin-top: rem(30px);
      margin-bottom: rem(30px);
    }
  }
}
</style>
