<template>
  <label class="form-textarea">
    <textarea
      class="form-textarea__field"
      :placeholder="placeholder || ' '"
      v-model.trim="retValue"
      :name="name"
      @focus="errorReset()"
      @input="onInput()"
      @blur="onBlur()"
    ></textarea>
    <div class="form-textarea__caption" v-if="label">{{ label }}</div>
    <div class="error-hint" v-if="error">{{ error }}</div>
  </label>
</template>
<script>
export default {
  data() {
    return {
      retValue: this.field,
      nameValue: this.name || "",
    };
  },
  methods: {
    errorReset() {
      this.$parent.errorReset();
    },

    onInput() {
      this.$emit("input", this.retValue);
    },

    onBlur() {
      this.$emit("input", this.retValue);
    },
  },
  props: {
    field: String,
    name: String,
    label: {
      type: String,
    },
    error: {
      type: String,
    },
    value: [String, Number],
    placeholder: {
      type: String,
    },
  },
};
</script>
<style lang="scss" scoped>
$color: $red;
.form-textarea {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0 auto rem(20px);

  &__field {
    resize: none;
    min-height: rem(170px);
    width: 100%;
    padding: rem(20px) rem(20px) 0;
    max-width: 100%;
    appearance: none;
    font-size: rem(16px);
    background: #fff;
    font-family: $bold;
    border: rem(2px) solid #fff;
    border-radius: rem(20px);
    transition: all 0.3s ease-in-out;
    color: #2d2d2d;
    text-transform: uppercase;
    &::placeholder {
      text-transform: uppercase;
      opacity: 1;
    }
    &:focus,
    &:not(:placeholder-shown) {
      outline: none;
      border-color: $green_light;
      & ~ .form-textarea__caption {
        transform: scale(0.6) translateY(#{rem(-13px)});
      }
    }
  }
  &__caption {
    position: absolute;
    top: rem(15px);
    left: rem(20px);
    display: block;
    margin-bottom: rem(3px);
    font-size: rem(14px);
    line-height: rem(22px);
    text-transform: uppercase;
    color: rgba(45, 45, 45, 0.5);
    font-family: $bold;
    transition: 0.4s;
    transform-origin: 0 0;
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__field {
      padding: rem(20px) rem(28px) 0;
      font-size: rem(20px);
      border-radius: rem(30px);
    }
    &__caption {
      top: rem(18px);
      left: rem(28px);
      font-size: rem(20px);
    }
  }
}
</style>
