<template>
  <Modal
    name="extended"
    title="Лето ушло, <br>а Hollandia остается!"
    size="xlg"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="success_modal">
        <div class="modal__text">
          Мы&nbsp;продлили Акцию&nbsp;&mdash; регистрируйте коды 
          <br class="hidden-xs"><span>до&nbsp;25&nbsp;октября</span> и&nbsp;выигрывайте призы. 
          <br class="hidden-xs">Забирайте сертификаты Озон и&nbsp;Спортмастер, 
          <br class="hidden-xs">чтобы с&nbsp;удовольствием провести осень.
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>
