<template>
  <Modal
    name="copy_code"
    size="lg"
    title="Поздравляем!"
    :premier="true"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <p class="modal__text _centered-text">
        Ваш приз — промокод на видео сервис Premier
      </p>
      <div class="copy-code">
        <input id="code" class="copy-code__code" :value="code" readonly />
        <button @click="copyCode" class="btn btn--primary btn--icon">
          <svg
            width="29"
            height="30"
            viewBox="0 0 29 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.8334 6.8663H20.7388V5.46717C20.7388 4.76012 20.4492 4.11757 19.9822 3.65069C19.5151 3.18364 18.8725 2.89411 18.1665 2.89411H4.96717C4.26012 2.89411 3.61757 3.18365 3.15069 3.65069C2.68364 4.11775 2.39411 4.76033 2.39411 5.46717V18.6665C2.39411 19.3726 2.68365 20.0161 3.15069 20.4822C3.61775 20.9492 4.26033 21.2388 4.96717 21.2388H6.3663V11.3334C6.3663 10.1039 6.86893 8.98722 7.67769 8.17764C8.48645 7.36806 9.60374 6.86624 10.8335 6.86624L10.8334 6.8663ZM22.6337 6.8663H24.0328C25.2624 6.8663 26.379 7.36893 27.1886 8.17769C27.9974 8.98645 28.5 10.1037 28.5 11.3335V24.5328C28.5 25.7623 27.9974 26.879 27.1886 27.6886C26.379 28.4982 25.2626 29 24.0328 29H10.8335C9.60395 29 8.48727 28.4974 7.67769 27.6886C6.86811 26.8798 6.3663 25.7626 6.3663 24.5328V23.1337H4.96717C3.73765 23.1337 2.62098 22.6311 1.8114 21.8223C1.00264 21.0136 0.5 19.8963 0.5 18.6665V5.46717C0.5 4.23765 1.00264 3.12098 1.8114 2.3114C2.62098 1.50264 3.73745 1 4.96717 1H18.1665C19.3961 1 20.5127 1.50264 21.3223 2.3114C22.1319 3.12098 22.6337 4.23745 22.6337 5.46717V6.8663ZM24.0328 8.76119H10.8335C10.1274 8.76119 9.48387 9.05072 9.01782 9.51777C8.55076 9.98482 8.26124 10.6274 8.26124 11.3342V24.5336C8.26124 25.2397 8.55077 25.8832 9.01782 26.3501C9.48487 26.8171 10.1275 27.1067 10.8335 27.1067H24.0328C24.7399 27.1067 25.3824 26.8171 25.8493 26.3501C26.3164 25.883 26.6059 25.2404 26.6059 24.5336V11.3342C26.6059 10.6282 26.3164 9.98464 25.8493 9.51777C25.3823 9.05071 24.7397 8.76119 24.0328 8.76119Z"
              fill="white"
              stroke="white"
            />
          </svg>
          <span>{{ buttonText }}</span>
        </button>
        <div class="copy-code__text">Промокод действителен до 30.10.2023</div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";
export default {
  components: {
    Modal,
  },
  data: function () {
    return {
      code: null,
      buttonText: "скопировать",
    };
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen(event) {
      this.code = event.params.code;
    },
    copyCode() {
      const copyText = document.getElementById("code");

      copyText.select();
      copyText.setSelectionRange(0, 99999);

      navigator.clipboard.writeText(copyText.value);

      this.buttonText = "Код скопирован";
      setTimeout(() => {
        this.buttonText = "скопировать";
      }, 2000);
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.copy-code {
  width: rem(340px);
  max-width: 100%;
  margin: auto;
  &__code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(60px);
    margin-top: rem(10px);
    margin-bottom: rem(20px);
    border: rem(2px) dashed $green_light;
    border-radius: rem(30px);
    font-size: rem(24px);
    font-family: $bold;
    text-align: center;
    text-transform: uppercase;
    background: none;
    outline: none !important;
  }
  &__text {
    font-size: rem(19px);
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: rem(20px);
  }
}
</style>
