<template>
  <Modal
    name="success_signup"
    :success="true"
    size="lg"
    :title="title"
    @closeModal="closeModal"
    :withoutClosing="withoutClosing"
  >
    <template v-slot:content>
      <div class="success_modal">
        <div class="modal__text _centered-text">
          Для завершения регистрации перейдите по&nbsp;ссылке из&nbsp;письма, отправленного на&nbsp;указанный адрес
          <b>{{ email }}</b>
        </div>
        <!-- <div class="modal__text">Регистрация прошла успешно. <br>Пожалуйста, пройдите авторизацию.</div> -->
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {
      email: null,
      title: null,
      withoutClosing: null,
    };
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },

    beforeOpen(event) {
      console.log(event.params);
      if (event.params.title) {
        this.title = event.params.title || "Спасибо!";
      }
      this.email = event.params.email;
      this.withoutClosing = event.params.withoutClosing;
    },
  },
};
</script>
