<template>
  <Modal
    name="temporarily_unavailable"
    title="<span>Спасибо за участие!<span class='white'>Акция завершена</span></span> "
    size="lg"
    :finishIcon="true"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="success_modal">

      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>
