// @use "scss:math";
$default-font-size: 16px;
$def: 1920px;

@function rem($size) {
  @return calc($size / $default-font-size * 1rem);
}

@function vh($num, $def: 1080px) {
	@return calc(($num * 100 / $def) * 1vh);
}

@function vw($num) {
	@return calc(($num * 100 / $def) * 1vw);
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}
