// colors
$brown: #27201E;
$brown_light: #603D36;
$grey: #313131;
$yellow: #F1C27A;
$green: #0B8024;
$green_dark: #004721;
$green_darken: #003318;
$green_light: #8DFF49;
$red: #E40A17;
$black: #040404;
$white: #FFF8F0;
$light: #F8E9D9;
$pink: #F49F84;

// fonts
$reg: 'PT Sans';
$bold: 'HeliosCond-Bold';
// grid
$max: 1670px;
$xlg: 1400px;
$lg: 1279px;
$md: 1023px;
$sm: 767px;
$xs: 376px;