.btn {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: rem(55px);
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-size: rem(18px);
    padding: rem(0px) rem(30px) 0;
    font-family: $bold;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: none;
    box-sizing: border-box;
    border-radius: rem(50px);
    letter-spacing: rem(-0.3px);
    z-index: 1;
    &:focus {
        outline: none;
    }
    &:hover {
        .icon {
            &:first-of-type {
                opacity: 0;
            }
            &:last-of-type {
                opacity: 1;
            }
        }
    }
    &._disabled {
        opacity: 0.6;
        cursor: default;
    }
    &.loading {
        pointer-events: none;
        opacity: 0.8;
    }
    .icon-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: rem(3px);
        margin-left: rem(10px);
        margin-right: rem(-3px);
    }
    img.icon,
    svg.icon {
        height: rem(16px);
        &:last-of-type {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
        }
    }
    &--primary {
        min-width: rem(260px);
        color: #FFF;  
        background: $red;
        border: rem(2px) solid $green_light;
        &:active {
            background: #C40914;
            color: #FFF;  
        }
    }

    // &--default {

    // }

    &--primary:hover {
        background: #CC4722;
        color: $green_light;
    }

    &--lg {
        height: rem(55px);
        font-size: rem(18px);
    }

    &--secondary  {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green_light;
        color: $green_dark;
        &._active,
        &:hover {
            background: #ABFF79;
        }
    }
    &--bordered {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: rem(2px) solid $red;
        color: $red;
        &._active,
        &:hover {
            color: $light !important;
            background: $red;
        }
        &._white {
            color: #FFF;
            border-color: #FFF;
            &:hover {
                color: $red !important;
                background: #F8E0B2;
                border-color: #F8E0B2;
            }
        }
    }
    &--icon {
        display: flex !important;
        align-items: center;
        justify-content: center;
        svg {
            width: rem(27px);
            margin-top: rem(-3px);
            margin-right: rem(14px);
        }
    }
    &--save {
        color: #FFFFFF;
        font-size: 13px;
        
        background: #56A956;
        border-radius: 40px;
        padding: 5px 15px;
    }
    &--save:hover {
        opacity: 0.8;
    }

    &--cancel {
        color: #FFFFFF;
        font-size: 13px;
        
        background: #BFD5E0;
        border-radius: 40px;
        padding: 5px 15px;
    }
    &--cancel:hover {
        opacity: 0.8;
    }

    &--default {
        color: #912982;
        font-weight: 700;
        font-size: 22px;
        line-height: 1;
        white-space: nowrap;
        
        padding: 17px 46px 13px;
        border: 2px solid #FFF;
        background: #FFF;
        border-radius: 40px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }

    &--default:hover {
        color: #FFF;
        background-color: transparent;
    }

    &--sm {
        padding: 0 rem(23px);
    }
    @media (min-width: $md) and ( orientation: landscape) {
        height: rem(60px);
        line-height: rem(45px);
        font-size: rem(26px);
        padding: rem(0px) rem(25px) 0;
        &--lg {
            height: vh(100px);
            line-height: vh(100px);
            font-size: vh(44px);
            padding: rem(0px) vh(64px);
        }
    }
    @media (max-width: $md) and ( orientation: landscape) {
        &--lg {
            min-width: rem(180px);
            height: vh(100px);
            line-height: vh(90px);
            font-size: vh(40px);
            padding: rem(0px) vh(24px);
        }
    }
}

.btn.btn--primary {
	position: relative;
	
	& img.loader {
		display: none;
		position: absolute;
		width: 2.5rem;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
}

.btn.btn--primary.loading {
	& img.loader {
		display: block;
	}
}

.btn.btn--secondary {

	position: relative;
	
	& img.loader {
		display: none;
		position: absolute;
		width: 1.8rem;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
}
