.form-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: rem(40px) rem(0px) 0;
  background: url('../../assets/images/rays.svg') no-repeat top center;
  background-size: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    margin-bottom: rem(10px);
    font-family: $bold;
    text-transform: uppercase;
    font-size: vw(105px);
    line-height: 1;
    span {
      display: block;
      font-size: vw(175px);
    }
  }
  &__text {
    font-family: $bold;
    text-transform: uppercase;
    color: $green_light;
    font-size: vw(74px);
    white-space: nowrap;
    line-height: 1.2;
  }
  &__gifts {
    width: auto;
    max-height: vh(535px);
    margin-bottom: rem(20px);
  }
  &-form {
    width: 100%;
    padding: rem(30px) rem(20px);
    background: $green_dark;
    border-radius: rem(20px) rem(20px) 0 0;
    &__title {

    }
    &-wrapper {
      width: rem(700px);
      flex-shrink: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      flex: auto;
    }
  }
  &__another-option {
    display: flex;
    align-items: center;
    margin-top: rem(20px);
    text-transform: uppercase;
    font-family: $bold;
    font-size: rem(18px);
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: $green_light;
      path {
        fill: $green_light
      }
    }
    svg {
      width: rem(10px);
      margin-left: rem(12px);
      path {
        transition: .4s;
      }
    }
  }
  &__feedback {
    padding: rem(21px) 0;
    margin: auto;
    text-transform: uppercase;
    font-family: $bold;
    font-size: rem(18px);
    transition: .4s;
    cursor: pointer;
    &:hover {
      color: $green_light;
    }
  }
    @media (min-width: $md) and ( orientation: landscape) {
    flex-direction: row;
    align-items: center;
    padding: vh(118px) vw(120px) vh(100px);
    background: url('../../assets/images/rays-2.svg') no-repeat bottom left;
    background-size: 80%;
    &__content {
      height: 100%;
      flex: auto;
      padding-right: vw(107px);
    }
    &__title {
      margin-bottom: rem(33px);
      font-size: rem(64px);
      span {
        font-size: rem(100px);
      }
    }
    &__gifts {
      margin-bottom: 0;
    }
    &__text {
      font-size: rem(36px);
    }
    &-form {
      padding: rem(50px) rem(80px);
      border-radius: rem(30px);
      &-wrapper {
        flex: 0 0 auto;
      }
    }
    &__another-option {
      margin-top: rem(30px);
      font-size: rem(26px);
    }
    &__feedback {
      margin: rem(20px) auto;
      font-size: rem(24px);
    }
  }
}