.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__field {
		position: relative;
		display: block;
		&--white.error {
			input {
				border-color: #E40A17;
			}
		}
		&--green {
			margin-bottom: rem(13px);
		}
		&.error {
			input {
				border-color: #E40A17;
			}
		}
	}
	&__title {
		position: relative;
    display: flex;
    max-width: 100%;
    align-self: center;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: rem(20px);
    font-size: rem(30px);
    line-height: 1.2;
    font-family: $bold;
    color: $green_light;
    line-height: 1;
    &::after,
    &::before {
      content: '';
      margin: rem(15px) 0;
      width: rem(30px);
      height: rem(3px);
      background: $green_light;
      flex-grow: 1;
      border-radius: 10px;
    }
    &::after {
      margin-left: rem(10px);
    }
    &::before {
      margin-right: rem(10px);
    }
		  @media (min-width: $md) and ( orientation: landscape) {
      margin-bottom: rem(30px);
      align-items: center;
      font-size: rem(50px);
      &::after,
      &::before {
        width: rem(60px);
        height: rem(4px);
      }
      &::after {
        margin-left: rem(20px);
      }
      &::before {
        margin-right: rem(20px);
      }
      i {
        @include size(rem(10px));
        margin: 0 rem(30px) rem(10px);
      }
    }
	}
	&__text {
		margin-bottom: rem(20px);
		font-size: rem(18px);
		text-align: center;
	}
	&__forget-link {
		position: absolute;
		top: 50%;
		right: rem(20px);
		transform: translateY(-50%);
		color: #2D2D2D;
		font-size: rem(14px);
		border-bottom: 1px solid transparent;
		transition: .3s;
		&:hover {
			border-color: currentColor;
		}
	}
	&__caption {
		position: absolute;
		top: rem(15px);
		left: rem(20px);
		display: block;
		margin-bottom: rem(3px);
		font-size: rem(16px);
		line-height: rem(22px);
		text-transform: uppercase;
		color: rgba(45, 45, 45, 0.5);
		font-family: $bold;
		transition: .4s;
		transform-origin: 0 0;
	}

	&-textarea.error {
		textarea {
			border: 1px solid #EC2A86;
		}
	}
	&__error-icon {
		position: absolute;
		top: 50%;
		right: rem(16px);
		transform: translateY(-50%);
		width: rem(26px);
	}
	  @media (min-width: $md) and ( orientation: landscape) {
		&__caption {
			top: rem(18px);
			left: rem(28px);
			font-size: rem(20px);
		}
		&__text {
			margin-bottom: rem(30px);
			font-size: rem(24px);
		}
		&__forget-link {
			right: rem(28px);
			font-size: rem(20px);
		}
	}
}

.btn.btn--secondary.loading {
	& img {
		display: block;
	}
}

.error-hint {
	position: absolute;
	right: 0;
	width: rem(147px);
	// top: rem(-10px);
	bottom: 90%;
	padding: rem(10px) rem(20px);
	font-size: rem(12px);
	background: $green_darken;
	border-radius: rem(10px);
	z-index: 50;
	&::before {
		content: '';
		display: block;
		width: rem(36px);
		height: rem(13px);
		position: absolute;
		top: 95%;
		left: 80%;
		transform: translateX(-50%);
		background: url('../images/corner-green.svg') no-repeat center bottom;
		background-size: contain;
	}
	  @media (min-width: $md) and ( orientation: landscape) {
		width: rem(147px);
		padding: rem(10px) rem(20px);
		left: calc(100% - rem(30px));
		right: auto;
		transform: translateX(-50%);
		font-size: rem(14px);
		&::before {
			left: 50%;
		}
	}
}
