@use "sass:math";
@include font-face("HeliosCond-Bold", "../fonts/HeliosCond/HeliosCond-Bold");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


body {
  position: relative;
  font-family: $reg;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background: #056B29;
    @media (min-width: $md) and ( orientation: landscape) {
    background: #056B29;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.only-mobile {
  display: flex !important;
}
.only-desktop {
  display: none !important;
}
  @media (min-width: $md) and ( orientation: landscape) {
  .only-mobile {
    display: none !important;
  }
  .only-desktop {
    display: flex !important;
  }
}
.only-mobile-inline {
  display: inline !important;
}
.only-desktop-inline {
  display: none !important;
}
  @media (min-width: $md) and ( orientation: landscape) {
  .only-mobile-inline {
    display: none !important;
  }
  .only-desktop-inline {
    display: inline !important;
  }
}
html {
  // font-size: 14px;
  font-size: 4vw;
  // @media (min-width: $xs) {
  //   font-size: 2.9vw;
  // }
  @media (max-width: $md) and ( orientation: landscape) {
    font-size: 1.8vw;
  }
  @media (min-width: $sm) and ( orientation: portrait) {
    font-size: 2.5vw;
  }
  @media (min-width: $md) and ( orientation: landscape) {
    font-size: .8333333vw;
  }

  @media (min-width: $max) {
    font-size: .8333333vw;
  }
}

.order-1 {
  order: 1;
    @media (min-width: $md) and ( orientation: landscape) {
    order: 0;
  }
}
.w-100 {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.fp-tableCell {
  width: 100%;
  vertical-align: top;
    @media (min-width: $md) and ( orientation: landscape) {
    vertical-align: middle;
  }
}
.section,
.page {
  max-width: 100%;
  display: flex;
  border: none;
  z-index: 1;
  &-title {
    position: relative;
    display: flex;
    max-width: 100%;
    align-self: center;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: rem(20px);
    font-size: rem(30px);
    line-height: 1.2;
    font-family: $bold;
    color: $green_light;
    line-height: 1;
    &::after,
    &::before {
      content: '';
      margin: rem(15px) 0;
      width: rem(30px);
      height: rem(3px);
      background: $green_light;
      flex-grow: 1;
      border-radius: 10px;
    }
    &::after {
      margin-left: rem(10px);
    }
    &::before {
      margin-right: rem(10px);
    }
    &._white {
      color: $grey;
    }
    small {
      max-width: 80%;
      margin-top: rem(10px);
      font-size: rem(16px);
      line-height: rem(22px);
      text-transform: none;
    }
    i {
      display: block;
      @include size(rem(6px));
      margin: 0 rem(13px) rem(5px);
      border-radius: 50%;
      background: $red;
    }
      @media (min-width: $md) and ( orientation: landscape) {
      margin-bottom: rem(60px);
      align-items: center;
      font-size: rem(60px);
      &::after,
      &::before {
        width: rem(60px);
        height: rem(4px);
      }
      &::after {
        margin-left: rem(20px);
      }
      &::before {
        margin-right: rem(20px);
      }
      i {
        @include size(rem(10px));
        margin: 0 rem(30px) rem(10px);
      }
      small {
        max-width: 100%;
        font-size: rem(22px);
        letter-spacing: normal;
        line-height: 1.4;
      }
      &._big {
        font-size: rem(96px);
        letter-spacing: rem(5px);
        font-weight: 400;
        &::after {
          display: none;
        }
      }
    }
  }
  
  &-subtitle {
    margin-bottom: rem(15px);
    font-size: rem(18px);
    font-family: $bold;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $md) and ( orientation: landscape) {
      font-size: rem(36px);
    }
  }

    @media (min-width: $md) and ( orientation: landscape) {
    // min-height: calc(var(--vh, 1vh) * 100);
  }

}
._undeline-link {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  &:hover {
    border-color: transparent;
  }
}

._bold {
  font-weight: 700;
}
b {
  font-weight: 700;
}
._uppercase {
  text-transform: uppercase;
}
._centered-text {
  text-align: center !important;
}
// ._red {
//   color: $red;
// }

._white {
  color: #FFF;
}
._yellow {
  color: $yellow;
}
a._red {
  border-bottom: 1px solid currentColor;
  transition: .3s;
  &:hover {
    border-color: transparent;
  }
}
a._green {
  color: $green_light;
  border-bottom: 1px solid currentColor;
  transition: .3s;
  &:hover {
    border-color: transparent;
  }
}
.captcha {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: rem(22px);
}

.captcha > div > div {
  margin: 0 auto;
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.captcha.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.has-tooltip {
  cursor: pointer;
}
.tooltip {
  display: block !important;
  max-width: rem(175px);
  margin-left: rem(-10px);
  z-index: 100000000000;
  margin-bottom: 5px;
  &[x-placement='right'] {
    margin-left: rem(30px);
    margin-bottom: 0;
    .tooltip-inner {
      &:after {
        top: 50%;
        left: rem(-7px);
      }
    }
  }
  .tooltip-inner {
    padding: rem(15px) rem(12px) rem(15px) rem(15px);
    background: #FFF;
    border-radius: rem(14px);
    color: #2D2D2D;
    font-size: rem(18px);
    line-height: rem(20px);
    text-transform: none;
    box-shadow: 0 0 rem(10px) rgba(#000000, .3);
    text-align: left;
    b {
      font-weight: 700;
    }

    &:after {
      position: absolute;
      content: "";
      top: 100%;
      left: 45%;
      width: rem(15px);
      height: rem(15px);
      display: inline-block;
      transform: rotate(45deg) translate(-50%, -50%);
      background: #FFF;
    }
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    z-index: 1;
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
  @media (max-width: $sm) {
    margin-left: rem(-25px);
    .tooltip-inner {
      padding: rem(7px) rem(10px);
      font-size: rem(14px);
      line-height: rem(18px);
    }
  }
}
.slick-slider {
  max-width: 100%;
  .slick-prev,
  .slick-next {
    top: 50%;
    width: rem(34px);
    height: rem(34px);
    transition: 0.4s;
    opacity: 1 !important;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: url("../../assets/images/icons/slider-arrow.svg") no-repeat
        center;
      background-size: contain;
      transition: 0.4s;
      opacity: 1 !important;
      
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  .slick-prev {
    right: 85%;
    left: auto;
    z-index: 100;
  }
  .slick-next {
    left: 85%;
    &::before {
      left: 50%;
      transform: rotate(180deg) translate(50%, 50%) !important;
    }
  }

  .slick-dots,
  .slider-nav {
    display: flex !important;
    width: auto;
    flex-direction: row;
    left: 50%;
    bottom: auto;
    top: calc(100% + #{rem(15px)});
    transform: translateX(-50%);
    z-index: 100;
  }
  .slick-dots {
    li {
      width: rem(8px);
      height: rem(8px);
      button {
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          height: 100%;
          background: $green_light;
          border-radius: 30px;
          z-index: 1;
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @include size(#{rem(16px)});
          background: #056B29;
          border: rem(3px) solid $green_light;
          border-radius: 30px;
          font-size: 0;
          transition: .4s;
          opacity: 0;
          z-index: 2;
        }
      }
      &.slick-active,
      &:hover {
        button {
          &::after {
            opacity: 0;
          }
          &:before {
            opacity: 1;
          } 
        }
      }
    }
  }
  &.slider-nav {
    width: 70%;
    margin: auto;
    margin-top: rem(20px);
    .slider-nav__dot {
      display: block;
      width: rem(12px);
      height: rem(12px);
      background: #FFF;
      border-radius: 30px;
      margin: rem(0px) auto;
      border: 1px solid #FFF;
    }
    .slick-current.slick-slide {
      .slider-nav__dot {
        background: $green_dark;
      }
    }
  }
    @media (min-width: $md) and ( orientation: landscape) {
    .slick-prev,
    .slick-next {
      width: rem(80px);
      height: rem(80px);
      &:before {
        background-image: url("../../assets/images/icons/slider-arrow.svg");
        opacity: .7;
      }
    }
    .slick-prev {
      right: 100%;
      transform: translate(50%, -50%);
    }
    .slick-next {
      left: 100%;
      transform: translate(-50%, -50%);
    }
    .slick-dots {
      top: calc(100% + #{rem(45px)});
      li {
        width: rem(14px);
        height: rem(14px);
        margin: rem(6px) rem(20px);
        button {
          &:before {
            @include size(#{rem(30px)});
            border: rem(5px) solid $green_light;
          }
        }
      }
    }
  }
}
.slider-arrows {
  position: absolute;
  top: calc(100% + #{rem(79px)});
  width: rem(32px);
  height: rem(32px);
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  &._next {
    right: 0;
  }
  &._prev {
    left: 0;
  }
    @media (min-width: $md) and ( orientation: landscape) {
    top: calc(100% + #{rem(38px)});
    width: rem(45px);
    height: rem(45px);
    &._next {
      right: 25%;
    }
    &._prev {
      left: 25%;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &__caption {
    margin-bottom: rem(10px);
    text-align: center;
    font-size: rem(16px);
  }
  
  &__list {
    display: flex;
    margin-bottom: rem(20px);
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(55px);
    height: rem(55px);
    margin: 0 rem(10px);
    border-radius: 50%;
    transition: .4s;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:hover {
      background: $red;
    }
  }
    @media (min-width: $md) and ( orientation: landscape) {
    &__caption {
      margin-top: rem(15px);
      margin-bottom: rem(10px);
      font-size: rem(18px);
    }
    &__list {
      margin-bottom: rem(25px);
    }
    &__item {
      width: rem(48px);
      height: rem(48px);
      margin: 0 rem(6px);
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

[data-show] {
    @media (min-width: $md) and ( orientation: landscape) {
    opacity: 0;
    transition: .4s;
  }
}

@for $i from 1 through 13 {
  .section [data-show]:nth-child(#{$i}) {
    transition-delay: calc($i / 2.5) + s;
  }
}

.scroll-animation {
  opacity: 1;
}

._pointer {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(40px);
  color: #fff;
  &-item {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    @include size(rem(36px));
    margin: 0 rem(4px);
    font-size: rem(16px);
    font-family: $bold;
    background: none;
    cursor: pointer;
    z-index: 1;
      @media (min-width: $md) and ( orientation: landscape) {
      @include size(rem(50px));
      font-size: rem(24px);
      margin: 0 rem(8px);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: rem(2px) solid $green_light;
      border-radius: rem(15px);
      opacity: 0;
      transition: 0.4s;
      z-index: -1;
    }
    &:first-of-type,
    &:last-of-type {
      display: flex !important;
      &:hover {
        path {
          stroke: #FFF;
        }
      }
    }
    &:hover {
      color: $green_light;
      &::after {
        opacity: 1;
      }
    }
    &.current {
      color: $red;
      cursor: default;
      &::after {
        opacity: 1;
        background: $green_light;
      }
    }
    &.visible {
      display: flex;
    }
    &.first {
      margin-right: rem(36px);
      &::before {
        content: "...";
        position: absolute;
        left: 100%;
        margin-left: rem(18px);
      }
    }
    &.last {
      margin-left: rem(36px);
      &::before {
        content: "...";
        position: absolute;
        right: 100%;
        margin-right: rem(16px);
      }
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #056B29;
  pointer-events: none;
  transition: .4s;
  opacity: 0;
  z-index: 100000;
  img {
   max-height: rem(170px);
  }
  &._show {
    opacity: 1;
  }
}