
.container {
  padding-left: rem(20px);
  padding-right: rem(20px);
  @media(min-width: $sm) {
    width: 85vw;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  @media (max-width: $md) and ( orientation: landscape) {
    width: 75vw;
  }
  @media(min-width: $md) {
    padding-left: rem(15px);
    padding-right: rem(15px);
    max-width: 100%;
    width: 80vw;
  }
  @media(min-width: $lg) {
    max-width: 100%;
    width: 87vw;
  }
  @media(min-width: $max) {
    width: 87vw;
  }
}
.hidden-xs {
  @media (max-width: 1025px) and ( orientation: portrait ) {
    display: none !important;
  }
  @media (max-width: $md) and ( orientation: landscape ) {
    display: none !important;
  }
}
.visible-xs {
  @media (min-width: 1024px) and ( orientation: landscape) {
    display: none !important;
  }
}

._red {
  color: $red;
}
a._red {
  border-bottom: 1px solid currentColor;
  transition: .3s;
  &:hover {
    border-color: transparent;
  }
}

.d-flex {
  display: flex;
}

.fxdc {
  flex-direction: column;
  &-sm {
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}