<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>У каждого своя HOLLANDIA</title>

    <meta property="og:title" content="У каждого своя HOLLANDIA" />
    <meta name="description" content="">
    <meta property="og:image" content="<%= BASE_URL %>share.png">
    <meta property="og:url" content="<%= BASE_URL %>">
    <link rel="canonical" href="" />
    <!-- Google Tag Manager -->

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      
      })(window,document,'script','dataLayer','GTM-M769LXZC');</script>
      
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>