<template>
  <div class="home">
    <Hero />
    <Steps />
    <Prizes />
    <Winners />
    <Faq />
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from "@/components/AppHero.vue";
import Steps from "@/components/AppSteps.vue";
import Prizes from "@/components/AppPrizes.vue";
import Faq from "@/components/AppFaq.vue";
import Winners from "../components/AppWinners.vue";

export default {
  name: "Home",
  components: {
    Hero,
    Steps,
    Prizes,
    Faq,
    Winners,
  },
  data: function () {
    return {
      publicPath: process.env.BASE_URL,
      sectionObserver: null,
    };
  },
  mounted() {
    // this.observeSections();
    this.$parent.showFooter = true;
    this.$parent.showHeader = true;
    const t = this;

    if (this.$store.getters.endTime) {
      this.$modal.show("temporarily_unavailable");
    }
    setTimeout(() => {
      if (document.querySelector(".header")) {
        document.querySelector(".header").classList.remove("_white");
      }
    }, 100);
    window.addEventListener("scroll", function () {
      if (document.querySelector(".header")) {
        if (window.scrollY > 100) {
          document.querySelector(".header").classList.add("_modified");
        } else {
          document.querySelector(".header").classList.remove("_modified");
        }
      }
    });
    this.$parent.showFooter = true;
    if (window.innerWidth >= 1024) {
      const sections = document.querySelectorAll(".section");
      const links = document.querySelectorAll("[data-menuanchor]");
      document.addEventListener("scroll", (e) => {
        sections.forEach((ha) => {
          const rect = ha.getBoundingClientRect();
          if (
            (rect.top > 0 && rect.top < 100) ||
            (rect.bottom > 0 && rect.bottom < 1000)
          ) {
            const location = window.location.toString().split("#")[0];
            history.replaceState(null, null, location + "#" + ha.id);
            document.querySelector(`[id='${ha.id}']`).classList.add("active");
            links.forEach((element) => {
              element.classList.remove("active");
            });
            if (document.querySelector(`[data-menuanchor='${ha.id}']`)) {
              document
                .querySelector(`[data-menuanchor='${ha.id}']`)
                .classList.add("active");
            }
          }
          // console.log(rect);
        });
        if (document.querySelector(".hero__arrow-wrapper")) {
          if (window.scrollY > 100 && this.$route.name === "Home") {
            document
              .querySelector(".hero__arrow-wrapper")
              .classList.add("hide");
          } else {
            document
              .querySelector(".hero__arrow-wrapper")
              .classList.remove("hide");
          }
        }
      });
    }
    this.$parent.showFooter = true;
    const params = this.$route.query;
    if (params.email === "0") {
      let socId = params.identity_vk || params.identity_ok || "";

      console.log(socId);

      if (socId.length < 1) {
        this.$modal.show("common_error", {
          title: "Что-то пошло не так!",
        });
        this.$router.push("/");
      } else {
        this.$store.commit("SIGNUP_SOC_ID", socId);
        this.$modal.show("soc_signup");
        this.$router.push({
          name: "Home",
        });
      }
    } else if (params.first === "1") {
      this.$store.commit("SET_TOKEN", params.auth_key);
      this.$store.dispatch("GetProfile").then((r) => {
        this.$modal.show("soc_signup-finish", {
          userName: r.data.profile.name,
        });
        this.$router.push({
          name: "Home",
        });
      });
    } else if (params.result === "1") {
      this.$store.commit("SET_TOKEN", params.auth_key);

      this.$store.dispatch("GetProfile").then(() => {
        this.$router.push({
          name: "Profile",
        });
      });
    }
    this.observeSections();
  },
  methods: {
    observeSections() {
      const the_animation = document.querySelectorAll("[data-show]");
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("scroll-animation");
            }
          });
        },
        {
          threshold: 1,
        }
      );
      for (let i = 0; i < the_animation.length; i++) {
        const elements = the_animation[i];
        observer.observe(elements);
      }
    },
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  created() {},
};
</script>
<style lang="scss">
p + .tg {
  margin-top: rem(20px);
}
.tg {
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
  &-wrapper {
    padding-bottom: rem(10px);
    margin-bottom: rem(20px);
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: rem(10px);
      height: rem(5px);
    }
    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $green_dark;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }
  }
  & + p {
    margin-top: rem(20px);
  }
}
.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  font-size: rem(16px);
  font-weight: 400;
  overflow: hidden;
  padding: rem(8px) rem(10px);
  word-break: normal;
}
.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: rem(16px);
  overflow: hidden;
  padding: rem(10px) rem(10px);
  word-break: normal;
}
.tg .tg-buh4 {
  background-color: #f9f9f9;
  vertical-align: top;
}
.tg .tg-0pky {
  vertical-align: top;
}
.tg .tg-0lax {
  vertical-align: top;
}
</style>
