<template>
  <div class="production page fxdc">
    <div class="container">
      <h1 class="page-title">Продукция</h1>
      <div class="production-info">
        <div class="production-info__img-wrapper">
          <img
            src="../assets/images/production.png"
            alt=""
            class="production-info__img"
          />
        </div>
        <div class="production-info__content">
          <div class="production-info__values">
            <div class="production-info__value">Банка<span>0,45л</span></div>
            <div class="production-info__value">
              Стеклянная бутылка<span>0,45л</span>
            </div>
            <div class="production-info__value">
              пластиковая бутылка<span>1,25л</span>
            </div>
          </div>
          <div class="production-info__text">
            <p>
              &laquo;HOLLANDIA&raquo;&nbsp;&mdash; одна из&nbsp;лучших марок
              голландского пива, входящая в&nbsp;портфель брендов
              &laquo;Swinkels Family Brewers N.V.&raquo;. Уже ставшее классикой,
              пиво &laquo;HOLLANDIA&raquo; имеет свой собственный взгляд
              на&nbsp;мир: &laquo;Зачем усложнять вещи, когда можно сохранить
              их&nbsp;простыми?&raquo;. Этот лагер крепостью 4,8% варят
              в&nbsp;традиционном европейском стиле с&nbsp;бескомпромиссной
              преданностью к&nbsp;высочайшему качеству с&nbsp;1758&nbsp;года.
            </p>
            <p>
              Освежающий лёгкий вкус с&nbsp;богатым солодовым ароматом,
              дополненный нотками красных фруктов и&nbsp;деликатной хмелевой
              горчинкой в&nbsp;послевкусии, прекрасно сочетается
              с&nbsp;большинством блюд. C&nbsp;2014 года пиво варится
              на&nbsp;заводе Московской Пивоваренной Компании по&nbsp;рецепту
              и&nbsp;под контролем &laquo;Swinkels Family Brewers N.V.&raquo;,
              Lieshout, Holland, Нидерланды.
            </p>
          </div>
        </div>
      </div>
      <div class="production-where-to-buy hidden-xs">
        <div class="production-where-to-buy__title">Где купить</div>
        <VueSlickCarousel
          ref="slider"
          v-bind="settings"
          class="production__partners"
        >
          <div
            v-for="(item, i) in partners"
            :key="i"
            class="production__partner"
          >
            <div
              class="production__partner-content"
              :style="{ background: item.background }"
            >
              <div class="production__partner-img-wrapper">
                <img
                  :src="require(`../assets/images/partners/${item.logo}`)"
                  class="production__partner-img"
                />
              </div>
              <a
                :href="item.link"
                target="_blank"
                class="production__partner-link"
                :class="{ _dark: item.darkButton }"
              >
                купить
              </a>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
    <div class="production-where-to-buy visible-xs">
      <div class="production-where-to-buy__title">Где купить</div>
      <VueSlickCarousel
        ref="slider"
        v-bind="settings"
        class="production__partners"
      >
        <div v-for="(item, i) in partners" :key="i" class="production__partner">
          <div
            class="production__partner-content"
            :style="{ background: item.background }"
          >
            <div class="production__partner-img-wrapper">
              <img
                :src="require(`../assets/images/partners/${item.logo}`)"
                class="production__partner-img"
              />
            </div>
            <a
              :href="item.link"
              target="_blank"
              class="production__partner-link"
              :class="{ _dark: item.darkButton }"
            >
              купить
            </a>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";

export default {
  components: {
    VueSlickCarousel,
  },
  data: () => ({
    settings: {
      arrows: true,
      dots: false,
      slidesToShow: 6,
      infinite: true,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1025,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            centerPadding: "100px",
            centerMode: true,
            infinite: true,
            fade: false,
            arrows: false,
            dots: true,
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerPadding: "100px",
            centerMode: true,
            infinite: true,
            fade: false,
            arrows: false,
            dots: true,
          },
        },
      ],
    },
    partners: [
      {
        logo: "pyaterochka.svg",
        link: "https://5ka.ru/stores",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "magnit.svg",
        link: "https://magnit.ru/shops/",
        background: "#E6000E",
        darkButton: false,
      },
      {
        logo: "lenta.svg",
        link: "https://lenta.com/catalog/alkogolnye-napitki/pivo-i-slabyjj-alkogol/f/brandname=hollandia/?utm_referrer=https%3A%2F%2Fyandex.ru%2F",
        background: "#003C96",
        darkButton: false,
      },
      {
        logo: "globus.svg",
        link: "https://online.globus.ru/catalog/alkogol/pivo/hollandia/",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "bristol.png",
        link: "https://bristol.ru/search?s=HOLLANDIA",
        background: "#E2001A",
        darkButton: false,
      },
      {
        logo: "perekrestok.svg",
        link: "https://www.perekrestok.ru/cat/c/9/pivo?filter.brand=hollandia",
        background: "#005A28",
        darkButton: false,
      },
      {
        logo: "dixi.png",
        link: "https://dostavka.dixy.ru/catalog/?q=Hollandia",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "okey.png",
        link: "https://www.okeydostavka.ru/msk/alkogol-nye-napitki/pivo#facet:-7000000000000016151721111081089711010010597&productBeginIndex:0&orderBy:2&pageView:grid&minPrice:&maxPrice:&pageSize:72&",
        background: "#FE0000",
        darkButton: false,
      },
      {
        logo: "auchan.png",
        link: "https://www.auchan.ru/catalog/alkogol/pivo/f/brand=hollandia/?utm_referrer=https%3A%2F%2Fyandex.ru%2F",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "metro.png",
        link: "https://online.metro-cc.ru/category/alkogolnaya-produkciya/pivo-sidr?attributes=1700000001%3Ahollandia-mr-9025",
        background: "#003E7D",
        darkButton: false,
      },
      {
        logo: "av.svg",
        link: "https://av.ru/brands/12463?q=%3Aacbestseller%3AbrandId%3A12463%3AassortmentTypes%3AINTERNET%3Abrand%3Afalse.0.Hollandia%3Acategory%3ANavision",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "victoria.png",
        link: "https://www.victoria-group.ru/company/shops/",
        background: "#C0D941",
        darkButton: true,
      },
      {
        logo: "fp.svg",
        link: "https://fix-price.com/catalog/produkty-i-napitki/alkogolnaya-produktsiya?sort=sold&brand=15937",
        background: "#78B833",
        darkButton: true,
      },
      {
        logo: "am.png",
        link: "https://amwine.ru/catalog/pivo/filter/producer-is-moskovskaya_pivovarennaya_kompaniya_/brand-is-hollandia/",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "selgros.svg",
        link: "https://selgros-iza.ru/brendy/hollandia",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "magnolia.svg",
        link: "https://shop.mgnl.ru/contacts/stores/",
        background: "#6E8542",
        darkButton: false,
      },
      {
        logo: "verniy.svg",
        link: "https://www.verno-info.ru/shops",
        background: "#FF010C",
        darkButton: false,
      },
      {
        logo: "da.svg",
        link: "https://market-da.ru/shops.html",
        background: "#FFFFFF",
        darkButton: true,
      },
      {
        logo: "winelab.svg",
        link: "https://www.winelab.ru/catalog/pivo/br_hollandia",
        background: "#FFFFFF",
        darkButton: true,
      },
    ],
  }),
  mounted() {
    if (document.querySelector(".header")) {
      document.querySelector(".header").classList.add("_white");
    }
    window.addEventListener("scroll", function () {
      if (document.querySelector(".header")) {
        if (window.scrollY > 100) {
          document.querySelector(".header").classList.add("_modified");
        } else {
          document.querySelector(".header").classList.remove("_modified");
        }
      }
    });
  },
};
</script>

<style lang="scss">
.production {
  background: url("../assets/images/lion.png") no-repeat top rem(164px) left;
  background-size: 65%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: rem(110px);
  }
  &-info {
    margin-bottom: rem(50px);
    &__values {
      display: flex;
      align-items: stretch;
      margin-bottom: rem(30px);
    }
    &__value {
      font-size: rem(16px);
      font-family: $bold;
      text-transform: uppercase;
      line-height: 1;
      span {
        display: block;
        margin-top: rem(5px);
        font-size: rem(24px);
        color: $green_light;
      }
      &:not(:last-of-type) {
        padding-right: rem(20px);
        margin-right: rem(20px);
        border-right: rem(2px) solid #fff;
      }
    }
    &__text {
      font-size: rem(18px);
      p {
        &:not(:last-of-type) {
          margin-bottom: rem(20px);
        }
      }
    }
    &__img {
      max-width: 73%;
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-bottom: rem(30px);
      }
    }
  }
  &-where-to-buy {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(50px) 0 rem(100px);
    background: #004721;
    &__title {
      color: $green_light;
      text-transform: uppercase;
      font-family: $bold;
      font-size: rem(22px);
      margin-bottom: rem(30px);
      text-align: center;
    }
  }
  &__partners.slick-slider {
    max-width: 100%;
    .slick-prev {
      right: calc(100% + rem(50px));
    }
    .slick-next {
      left: calc(100% + rem(50px));
    }
    .slick-dots,
    .slider-nav {
      top: calc(100% + rem(42px));
    }
  }
  &__partner {
    height: rem(150px);
    padding: 0 rem(8px);
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: rem(15px);
      border-radius: rem(20px);
    }
    &-img {
      max-height: rem(64px);
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: rem(36px);
      flex-shrink: 0;
      text-align: center;
      font-family: $bold;
      text-transform: uppercase;
      border: 1px solid rgba(#fff, 0.5);
      border-radius: rem(13px);
      &._dark {
        color: #000;
        border-color: rgba(#000, 0.5);
      }
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    background-size: 50%;
    background-position: top rem(265px) left;
    .container {
      padding-top: rem(195px);
    }
    &-info {
      display: flex;
      margin-bottom: rem(80px);
      &__values {
        margin-bottom: rem(53px);
        align-items: center;
      }
      &__value {
        font-size: rem(24px);
        span {
          margin-top: rem(10px);
          font-size: rem(36px);
        }
        &:not(:last-of-type) {
          padding-right: rem(32px);
          margin-right: rem(32px);
          border-right: rem(2px) solid #fff;
        }
      }
      &__text {
        font-size: rem(24px);
        p {
          &:not(:last-of-type) {
            margin-bottom: rem(20px);
          }
        }
      }
      &__img {
        max-width: 73%;
        &-wrapper {
          margin-bottom: 0;
          width: 40%;
        }
      }
    }
    &-where-to-buy {
      margin-bottom: rem(120px);
      padding: rem(54px) rem(50px) rem(70px);
      border-radius: rem(30px);
      &__title {
        margin-bottom: rem(50px);
        font-size: rem(36px);
      }
    }
    &__partner {
      padding: 0 rem(14px);
      height: rem(240px);
      &-content {
        padding: rem(24px);
        border-radius: rem(30px);
      }
      &-img {
        max-height: 70%;
      }
      &-link {
        height: rem(58px);
        border-radius: rem(20px);
        border-width: rem(2px);
        font-size: rem(20px);
        transition: 0.4s;
        &:hover {
          border-color: #fff;
        }
        &._dark {
          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}
</style>
