<template>
  <div class="verification">
    <transition name="fade">
      <div v-if="show" class="verification-window">
        <div class="verification-window__title">вам есть 18 лет?</div>
        <div class="verification-window__buttons">
          <button
            @click="
              $modal.show('common_success', {
                title: 'Спасибо за ответ',
                text: 'Сайт доступен только для лиц старше 18&nbsp;лет.',
              })
            "
            class="verification-window__btn btn btn--primary"
          >
            НЕТ
          </button>
          <button
            @click="setLS()"
            class="verification-window__btn btn btn--secondary"
          >
            Да
          </button>
        </div>
        <div class="verification-window__text">
          Информация, представленная на&nbsp;нашем сайте, предназначена только
          для совершеннолетних.
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: false,
  }),
  methods: {
    setLS() {
      const params = this.$route.query;
      localStorage.setItem("first", true);
      this.$router.push({ name: "Login", query: params });
    },
  },
  mounted() {
    this.$parent.showFooter = false;
    this.$parent.showHeader = false;
    this.show = true;
  },
};
</script>

<style lang="scss" scoped>
.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 rem(10px);
  background: url("../assets/images/lion.png") no-repeat top rem(30px) center;
  background-size: 65%;
  &-window {
    width: rem(700px);
    max-width: 100%;
    padding: rem(30px) rem(20px);
    background: $green_dark;
    border-radius: rem(20px);
    &__title {
      position: relative;
      display: flex;
      max-width: 100%;
      align-self: center;
      text-align: center;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: rem(20px);
      font-size: rem(30px);
      line-height: 1.2;
      font-family: $bold;
      color: $green_light;
      line-height: 1;
      &::after,
      &::before {
        content: "";
        margin: rem(15px) 0;
        width: rem(30px);
        height: rem(3px);
        background: $green_light;
        flex-grow: 1;
        border-radius: 10px;
      }
      &::after {
        margin-left: rem(10px);
      }
      &::before {
        margin-right: rem(10px);
      }
      @media (min-width: $md) and (orientation: landscape) {
        margin-bottom: rem(30px);
        align-items: center;
        font-size: rem(50px);
        &::after,
        &::before {
          width: rem(60px);
          height: rem(4px);
        }
        &::after {
          margin-left: rem(20px);
        }
        &::before {
          margin-right: rem(20px);
        }
        i {
          @include size(rem(10px));
          margin: 0 rem(30px) rem(10px);
        }
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      margin-bottom: rem(20px);
    }
    &__btn {
      min-width: auto;
      flex: 50%;
      &:first-child {
        margin-right: rem(14px);
      }
    }
    &__text {
      font-size: rem(16px);
      line-height: rem(20px);
      text-align: center;
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    background-size: auto 100%;
    background-position: bottom left;
    &-window {
      padding: rem(100px) rem(80px);
      border-radius: rem(30px);
      &__buttons {
        margin-bottom: rem(40px);
      }
      &__btn {
        min-width: rem(260px);
        &:first-child {
          margin-right: rem(20px);
        }
      }
      &__text {
        font-size: rem(20px);
        line-height: rem(26px);
      }
    }
  }
}
</style>
