<template>
  <div class="faq section" id="faq">
    <div class="container">
      <div class="section-title" data-show>ответы на вопросы</div>
      <div class="faq__wrapper">
        <div class="faq__content">
          <div class="faq__list">
            <div
              class="faq__list-item"
              v-for="(item, index) in items"
              :key="index"
              :class="item.isActive ? '_active' : ''"
            >
              <div
                class="faq__list-item-header"
                @click="item.isActive = !item.isActive"
              >
                <h2 class="faq__list-item-title">
                  <span v-html="item.title"></span>
                </h2>
                <svg
                  class="faq__list-item-arrow"
                  width="26"
                  height="17"
                  viewBox="0 0 26 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M24 2.375L12.75 13.625L1.5 2.375"
                    stroke="#004721"
                    stroke-width="4"
                  />
                </svg>
              </div>
              <div class="faq__answer" v-if="item.isActive">
                <div class="faq__answer-text" v-html="item.text"></div>
                <img v-if="item.img" :src="require(`../assets/images/${item.img}`)" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="faq-feedback">
          <button
            class="faq-feedback__btn btn btn--primary"
            @click="$modal.show('feedback'), gtmEvent('ask_button_faq')"
          >
            <span>Задать вопрос</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    styleType: String,
  },
  data: function () {
    return {
      activeItem: "faq-0",
      items: [
        {
          title: "КАКИЕ СРОКИ ПРОВЕДЕНИЯ АКЦИИ?",
          text: "<p>Общий срок проведения Акции, включая срок выдачи призов: с&nbsp;01&nbsp;августа 2023 года по&nbsp;30&nbsp;октября 2023 года включительно.</p> <p>Стать участником Акции можно в&nbsp;период с&nbsp;00&nbsp;часов 01&nbsp;минуты по&nbsp;московскому времени 01&nbsp;августа 2023 года по&nbsp;23&nbsp;часа 59&nbsp;минут по&nbsp;московскому времени 30&nbsp;сентября 2023&nbsp;года.</p> <p>Период регистрации промо-кодов: с&nbsp;00&nbsp;часов 01&nbsp;минуты по&nbsp;московскому времени 01&nbsp;августа 2023 года по&nbsp;23&nbsp;часа 59&nbsp;минут по&nbsp;московскому времени 30&nbsp;сентября 2023&nbsp;года.</p>",
          isActive: false,
        },
        {
          title: "В&nbsp;КАКИХ ГОРОДАХ И&nbsp;МАГАЗИНАХ ПРОВОДИТСЯ АКЦИЯ?",
          text: "Территория проведения Акции&nbsp;&mdash; территория Российской Федерации.",
          isActive: false,
        },
        {
          title: "ЧТО НЕОБХОДИМО СДЕЛАТЬ ДЛЯ УЧАСТИЯ В АКЦИИ?",
          text: "<p>1. Приобрести не&nbsp;менее&nbsp;1 (Одной) единицы продукции, выпускаемой под товарным знаком &laquo;Hollandia&raquo; в&nbsp;специальной промо-упаковке.</p> <p>2. Найти уникальный промо-код под крышкой (Пример кода ХХХ000ХХХХ)</p> <p>3. В&nbsp;период с&nbsp;01&nbsp;августа 2023 года по&nbsp;30&nbsp;сентября 2023 года (включительно) зарегистрировать промо-код на&nbsp;сайте <a href='https://xn--80addfupareb3a4oi.xn--p1ai/' target='_blank'>свояголландия.рф</a></p>",
          isActive: false,
        },
        {
          title: "КАКАЯ ПРОДУКЦИЯ УЧАСТВУЕТ В АКЦИИ? ",
          text: "Акция проводится в&nbsp;отношении продукции, выпускаемой под товарным знаком &laquo;Hollandia&raquo; (далее по&nbsp;тексту&nbsp;&mdash; &laquo;Продукция&raquo;) в&nbsp;следующих форматах:<br>&mdash;&nbsp;стеклянная бутылка 0,45&nbsp;л; <br>&mdash;&nbsp;алюминиевая банка 0,45&nbsp;л, <br>&mdash;&nbsp;ПЭТ 1,25&nbsp;л. <p>В&nbsp;Акции принимает участие только специальным образом маркированная Продукция с&nbsp;информацией о&nbsp;проведении Акции (на&nbsp;упаковке указаны сроки проведения Акции, источник информации об&nbsp;условиях ее&nbsp;проведения). </p>",
          isActive: false,
        },
        {
          title: "КАКИЕ ПРИЗЫ МОЖНО ВЫИГРАТЬ? ",
          text: "Еженедельные призы: <br>Электронный подарочный сертификат &laquo;Спортмастер&raquo;&nbsp;&mdash; 120&nbsp;шт. <br><br>&bull; Сумка холодильник&nbsp;&mdash; 80&nbsp;шт. <br>&bull; Плед&nbsp;&mdash; 80&nbsp;шт. <br>&bull; Решетка-гриль (FORESTER, средняя, 26*35&nbsp;см)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Сковорода-гриль (FORESTER, с&nbsp;антипригарным покрытием)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Набор шампуров (FORESTER, больших в&nbsp;блистере (6шт), с&nbsp;деревянными ручками)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Набор для барбекю (FORESTER, 3&nbsp;предмета (лопатка, щипцы, вилка)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Мангал-дипломат в&nbsp;пластиковом кейсе (FORESTER)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Термос вакуумный 1,2л (FORESTER MOBILE с&nbsp;2&nbsp;кружками и&nbsp;мембраной для заварки)&nbsp;&mdash; 40&nbsp;шт. <br>&bull; Беспроводная портативная колонка JBL Flip 5&nbsp;&mdash; 16&nbsp;шт. <br>&bull; Термо-гриль (FORESTER с&nbsp;крышкой, подставкой и&nbsp;защитным экраном)&nbsp;&mdash; 8&nbsp;шт. <br>&bull; Газовый гриль(3-х конфорочный с&nbsp;пьезоподжигом, чугунными решетками, боковыми складными столиками)&nbsp;&mdash; 8&nbsp;ш. <br><br>Главный приз&nbsp;&mdash; электронный туристический сертификат номиналом 150 000&nbsp;рублей,&nbsp;&mdash; 2&nbsp;шт.",
          isActive: false,
        },
        {
          title: "Как найти код на алюминиевой банке?",
          text: "Уникальный промо-код находится под ключом банки (на самом ключе, который открывает банку)",
          img: "opt-3.png",
          isActive: false,
        },
        {
          title: "КАК ЗАРЕГИСТРИРОВАТЬ КОД?",
          text: "Для того, чтобы зарегистрировать код, необходимо: <br>&bull; Зарегистрироваться или авторизоваться на&nbsp;сайт <a href='https://xn--80addfupareb3a4oi.xn--p1ai/' target='_blank'>свояголландия.рф</a> <br>&bull; Нажать на&nbsp;кнопку &laquo;зарегистрировать код&raquo; <br>&bull; Ввести код",
          isActive: false,
        },
        {
          title: "КТО ЯВЛЯЕТСЯ ОРГАНИЗАТОРОМ АКЦИИ? ",
          text: "ООО &laquo;Инвент&raquo; <br>Место нахождения: Россия, 111033, г. Москва, Таможенный проезд, дом 6&nbsp;стр.3, офис 326 <br>ИНН: 5029104266 <br>КПП: 783450001",
          isActive: false,
        },
      ],
    };
  },
  methods: {
    isActive(menuItem) {
      return this.activeItem === menuItem;
    },
    setActive(menuItem) {
      this.activeItem = menuItem;
    },
  },
  mounted() {},
  components: {},
};
</script>

<style lang="scss" scoped>
.faq {
  position: relative;
  flex-direction: column;
  padding-bottom: 0;
  padding-top: rem(60px);
  z-index: 10;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  &__wrapper {
    padding: rem(0px) 0 rem(0px);
  }
  &__title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  &__list {
    height: 100%;
    overflow-y: auto;
    flex: 0 0 45%;
    padding-right: rem(10px);
    margin-bottom: rem(8px);
    max-height: rem(485px);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: rem(5px);
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: $green_dark;
      background-size: auto 100%;
      border-radius: 25px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #0b8d30;
      transition: all 0.3s ease-in-out;
    }
    &-wrapper {
      position: relative;
      height: 100%;
      &::before {
        content: "";
        width: 100%;
        height: 10%;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          #040404 97.37%
        );
        pointer-events: none;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(8px);
      margin-right: rem(0px);
      align-items: flex-start;
      border: rem(2px) solid $green_dark;
      border-radius: rem(14px);
      background: #ffffff;
      transition: 0.4s;
      cursor: pointer;
      &-header {
        display: flex;
        width: 100%;
        align-items: center;
        padding: rem(12px) rem(14px) rem(12px) rem(14px);
        font-size: rem(13px);
        text-transform: uppercase;
        color: $green_dark;
        border-radius: rem(20px);
        font-family: $bold;
      }
      &-arrow {
        width: rem(12px);
        margin-left: auto;
        flex-shrink: 0;
        transition: 0.4s;
        ._active & {
          opacity: 1;
          transform: rotate(180deg);
        }
      }
      &-title {
        margin-top: rem(2px);
        padding-right: rem(10px);
        line-height: 1.3;
        font-size: rem(16px);
        font-weight: 400;
        transition: 0.4s;
      }
      &._active,
      &:hover {
        background: $green_light;
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  &__answers {
    height: 80%;
    padding: rem(30px) rem(15px) rem(45px) rem(30px);
  }
  &__answer {
    width: 100%;
    height: 100%;
    padding: rem(10px) rem(20px) rem(10px);
    font-family: $reg;
    color: #000;
    &-title {
      display: flex;
      font-size: rem(24px);
      line-height: 1;
      font-weight: 400;
    }
    p {
      margin-bottom: rem(10px);
    }
    &-text {
      font-weight: 400;
      font-size: rem(14px);
      & + img {
        display: block;
        margin-top: rem(20px);
      }
    }
    ._active & {
      display: block;
    }
  }
  &-feedback {
    &__btn {
      width: 100%;
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    margin-top: 0;
    padding-top: rem(125px);
    padding-bottom: rem(120px);

    .container {
      width: rem(1230px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__row {
      flex: auto;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      height: rem(670px);
    }
    &__title {
      margin-bottom: rem(0px) !important;
    }
    &__wrapper {
      display: flex;
      width: 100%;
      margin: auto;
      flex-direction: column;
      padding: rem(5px) 0 rem(32px);
    }
    &__content {
      flex: auto;
      height: 100%;
    }
    &__header {
      margin-bottom: 0;
      justify-content: flex-start;
    }
    &__list {
      height: rem(730px);
      max-height: 100%;
      padding-right: rem(20px);
      margin-bottom: rem(20px);
      &::-webkit-scrollbar {
        width: rem(8px);
      }
      &-item {
        border-radius: rem(20px);
        margin-bottom: rem(20px);
        &-header {
          padding: rem(15px) rem(30px) rem(15px) rem(30px);
        }
        &-title {
          font-size: rem(30px);
        }
        &-arrow {
          width: rem(25px);
        }
      }
    }
    &__answers {
      padding: rem(46px) rem(25px) rem(60px) rem(50px);
    }
    &__answer {
      display: none;
      padding: 0 rem(30px) rem(20px);
      margin-bottom: rem(10px);
      &-text {
        font-size: rem(24px);
        line-height: 1.5;
      }
      td {
        font-weight: 400;
      }
    }
    &-feedback {
      &__btn {
        width: calc(100% - rem(28px));
      }
    }
  }
}
</style>
<style lang="scss">
.link {
  color: $red;
  text-decoration: underline;
  ._pink & {
    color: #fff;
  }
}
</style>
