<template>
  <footer class="footer">
    <div class="footer__content">
      <div class="container">
        <img src="../assets/images/logo.png" alt="" class="footer__logo" />
        <ul class="footer__docs">
          <li v-for="(item, idx) in docs" :key="idx" class="footer__docs-item">
            <a
              v-if="item.path"
              :href="`${publicPath}docs/${item.path}`"
              class="footer__docs-link"
              target="_blank"
            >
              {{ item.name }}
            </a>
            <div
              v-else-if="item.feedback"
              @click="$modal.show('feedback')"
              class="footer__docs-link"
            >
              {{ item.name }}
            </div>
          </li>
        </ul>
        <div class="footer__text">
          <p>
            Общий срок проведения акции: с&nbsp;1.08.2023 по&nbsp;31.10.2023.
            Срок регистрации кодов с&nbsp;1.08.2023 по&nbsp;25.10.2023
          </p>
        </div>
        <!-- <div class="footer__copyright">
          © <span>{{ year }}</span> Все права защищены.
        </div> -->
      </div>
    </div>
    <img src="../assets/images/warning.svg" class="footer__warning hidden-xs" />
    <img
      src="../assets/images/warning-m.svg"
      class="footer__warning visible-xs"
    />
  </footer>
</template>
<script>
export default {
  components: {},
  props: ["partners"],
  data() {
    return {
      publicPath: process.env.BASE_URL,
      docs: [
        {
          name: "Конфиденциальность",
          path: "policy.pdf",
        },
        {
          name: "Юридические условия",
          path: "rules.pdf",
        },
        {
          name: "Задать вопрос",
          feedback: true,
        },
        // {
        //   name: "Пользовательское соглашение",
        //   path: "rules.pdf",
        // },
      ],
    };
  },
  methods: {
    scrollToTop() {
      window.scroll({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    },
    scrollTo() {
      const faq = document.getElementById("faq").offsetTop;
      window.scroll({
        top: faq,
        left: 0,
        behavior: "smooth",
      });
    },
  },
  computed: {
    year() {
      let date = new Date();
      return date.getFullYear();
    },
  },
};
</script>
<style scoped lang="scss">
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(50px) rem(0px) rem(0px);
  border-bottom: none;
  background: url("../assets/images/footer.svg") no-repeat center bottom;
  background-size: 100%;
  overflow: hidden;
  z-index: 10;
  &__logo {
    height: rem(100px);
    margin: 0 auto rem(40px);
  }
  &__row,
  &__docs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__docs {
    margin-bottom: rem(10px);
    &-item {
      margin-bottom: rem(30px);
      font-size: rem(16px);
      line-height: 1;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &__text,
  &__copyright {
    text-align: center;
    font-size: rem(14px);
    line-height: 1.5;
    font-weight: 400;
    p {
      margin-bottom: rem(5px);
      // overflow-wrap: break-word;
      // word-wrap: break-word;
      // -webkit-hyphens: auto;
      // -ms-hyphens: auto;
      // -moz-hyphens: auto;
      // hyphens: auto;
    }
    a {
      white-space: nowrap;
    }
  }
  &__col {
    width: 100%;
  }
  &__copyright {
    margin-top: rem(12px);
  }
  &__warning {
    width: 100%;
    margin-top: rem(50px);
  }
  @media (max-width: $sm) {
    .container {
      padding-left: rem(13px);
      padding-right: rem(17px);
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    padding: 0;
    background-position: center bottom rem(60px);
    .container {
      width: rem(1230px);
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    &__logo {
      height: rem(144px);
      margin: 0 auto rem(49px);
    }
    &__content {
      padding-top: 0;
      background: none;
    }
    &__row,
    &__docs {
      flex-direction: row;
      justify-content: space-between;
    }
    &__docs {
      justify-content: space-around;
      margin-bottom: rem(50px);
      text-transform: uppercase;
      &-item {
        margin-bottom: 0;
        line-height: normal;
        font-family: $bold;
        font-size: rem(24px);
        cursor: pointer;
      }
    }
    &__copyright {
      margin-top: 0;
      text-align: left;
      font-size: rem(16px);
    }
    &__text {
      text-align: center;
      font-size: rem(20px);
      line-height: 1.4;
    }
    &__col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:last-of-type {
        flex: 0 0 58%;
      }
    }
    &__warning {
      margin-top: rem(86px);
    }
  }
}
</style>
