<template>
  <header class="header" :class="{ _modified: headerModified }">
    <div class="container">
      <div class="header__row">
        <div class="header__inner">
          <div class="header__login _profile visible-xs">
            <router-link
              :to="{ name: user ? 'Profile' : 'Login' }"
              @click.native="gtmEvent('cabinet_button_main_menu')"
            >
              <img
                class="header__login-icon"
                src="../assets/images/icons/user-green.svg"
                alt=""
              />
            </router-link>
          </div>
          <router-link
            :to="{ path: `/${locationSearch}#home` }"
            class="header__logo visible-xs"
          >
            <img
              src="../assets/images/logo.png"
              class="header__logo-img"
              alt=""
            />
          </router-link>
          <div class="header__hamburger" @click="showBurger()">
            <img
              src="../assets/images/icons/hamburger.svg"
              alt=""
              class="header__hamburger-pic"
            />
          </div>
          <button
            class="header__menu_mob-close visible-xs"
            @click="showBurger()"
          ></button>
          <div class="header__nav">
            <router-link
              :to="{ path: `/${locationSearch}#home` }"
              class="header__logo"
            >
              <img
                src="../assets/images/logo.png"
                class="header__logo-img"
                alt=""
              />
            </router-link>
            <ul class="header__nav-list">
              <li
                v-for="nav in navigation"
                :key="nav.name"
                class="header__nav-link"
                :data-menuanchor="nav.anchor"
                @click="nav.gtmText ? gtmEvent(nav.gtmText) : ''"
                :class="[
                  { active: $route.hash === `#${nav.anchor}` || nav.active },
                ]"
              >
                <router-link
                  v-if="nav.anchor"
                  :to="{ path: `/${locationSearch}#${nav.anchor}` }"
                >
                  {{ nav.name }}
                </router-link>
                <a
                  v-else-if="nav.path"
                  :href="publicPath + 'docs/' + nav.path"
                  class="d-flex aic"
                  target="_blank"
                >
                  {{ nav.name }}
                  <svg
                    width="11"
                    height="13"
                    viewBox="0 0 11 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.2 1C6.2 0.613401 5.8866 0.3 5.5 0.3C5.1134 0.3 4.8 0.613401 4.8 1L6.2 1ZM5.00503 10.945C5.27839 11.2183 5.72161 11.2183 5.99498 10.945L10.4497 6.4902C10.7231 6.21684 10.7231 5.77362 10.4497 5.50025C10.1764 5.22689 9.73316 5.22689 9.4598 5.50025L5.5 9.46005L1.5402 5.50025C1.26684 5.22689 0.82362 5.22689 0.550253 5.50025C0.276886 5.77362 0.276886 6.21684 0.550253 6.4902L5.00503 10.945ZM4.8 1L4.8 10.45L6.2 10.45L6.2 1L4.8 1Z"
                      fill="#F1C27A"
                    />
                    <line
                      x1="0.7"
                      y1="11.95"
                      x2="10.3"
                      y2="11.95"
                      stroke="#F1C27A"
                      stroke-width="1.4"
                      stroke-linecap="round"
                    />
                  </svg>
                </a>
                <router-link v-else-if="nav.page" :to="{ name: nav.page }">
                  {{ nav.name }}
                </router-link>
                <router-link v-else :to="{ path: `/${locationSearch}` }">
                  {{ nav.name }}
                </router-link>
              </li>
            </ul>
            <div v-if="user" class="d-flex aic">
              <div class="header__login _profile">
                <router-link
                  :to="{ name: 'Profile' }"
                  @click.native="gtmEvent('cabinet_button_main_menu')"
                >
                  <img
                    class="header__login-icon"
                    src="../assets/images/icons/user-green.svg"
                    alt=""
                  />
                  <span>
                    {{ user.profile.name && 15 >= user.profile.name.length ? user.profile.name : "Личный кабинет" }}
                    <span v-if="user.profile.surname">
                      {{
                        user.profile.surname.length > 7
                          ? `${user.profile.surname.substring(0, 1)}.`
                          : user.profile.surname
                      }}
                    </span>
                  </span>
                </router-link>
              </div>
              <div @click="logout()" class="header__logout">
                <svg
                  width="31"
                  height="26"
                  viewBox="0 0 31 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.5572 19.9225C20.5572 19.4595 20.3102 19.0317 19.9094 18.8003C19.5085 18.5689 19.0145 18.5689 18.6137 18.8003C18.2128 19.0317 17.9658 19.4595 17.9658 19.9225C17.9645 20.8468 17.5966 21.733 16.9427 22.3866C16.2889 23.04 15.4028 23.4077 14.4782 23.4087H6.07927C5.15477 23.4077 4.26837 23.0402 3.61455 22.3866C2.96073 21.7332 2.59266 20.847 2.59133 19.9225V6.07759C2.59268 5.15324 2.96056 4.26708 3.6144 3.61347C4.26822 2.96004 5.15457 2.59231 6.07893 2.59138H14.4779C15.4026 2.59234 16.2891 2.96023 16.9429 3.61425C17.5968 4.26807 17.9644 5.15462 17.9654 6.07932C17.9654 6.54226 18.2124 6.97011 18.6133 7.20146C19.0141 7.43281 19.5081 7.43283 19.909 7.20146C20.3098 6.97009 20.5568 6.54226 20.5568 6.07932C20.5551 4.46763 19.9141 2.92243 18.7747 1.78272C17.6352 0.643007 16.09 0.00192502 14.4783 0H6.07932C4.46783 0.00173528 2.92283 0.642464 1.78311 1.78198C0.643402 2.9213 0.00212246 4.4661 0 6.07759V19.9225C0.00231373 21.5338 0.6436 23.0786 1.78311 24.2179C2.92263 25.3572 4.46763 25.9981 6.07893 26H14.4779C16.0894 25.9983 17.6344 25.3573 18.7741 24.218C19.9136 23.0787 20.5549 21.5339 20.5572 19.9225Z"
                    fill="#0B8024"
                  />
                  <path
                    d="M22.5889 7.94288C22.3725 8.20993 22.2711 8.55198 22.307 8.89384C22.3428 9.2357 22.5131 9.54919 22.7803 9.76553L25.1733 11.7039H11.7786C11.3156 11.7039 10.888 11.9509 10.6564 12.3517C10.4251 12.7526 10.4251 13.2466 10.6564 13.6474C10.888 14.0483 11.3156 14.2953 11.7786 14.2953H25.1733L22.7811 16.2336C22.5084 16.448 22.333 16.7629 22.2942 17.1076C22.2555 17.4524 22.3567 17.7981 22.575 18.0676C22.7934 18.3374 23.1106 18.508 23.4559 18.5417C23.8012 18.5755 24.1456 18.4694 24.4119 18.2471L29.6484 14.0062C29.6588 13.9976 29.6662 13.9872 29.6766 13.9781V13.9783C29.7209 13.9397 29.7628 13.8985 29.8017 13.8543C29.8164 13.8375 29.8324 13.8219 29.8449 13.8042C29.8927 13.745 29.9351 13.6816 29.9716 13.6146C29.9789 13.6013 29.9832 13.5871 29.9901 13.5715C30.0138 13.5261 30.0348 13.4795 30.0528 13.4315C30.0562 13.422 30.0576 13.412 30.0605 13.4022C30.0695 13.3754 30.0751 13.3486 30.0821 13.3214C30.0948 13.274 30.1046 13.2258 30.1114 13.1772C30.1152 13.1486 30.1187 13.1201 30.1204 13.0908C30.1235 13.041 30.1235 12.9911 30.1204 12.9414C30.1204 12.9149 30.1204 12.8881 30.1166 12.8619V12.8617C30.1092 12.7888 30.0959 12.7165 30.0765 12.6458C30.0722 12.6302 30.0649 12.6155 30.0597 12.6001H30.0595C30.041 12.542 30.0184 12.4856 29.9918 12.4308C29.9806 12.4075 29.9671 12.3851 29.9542 12.3622C29.9272 12.3136 29.8974 12.2669 29.8644 12.2222C29.8553 12.21 29.8493 12.1963 29.8397 12.1846C29.8303 12.173 29.8264 12.172 29.8202 12.1651H29.8204C29.7759 12.1127 29.7275 12.0637 29.6752 12.0188C29.6666 12.0114 29.6592 12.0024 29.6506 11.9954H29.6484L24.4114 7.75204C24.1443 7.53571 23.8025 7.43429 23.4606 7.47015C23.119 7.50601 22.8055 7.67607 22.5891 7.94292L22.5889 7.94288Z"
                    fill="#0B8024"
                  />
                </svg>
              </div>
            </div>
            <router-link
              v-else
              :to="{ name: 'Login' }"
              @click="gtmEvent('cabinet_button_main_menu')"
              class="header__login _profile"
            >
              <img
                class="header__login-icon"
                src="../assets/images/icons/user-green.svg"
                alt=""
              />
              <span>Войти</span>
            </router-link>
          </div>
        </div>

        <div class="header__menu_mob">
          <div class="header__menu_mob-title">меню</div>
          <ul class="header__nav">
            <li
              v-for="nav in navigation"
              :key="nav.name"
              class="header__nav-link"
              @click="nav.gtmText ? gtmEvent(nav.gtmText) : ''"
            >
              <router-link
                v-if="nav.anchor"
                :to="{ path: `/${locationSearch}#${nav.anchor}` }"
                @click.native="showBurger()"
              >
                {{ nav.name }}
              </router-link>
              <a
                v-else-if="nav.path"
                :href="publicPath + 'docs/' + nav.path"
                target="_blank"
                class="d-flex aic jcc"
              >
                {{ nav.name }}
                <svg
                  width="11"
                  height="13"
                  viewBox="0 0 11 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.2 1C6.2 0.613401 5.8866 0.3 5.5 0.3C5.1134 0.3 4.8 0.613401 4.8 1L6.2 1ZM5.00503 10.945C5.27839 11.2183 5.72161 11.2183 5.99498 10.945L10.4497 6.4902C10.7231 6.21684 10.7231 5.77362 10.4497 5.50025C10.1764 5.22689 9.73316 5.22689 9.4598 5.50025L5.5 9.46005L1.5402 5.50025C1.26684 5.22689 0.82362 5.22689 0.550253 5.50025C0.276886 5.77362 0.276886 6.21684 0.550253 6.4902L5.00503 10.945ZM4.8 1L4.8 10.45L6.2 10.45L6.2 1L4.8 1Z"
                    fill="#F1C27A"
                  />
                  <line
                    x1="0.7"
                    y1="11.95"
                    x2="10.3"
                    y2="11.95"
                    stroke="#F1C27A"
                    stroke-width="1.4"
                    stroke-linecap="round"
                  />
                </svg>
              </a>
              <router-link
                v-else-if="nav.page"
                :to="{ name: nav.page }"
                @click.native="showBurger()"
              >
                {{ nav.name }}
              </router-link>
              <router-link v-else :to="{ path: `/${locationSearch}` }">
                {{ nav.name }}
              </router-link>
            </li>
            <li class="header__nav-link">
              <a
                :href="publicPath + 'docs/rules.pdf'"
                class="d-flex aic"
                target="_blank"
              >
                Правила
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16 15C16 15.5523 15.5523 16 15 16H1C0.447719 16 0 15.5523 0 15C0 14.4477 0.447719 14 1 14H15C15.5523 14 16 14.4477 16 15ZM7.29291 11.8321C7.48819 12.0274 7.74406 12.125 8 12.125C8.25587 12.125 8.51188 12.0274 8.70709 11.8321L12.2502 8.28909C12.6407 7.89856 12.6407 7.26541 12.2502 6.87488C11.8596 6.48434 11.2265 6.48434 10.8359 6.87488L9 8.71081V1C9 0.447719 8.55228 0 8 0C7.44772 0 7 0.447719 7 1V8.71081L5.16406 6.87488C4.77353 6.48434 4.14038 6.48434 3.74984 6.87488C3.35931 7.26541 3.35931 7.89856 3.74984 8.28909L7.29291 11.8321Z"
                    fill="white"
                  />
                </svg>
              </a>
            </li>
          </ul>
          <ul class="header__nav-info" v-if="user">
            <li class="header__nav-info-item" @click="showModal('recover')">
              <img src="../assets/images/icons/lock.svg" alt="" />
              <span>сменить пароль</span>
            </li>
            <li class="header__nav-info-item" @click="logout()">
              <img src="../assets/images/icons/exit.svg" alt="" />
              <span>выход</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  props: ["headerModified"],
  data() {
    return {
      publicPath: process.env.BASE_URL,
      phone: "7 951 376-98-787",
      email: "Ivanov_ivan@mail.ru",
      locationSearch: "",
      navigation: [
        {
          name: "Как участвовать",
          anchor: "steps",
          gtmText: "participate_button_main_menu",
        },
        {
          name: "Призы",
          anchor: "prizes",
          gtmText: "prizes_button_main_menu",
        },
        {
          name: "Победители",
          anchor: "winners",
          gtmText: "winners_button_main_menu",
        },
        {
          name: "Продукция",
          page: "Production",
          gtmText: "products_button_main_menu",
        },
        {
          name: "Есть вопросы?",
          anchor: "faq",
          gtmText: "questions_button_main_menu",
        },
      ],
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    homePage() {
      if (this.$route.path === "/") {
        return true;
      } else {
        return false;
      }
    },
  },

  methods: {
    showModal(name) {
      this.$modal.show(name);
    },
    logout() {
      this.$store.dispatch("LogOut");
      document.location.reload();
    },
    showBurger() {
      let header = document.querySelector(".header");
      if (!header.classList.contains("header--mob_active"))
        header.classList.add("header--mob_active");
      else header.classList.remove("header--mob_active");
    },
    toFeedback() {
      this.$modal.show("feedback");
    },
    wordVariant(items) {
      return items === 1 ? "сила" : items > 1 && 4 > items ? "силы" : "сил";
    },
  },
  mounted() {
    if (window.location.search.indexOf("utm_source") > -1) {
      this.locationSearch = window.location.search;
    }
  },
};
</script>

<style scoped lang="scss">
.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
  &._modified {
    background: linear-gradient(to top, transparent, rgba(#003318, 0.85));
  }
  .container {
    position: relative;
    padding-top: 0;
    padding-bottom: rem(0px);
    .header--mob_active & {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &.header--mob_active {
    .header__hamburger {
      opacity: 0;
      visibility: hidden;
    }

    .header__menu_mob {
      display: flex;
    }
    .header__menu_mob-close {
      opacity: 1;
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    position: relative;
    display: none;
    width: 100%;
    align-items: center;
    flex-direction: column;
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: auto;
      &-item {
        display: flex;
        align-items: center;
        font-size: rem(14px);
        font-family: $bold;
        text-transform: uppercase;
        &:not(:last-of-type) {
          margin-bottom: rem(13px);
        }
        svg,
        img {
          width: rem(24px);
          margin-right: rem(25px);
        }
      }
    }
  }

  &__nav-link {
    margin-bottom: 0;
    font-size: rem(20px);
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    color: $white;
    transition: all 0.3s ease-in-out;
    pointer-events: all;
    a {
      pointer-events: all;
    }
  }

  &__nav-retail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  &__nav-retail-img {
    max-height: rem(35px);
    margin-bottom: rem(30px);
  }
  &__hamburger {
    display: block;
    width: rem(54px);
    margin: 0;
    pointer-events: all;
    img {
      width: 100%;
    }
  }
  &__menu_mob {
    display: none;
    position: fixed;
    width: 100vw;
    top: 0px;
    right: 0;
    height: calc(var(--vh, 1vh) * 100);
    flex-direction: column;
    align-items: center;
    background: $green_dark;
    color: #fff;
    padding: calc(var(--vh, 1vh) * 8) rem(23px) rem(60px);
    pointer-events: all;
    z-index: 9;
    * {
      pointer-events: all !important;
    }
    &-title {
      margin-bottom: rem(41px);
      font-size: rem(32px);
      font-family: $bold;
      line-height: 1;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
    .btn {
      margin: auto auto 0;
    }
    .header__nav {
      display: flex;
      height: 100%;
      &-item {
        width: auto;
      }
      &-link {
        margin-bottom: rem(27px);
        font-size: rem(21px);
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
        color: #fff;
        font-family: $bold;
        transition: all 0.3s ease-in-out;
        pointer-events: all;
        svg,
        img {
          width: rem(24px);
          margin-right: rem(10px);
        }
        &._profile {
          display: flex;
          align-items: center;
          margin-top: auto;
          justify-content: center;
          font-size: rem(16px);
          padding: rem(14px) rem(33px);
          border: rem(2px) solid #fff;
          border-radius: rem(30px);
        }
      }
    }
  }
  &__logo {
    margin: rem(10px) auto;
    flex-grow: 0;
    flex-shrink: 0;
    pointer-events: all;
    &-img {
      height: rem(70px);
    }
  }
  &__login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(42px);
    width: rem(54px);
    padding: 0 rem(14px) rem(0px);
    line-height: 1;
    transition: 0.4s;
    color: $green;
    font-weight: 700;
    background: #fff;
    border-radius: rem(30px);
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
    * {
      pointer-events: all;
    }
    a {
      display: flex;
      align-items: center;
    }
    &:hover {
      background: $green_light;
    }
    &-icon {
      height: rem(26px);
      object-fit: contain;
      transition: 0.4s;
    }
  }
  &__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(42px);
    width: rem(54px);
    transition: 0.4s;
    background: #fff;
    border-radius: rem(30px);
    pointer-events: all;
    cursor: pointer;
    svg {
      width: rem(30px);
    }
    &:hover {
      background: $green_light;
    }
  }
  &__menu_mob-close {
    position: absolute;
    top: rem(21px);
    right: rem(0px);
    cursor: pointer;
    align-self: flex-end;
    width: rem(24px);
    height: rem(24px);
    flex-shrink: 0;
    margin-bottom: rem(30px);
    background: url("../assets/images/icons/close-white.svg") no-repeat center;
    background-size: 100%;
    opacity: 0;
    pointer-events: all;
    z-index: 10;
  }
  @media (min-width: $md) and (orientation: landscape) {
    &__menu_mob {
      max-width: 55%;
      box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.15);
    }
  }
  @media (max-width: $md) and (orientation: landscape) {
    &__menu_mob {
      &-title {
        margin-bottom: rem(20px);
      }
      .header__nav {
        &-link {
          margin-bottom: rem(20px);
          font-size: rem(14px);
          svg,
          img {
            width: rem(14px);
            margin-left: rem(7px);
          }
        }
      }
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    &._modified {
      background: #056b29;
    }
    .container {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      width: 91%;
    }
    &__inner {
    }
    &__login {
      display: flex;
      align-items: center;
      margin-top: rem(40px);
      width: auto;
      height: rem(55px);
      padding: 0 rem(20px) rem(4px);
      font-size: rem(22px);
      transition: 0.4s;
      &-icon {
        height: rem(26px);
        margin-right: rem(10px);
        margin-top: rem(2px);
      }
      ._modified & {
        margin-top: rem(23px);
      }
    }
    &__logout {
      margin-top: rem(40px);
      margin-left: rem(10px);
      width: rem(60px);
      height: rem(55px);
      transition: 0.4s;
      svg {
        margin-left: rem(10px);
      }
      ._modified & {
        margin-top: rem(23px);
      }
    }
    &__row {
      align-items: flex-start;
    }
    &__menu-logos {
      display: none;
    }
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-shrink: 0;
      height: rem(75px);
      margin: rem(13px) 7% 0 0;
      transition: 0.4s;
      transform-origin: 0 0;
      transform: scale(3);
      &-img {
        height: 100%;
      }
      ._modified & {
        transform: scale(1);
      }
    }
    &__nav {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      &_mob {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: rem(40px) auto 0;
        transition: 0.4s;
        ._modified & {
          margin: rem(23px) auto;
        }
      }
      &-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(55px);
        font-size: rem(22px);
        margin: 0;
        line-height: 1;
        padding: 0 rem(20px) rem(4px);
        font-weight: 700;
        text-align: center;
        color: $grey;
        transition: all 0.3s ease-in-out;
        border: 1px solid $grey;
        border-radius: rem(30px);
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: rem(40px);
        }
        &.active,
        &.router-link-exact-active,
        &:hover {
          opacity: 0.7;
          ._modified &,
          ._white & {
            opacity: 1;
            color: $green_light !important;
            border-color: $green_light !important;
            cursor: default;
            path {
              fill: $green_dark;
            }
          }
        }
        svg {
          margin-left: rem(5px);
        }
        ._modified &,
        ._white & {
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
    &__dropdown {
      position: absolute;
      top: 100%;
      right: rem(0px);
      min-width: rem(320px);
      display: block;
      padding: rem(15px) rem(25px);
      color: #ffffff;
      background: $red;
      font-size: rem(16px);
      box-shadow: 0px 0px rem(22px) rgba(0, 0, 0, 0.3);
      border-radius: rem(10px);
      transition: 0.4s;
      opacity: 0;
      pointer-events: none;
      z-index: 100;
      cursor: default;
      & > * {
        pointer-events: none !important;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 100%;
        height: rem(16px);
      }
      &::before {
        content: "";
        display: block;
        width: rem(15px);
        height: rem(15px);
        position: absolute;
        top: rem(-7px);
        right: rem(27px);
        transform: rotate(50deg) skew(15deg, 0deg);
        background: $red;
      }
      &-item {
        flex-shrink: 0;
        &:not(:last-of-type) {
          margin-bottom: rem(20px);
        }
        strong {
          font-size: rem(22px);
          font-weight: 900;
        }
        input {
          border: none;
          background: none;
          outline: none;
          padding: 0;
          text-align: center;
          font-size: rem(16px);
          pointer-events: none;
          font-weight: 700;
        }
        img {
          margin-right: rem(15px);
        }
      }
      &-wrapper {
        position: relative;
        &:hover {
          & > .header__dropdown {
            opacity: 1;
            pointer-events: all;
            & > * {
              pointer-events: all !important;
            }
          }
        }
      }
    }
    &__hamburger,
    &__menu_mob {
      display: none;
    }
  }
}

.header__menu_mob {
  display: none;
  input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    margin-right: rem(-30px);
    font-weight: 700;
    font-size: rem(14px);
    opacity: 1;
    &::placeholder {
      opacity: 1;
      color: #fff;
    }
  }
}

.header__menu_mob.active {
  display: flex !important;
}
</style>
