<template>
  <div class="hero section" id="home">
    <iframe
      class="hero__background hidden-xs"
      src="/big/index.html"
      frameborder="0"
    ></iframe>
    <img
      value="1.5"
      src="../assets/images/main-prize.png"
      alt=""
      class="hero__main-prize hidden-xs js-parallax"
    />
    <div class="hero__parallax-wrap">
      <img
        value="2"
        src="../assets/images/animations/most-1.png"
        class="hero__parallax-img hidden-xs js-parallax"
        alt=""
      />
      <img
        value="2"
        src="../assets/images/animations/most-2.png"
        class="hero__parallax-img hidden-xs js-parallax"
        alt=""
      />
      <img
        value="4"
        src="../assets/images/animations/bottle-1.png"
        class="hero__parallax-img hidden-xs js-parallax"
        alt=""
      />
      <img
        value="4"
        src="../assets/images/animations/bottle-2.png"
        class="hero__parallax-img hidden-xs js-parallax"
        alt=""
      />
    </div>
    <div class="container">
      <div value="2" class="js-parallax">
        <div class="hero__title" data-show>
          <span>У каждого</span> СВОЯ HOLLANDIA
        </div>
        <img
          src="../assets/images/ribbon.png"
          data-show
          alt=""
          class="hero__ribbon hidden-xs"
        />
      </div>
      <img
        src="../assets/images/ribbon-2.png"
        data-show
        alt=""
        class="hero__ribbon visible-xs"
      />
      <div value="4" class="hero__mta js-parallax" data-show>
        <div class="hero__row">
          <img
            src="../assets/images/main-prize-2.png"
            alt=""
            class="hero__main-prize visible-xs"
          />
          <div class="hero__text">
            Регистрируйте коды <br class="visible-xs" />под крышкой<small
              class="visible-xs"
              >*150&nbsp;000 рублей на&nbsp;поездку <br />в&nbsp;г.
              Санкт-Петербург</small
            >
          </div>
        </div>
        <div class="d-flex">
          <button
            class="hero__btn btn btn--primary btn--lg"
            @click="toCheckUpload()"
          >
            <span>Участвовать</span>
          </button>
        </div>
      </div>
      <router-link to="/#steps" class="hero__arrow-wrapper">
        <svg
          class="hero__arrow"
          width="60"
          height="60"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="30" cy="30" r="30" fill="white" />
          <path
            d="M29.1161 44.8839C29.6043 45.372 30.3957 45.372 30.8839 44.8839L38.8388 36.9289C39.327 36.4408 39.327 35.6493 38.8388 35.1612C38.3507 34.673 37.5592 34.673 37.0711 35.1612L30 42.2322L22.9289 35.1612C22.4408 34.673 21.6493 34.673 21.1612 35.1612C20.673 35.6493 20.673 36.4408 21.1612 36.9289L29.1161 44.8839ZM28.75 16L28.75 44L31.25 44L31.25 16L28.75 16Z"
            fill="#164A2A"
          />
        </svg>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    // Feedback,
  },
  data: () => ({}),
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  methods: {
    showModal(name) {
      this.$modal.show(name);
    },
    toCheckUpload() {
      const t = this;
      this.gtmEvent("participate_button_main");
      if (
        this.$store.getters.endTime ||
        this.$store.getters.temporarilyUnavailable
      ) {
        this.$modal.show("temporarily_unavailable");
      } else {
        if (this.$store.getters.user) {
          this.$modal.show("code_registration");
        } else {
          this.$router.push({ name: "Login" });
        }
      }
    },
  },
  mounted() {
    document.querySelector(".hero").addEventListener("mousemove", parallax);
    function parallax(event) {
      this.querySelectorAll(".js-parallax").forEach((shift) => {
        const position = shift.getAttribute("value");
        const x = (window.innerWidth - event.pageX * position) / 200;

        shift.style.transform = `translateX(${x}px)`;
      });
    }
  },
};
</script>
<style lang="scss">
.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: calc(var(--vh, 1vh) * 15);
  background: url("../assets/images/background-mobile.jpg") no-repeat center
    bottom;
  background-size: 100%;
  flex-direction: column;
  z-index: 3 !important;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 3;
  }
  &__ribbon {
    height: vh(100px);
    margin: 0 auto;
  }
  &__title {
    margin-bottom: vh(24px);
    font-size: vh(56px);
    font-family: $bold;
    color: $green;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    span {
      display: block;
      font-size: vh(44px);
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__text {
    font-weight: 700;
    font-size: rem(18px);
    line-height: 1.1;
    color: $green_darken;
    small {
      display: block;
      margin-top: rem(16px);
      font-size: rem(12px);
    }
  }
  &__main-prize {
    height: vh(170px);
  }
  &__arrow {
    display: block;
    @include size(rem(50px));
    &-wrapper {
      margin: auto auto rem(68px);
    }
  }
  &__btn {
    width: 100%;
  }
  @media (min-width: $md) and (orientation: landscape) {
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    padding-top: rem(130px);
    background: none;
    background-size: 100%;
    overflow: hidden;
    z-index: 1;
    &__parallax {
      &-img {
        position: absolute;
        &:nth-child(1) {
          width: 31%;
          bottom: 0;
          right: rem(-10px);
          z-index: 1;
        }
        &:nth-child(2) {
          width: 31%;
          bottom: 0;
          left: rem(-10px);
          z-index: 1;
        }
        &:nth-child(3) {
          width: 31%;
          bottom: rem(150px);
          right: 3%;
        }
        &:nth-child(4) {
          width: 31%;
          bottom: rem(150px);
          left: 3%;
        }
      }
    }
    .container {
      height: 100%;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   background: url('../assets/images/hero.png') no-repeat center bottom;
    //   background-size: 100%;
    // }

    &__background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: rem(1180px);
      width: 100%;
      left: 0;
      object-fit: cover;
      z-index: -1;
    }
    &__title {
      margin-bottom: vh(20px);
      font-size: vh(110px);
      span {
        font-size: vh(76px);
      }
    }
    &__row {
      margin-top: auto;
      flex-direction: column;
      justify-content: center;
    }
    &__text {
      margin-bottom: vh(30px);
      font-size: vh(34px);
      text-align: center;
    }
    &__ribbon {
      height: rem(130px);
      margin: 0 auto;
    }
    &__btn {
      width: auto;
      margin: 0 auto rem(30px);
    }
    &__arrow {
      margin-top: 0;
      @include size(vh(60px));
      animation: arrow 1s ease-in infinite alternate;
      &-wrapper {
        margin-top: 0;
        transition: 0.4s;
        &.hide {
          opacity: 0;
        }
      }
    }
    &__mta {
      margin-top: auto;
    }
    &__main-prize {
      position: absolute;
      right: rem(40px);
      top: vh(143px);
      width: vw(460px);
      height: auto;
    }
  }
  @media (max-width: $md) and (orientation: landscape) {
    padding-top: calc(var(--vh, 1vh) * 20);
    background: url("../assets/images/hero.jpg") no-repeat center bottom;
    background-size: cover;
    &__title {
      font-size: vh(76px);
    }
    &__ribbon {
      height: vh(140px);
    }
    &__arrow {
      display: block;
      @include size(rem(30px));
      &-wrapper {
        margin: auto auto rem(30px);
      }
    }
    &__btn {
      margin-top: rem(20px);
    }
  }
  @media (min-width: $md) and (max-height: 750px) {
  }

  @media (max-width: $xlg) {
  }
}
@keyframes arrow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
</style>
