<template>
  <section class="prizes section" id="prizes">
    <img src="../assets/images/rays.svg" alt="" class="prizes__rays" />
    <div class="container">
      <div class="section-title" data-show>
        Выигрывайте <br class="visible-xs" />призы
      </div>
      <div class="section-subtitle" data-show>
        призовой фонд на период с&nbsp;1&nbsp;октября по&nbsp;25&nbsp;октября
      </div>
      <div class="prizes-new" data-show>
        <div class="prizes-new__item">
          <img src="../assets/images/prizes/prize_14.png" alt="" class="prizes-new__item-img">
          <span>Сертификат СпортМастер</span>
        </div>
        <div class="prizes-new__item">
          <img src="../assets/images/prizes/prize_15.png" alt="" class="prizes-new__item-img">
          <span>Сертификат озон</span>
        </div>
      </div>
      <div class="section-subtitle hidden-xs" data-show>
        призовой фонд на период с 1 августа по 30 сентября
      </div>
      <ul class="prizes-dates hidden-xs" data-show>
        <li
          v-for="(date, i) in dates"
          :key="i"
          class="prizes-dates__date"
          :class="{ active: date.active }"
        >
          {{ date.text }}
        </li>
      </ul>
      <div class="prizes-dates-note hidden-xs" data-show>
        *розыгрыш еженедельных призов
      </div>
      <div class="prizes__content fxdc">
        <div class="prizes-item prizes-item__garant">
          <div class="prizes-item__content">
            <div class="prizes-item__slide-title">Гарантированные призы</div>
            <div class="prizes-item-img-wrapper">
              <img
                src="../assets/images/prizes/prize_1.png"
                class="prizes-item-img"
              />
            </div>
            <div class="prizes-item__title">Промокод на видео сервис</div>
          </div>
        </div>
        <div class="prizes__slider-title hidden-xs">еженедельные призы</div>
        <VueSlickCarousel
          ref="slider2"
          v-bind="settings"
          @afterChange="afterChange"
          class="prizes__list hidden-xs"
        >
          <div
            v-for="(item, i) in prizes"
            :key="i"
            class="prizes-item"
            :class="item.className ? `prizes-item__${item.className}` : ''"
          >
            <div class="prizes-item__content">
              <div class="prizes-item__slide-title visible-xs">
                еженедельные призы
              </div>
              <div
                v-if="item.className === 'garant'"
                class="prizes-item__slide-title"
              >
                Гарантированные призы
              </div>
              <div class="prizes-item-img-wrapper">
                <img
                  :src="require(`../assets/images/prizes/prize_${i + 2}.png`)"
                  class="prizes-item-img"
                />
              </div>
              <div class="prizes-item__title" v-html="item.title"></div>
            </div>
          </div>
        </VueSlickCarousel>
        <VueSlickCarousel
          :asNavFor="c2"
          ref="c1"
          v-bind="settingsDates"
          class="prizes-dates visible-xs"
        >
          <div
            v-for="(date, i) in dates"
            :key="i"
            class="prizes-dates__date"
            :class="{ active: date.active }"
          >
            {{ date.text }}
          </div>
        </VueSlickCarousel>
        <VueSlickCarousel
          ref="c2"
          :asNavFor="c1"
          v-bind="settings"
          @afterChange="afterChange"
          class="prizes__list visible-xs"
        >
          <div
            v-for="(item, i) in prizes"
            :key="i"
            class="prizes-item"
            :class="item.className ? `prizes-item__${item.className}` : ''"
          >
            <div class="prizes-item__content">
              <div class="prizes-item__slide-title visible-xs">
                РОЗЫГРЫШ <br />еженедельных&nbsp;призов
              </div>
              <div
                v-if="item.className === 'garant'"
                class="prizes-item__slide-title"
              >
                Гарантированные призы
              </div>
              <div class="prizes-item-img-wrapper">
                <img
                  :src="require(`../assets/images/prizes/prize_${i + 2}.png`)"
                  class="prizes-item-img"
                />
              </div>
              <div class="prizes-item__title" v-html="item.title"></div>
            </div>
          </div>
        </VueSlickCarousel>
        <div class="prizes__main-prize">
          <img
            src="../assets/images/prizes/main-prize.png"
            alt=""
            class="prizes__main-prize-img"
          />
          <div class="prizes__main-prize-content">
            <div class="prizes__main-prize-title">Главный приз</div>
            <div class="prizes__main-prize-text">
              <strong
                >2&nbsp;сертификата <br class="hidden-xs" />по&nbsp;150&nbsp;000
                рублей</strong
              >
              на&nbsp;поездку в&nbsp;г. Санкт-Петербург.
              <br />Розыгрыш каждый месяц
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import isMobile from "../utils/device";

export default {
  components: { VueSlickCarousel },
  props: {},
  data: function () {
    return {
      c1: undefined,
      c2: undefined,
      settingsDates: {
        focusOnSelect: true,
        centerMode: true,
        arrows: false,
        centerPadding: "210px",
        responsive: [
          {
            breakpoint: 760,
            settings: {
              centerPadding: "150px",
            },
          },
          {
            breakpoint: 560,
            settings: {
              centerPadding: "110px",
            },
          },
        ],
      },
      settings: {
        arrows: true,
        dots: true,
        slidesToShow: 3,
        infinite: true,
        slidesToScroll: 1,
        initialSlide: -1,
        responsive: [
          {
            breakpoint: 1023,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              initialSlide: 0,
              infinite: true,
              fade: true,
              dots: true,
              focusOnSelect: true,
            },
          },
        ],
      },
      activeWeek: 0,
      dates: [
        {
          text: "11 августа",
          fullDate: "11.08.2023",
          active: false,
          value: 1,
        },
        {
          text: "18 августа",
          fullDate: "18.08.2023",
          active: false,
          value: 2,
        },
        {
          text: "26 августа",
          fullDate: "26.08.2023",
          active: false,
          value: 3,
        },
        {
          text: "02 сентября",
          fullDate: "02.09.2023",
          active: false,
          value: 4,
        },
        {
          text: "09 сентября",
          fullDate: "09.09.2023",
          active: false,
          value: 5,
        },
        {
          text: "17 сентября",
          fullDate: "17.09.2023",
          active: false,
          value: 6,
        },
        {
          text: "25 сентября",
          fullDate: "25.09.2023",
          active: false,
          value: 7,
        },
        {
          text: "04 октября",
          fullDate: "04.10.2023",
          active: false,
          value: 8,
        },
      ],
      prizes: [
        // {
        //   title: 'Промокод на видео сервис',
        //   className: 'garant',
        //   hiddenXs: true
        // },
        {
          title: "Решетка-гриль",
        },
        {
          title: "Сковорода-гриль",
        },
        {
          title: "Набор шампуров",
        },
        {
          title: "Набор для пикника",
        },
        {
          title: "Складной <br>двусторонний плед",
        },
        {
          title: "Сумка-холодильник <br>на 15 л.",
        },
        {
          title: "Колонка",
        },
        {
          title: "ТЕРМОС",
        },
        {
          title: "Сертификат СпортМастер",
        },
        {
          title: "мангал",
        },
        {
          title: "Термо-гриль",
        },
        {
          title: "газовый гриль",
        },
      ],
    };
  },
  methods: {
    checkWeek() {
      const currentDate = this.$moment(new Date()).format("DD.MM.YYYY");
      const currentWeek = this.dates.filter(
        (i) => currentDate === i.fullDate
      )[0];
      const indexWeek = this.dates.indexOf(currentWeek);
      if (indexWeek >= 0 && typeof indexWeek !== "undefined") {
        this.dates[indexWeek].active = true;
      }
    },
    afterChange() {
      this.gtmEvent("prizes_slider_interaction");
    },
  },
  computed: {
    isMobile() {
      return isMobile;
    },
  },
  mounted() {
    this.checkWeek();
    this.c1 = this.$refs.c1;
    this.c2 = this.$refs.c2;
  },
};
</script>

<style lang="scss" scoped>
.prizes {
  position: relative;
  align-items: center;
  padding-top: rem(60px);
  padding-bottom: rem(60px);
  flex-direction: column;
  z-index: 2;
  &__content {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: rem(20px);
    margin-bottom: rem(90px);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      @include size(100%);
      border: rem(3px) solid $green_dark;
      border-radius: rem(20px);
    }
  }
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: rem(24px) rem(10px) rem(30px);
    border-radius: rem(20px);
    &:last-of-type {
      margin-bottom: 0;
    }
    &__garant {
      border: rem(3px) solid $green_dark;
      .prizes-item__slide-title {
        margin-bottom: 0;
      }
    }
    &__slide-title {
      color: $green_light;
      text-transform: uppercase;
      font-family: $bold;
      font-size: rem(22px);
      margin-bottom: rem(50px);
    }
    &._big {
      order: -1;
      height: auto;
      padding-top: rem(50px);
      padding-bottom: rem(16px);
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-img {
      position: relative;
      max-width: rem(210px);
      max-height: 100%;
      z-index: 2;
      &._alsfe {
        align-self: flex-end;
      }
      &-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: rem(230px);
        margin: rem(0px) auto rem(5px);
        &::before {
          content: "";
          position: absolute;
          display: block;
          @include size(rem(230px));
          background: url("../assets/images/shadow.svg") no-repeat center;
          background-size: contain;
        }
      }
    }
    &__text {
      margin-bottom: rem(6px);
      font-size: rem(24px);
      line-height: 1;
      color: #fff9f2;
      text-align: center;
      &._big {
        font-size: rem(30px);
        text-transform: uppercase;
      }
    }
    &__title {
      font-size: rem(18px);
      line-height: 1;
      color: #fff9f2;
      text-transform: uppercase;
      font-family: $bold;
    }
    .btn {
      position: absolute;
      top: 99%;
      left: 50%;
      min-width: auto;
      width: rem(209px);
      height: rem(50px);
      line-height: rem(42px);
      font-size: rem(20px);
      text-transform: none;
      transform: translate(-50%, -50%);
      pointer-events: none;
      cursor: default;
    }
  }
  &__rays {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  &__main-prize {
    &-img {
      height: rem(213px);
    }
    &-content {
      text-align: center;
    }
    &-title {
      margin-bottom: rem(16px);
      line-height: 1;
      font-size: rem(30px);
      color: $green_light;
      text-transform: uppercase;
      font-family: $bold;
    }
    &-text {
      font-size: rem(18px);
      line-height: rem(21px);
      strong {
        margin-bottom: rem(10px);
        display: block;
        font-size: rem(20px);
        text-transform: uppercase;
        font-family: $bold;
      }
    }
  }
  &-dates {
    // position: absolute;
    top: rem(150px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-note {
      margin: rem(20px) auto rem(46px);
      font-family: $bold;
      text-transform: uppercase;
      font-size: rem(14px);
    }
    &__date {
      margin: 0 vw(18px);
      text-transform: uppercase;
      font-family: $bold;
      text-align: center;
      font-size: rem(20px);
      cursor: pointer;
      opacity: 0.5;
      &.active,
      .slick-current & {
        opacity: 1;
      }
      &:first-child {
        margin-left: rem(0px);
      }
      &:last-child {
        margin-right: rem(0px);
      }
    }
  }
  &-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(90px);
    gap: rem(20px);
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 0 0 30%;
      padding-top: rem(55px);
      background: url('../assets/images/shadow.svg') no-repeat center top 0%;
      background-size: contain;
      &-img {
        max-height: rem(300px);
      }
      span {
        font-family: $bold;
        text-transform: uppercase;
        font-size: rem(20px);
      }
    }
  }
  @media (max-width: $md) and (orientation: landscape) {
    &__main-prize {
      &-img {
        margin-left: 43%;
        transform: translateX(-50%);
      }
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    padding-top: rem(125px);
    padding-bottom: rem(0px);
    overflow: visible;
    z-index: 0;
    .section-title {
      margin-bottom: rem(40px);
    }
    &-new {
      flex-direction: row;
      align-items: flex-start;
      &__item {
        padding-top: rem(145px);
        background-position: center;
        &-img {
          height: rem(300px);
        }
        span {
          font-size: rem(30px);
        }
      }
    }
    &-dates {
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      &-note {
        margin: rem(20px) auto rem(46px);
        font-family: $bold;
        text-transform: uppercase;
        font-size: rem(20px);
      }
      &::after {
        content: "*";
        position: absolute;
        left: calc(100% + rem(5px));
        color: #fff;
        font-size: rem(24px);
      }
      &__date {
        margin: 0 vw(18px);
        text-transform: uppercase;
        font-family: $bold;
        font-size: vw(30px);
        cursor: pointer;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
        &:first-child {
          margin-left: rem(0px);
        }
        &:last-child {
          margin-right: rem(0px);
        }
      }
      &::after {
        content: "*";
        position: absolute;
        left: calc(100% + rem(10px));
        color: #fff;
        font-size: rem(24px);
      }
    }
    &__content {
      position: relative;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      margin-top: rem(5px);
      overflow: visible;
    }
    &__slider-title {
      position: absolute;
      top: rem(52px);
      left: 55%;
      font-size: rem(36px);
      line-height: 1;
      color: $green_light;
      font-family: $bold;
      text-transform: uppercase;
    }
    &__list {
      width: 100%;
      margin: 0 auto;
      margin-bottom: rem(60px);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &::before {
        width: 100%;
        border: rem(6px) solid $green_dark;
        border-radius: rem(40px);
      }
    }
    &-item {
      flex-direction: row;
      flex: 0 0 27%;
      height: rem(650px);
      margin: 0 0;
      padding: rem(48px) rem(10px) rem(70px);
      border: rem(6px) solid transparent;
      border-radius: rem(40px);
      max-height: 100%;
      &__garant {
        position: absolute;
        width: 33%;
        border: rem(6px) solid $green_dark;
        background: #056b29;
        z-index: 1;
      }
      &__slide-title {
        position: absolute;
        font-size: rem(36px);
        line-height: 1;
      }
      &._big {
        flex: 0 0 36%;
        height: auto;
        padding-top: rem(156px);
        padding-bottom: rem(38px);
        order: 0;
      }
      &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__title {
        margin-bottom: rem(20px);
        font-size: rem(30px);
        line-height: rem(36px);
        color: #fff9f2;
        text-transform: uppercase;
        font-family: $bold;
      }
      &-img {
        width: auto;
        max-width: 80%;
        max-height: 100%;
        &-wrapper {
          width: 100%;
          height: rem(370px);
          margin: rem(53px) auto;
          flex-shrink: 0;
          &::before {
            @include size(rem(400px));
          }
        }
      }
      &__text {
        margin-bottom: rem(6px);
        font-size: rem(32px);
        line-height: 1;
        color: #fff9f2;
        text-align: center;
        text-shadow: 0px rem(2px) rem(4px) rgba(0, 0, 0, 0.25);
        &._big {
          font-size: rem(40px);
          text-transform: none;
        }
      }
      .btn {
        position: absolute;
        top: 99%;
        left: 50%;
        width: rem(283px);
        height: rem(59px);
        line-height: rem(55px);
        font-size: rem(26px);
        text-transform: none;
        transform: translate(-50%, -50%);
        pointer-events: none;
        cursor: default;
      }
    }
    &__main-prize {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: rem(190px);
      margin-bottom: rem(30px);
      &-content {
        position: absolute;
        text-align: right;
        left: rem(40px);
        top: 44%;
      }
      &-title {
        margin-bottom: rem(5px);
        font-size: rem(60px);
        line-height: 1;
      }
      &-text {
        font-size: rem(24px);
        line-height: normal;
        strong {
          margin-bottom: rem(5px);
          display: block;
          font-size: rem(36px);
          text-transform: uppercase;
          font-family: $bold;
        }
      }
      &-img {
        height: rem(727px);
        margin-left: 10%;
      }
    }
  }
}
@keyframes ship {
  0%,
  100% {
    transform: translate(-2%, -3%);
  }
  50% {
    transform: translate(1%, 3%);
  }
}
@keyframes fish {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(rem(350px), rem(-400px));
  }
  50%,
  100% {
    transform: translate(rem(900px), rem(-800px));
  }
}
@keyframes fishReverse {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(rem(-600px), rem(-450px));
  }
  50%,
  100% {
    transform: translate(rem(-1200px), rem(-900px));
  }
}
@keyframes fishRotate {
  0%,
  100% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}
</style>
