<template>
  <section class="steps section" id="steps">
    <div class="container">
      <div class="steps__content">
        <h2 class="section-title" data-show>Как участвовать</h2>
        <div class="steps__list">
          <div
            class="steps__item"
            data-show
            v-for="(item, idx) in steps"
            :key="idx"
          >
            <div class="steps__item-img-wrapper">
              <img
                :src="require('../assets/images/steps/' + item.img)"
                alt=""
                class="steps__item-img"
              />
            </div>
            <div class="steps__item-content">
              <div class="steps__item-index">{{ idx + 1 }}</div>
              <div>
                <div class="steps__item-title" v-html="item.title"></div>
                <div class="steps__item-descr">
                  <span v-html="item.text"></span>
                  <div v-if="item.info" class="steps__item-info">
                    <svg
                      class="steps__item-info-icon"
                      width="34"
                      height="36"
                      viewBox="0 0 34 36"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="17" cy="17" r="17" fill="#8DFF49" />
                      <path
                        d="M14.5417 12H18.4417V27H14.5417V12ZM13.9717 7.77C13.9717 7.19 14.1817 6.7 14.6017 6.3C15.0417 5.88 15.6417 5.67 16.4017 5.67C17.1617 5.67 17.7717 5.88 18.2317 6.3C18.7117 6.7 18.9517 7.19 18.9517 7.77C18.9517 8.35 18.7117 8.84 18.2317 9.24C17.7717 9.62 17.1617 9.81 16.4017 9.81C15.6417 9.81 15.0417 9.62 14.6017 9.24C14.1817 8.84 13.9717 8.35 13.9717 7.77Z"
                        fill="#003318"
                      />
                    </svg>
                    <div class="steps__item-info-popup">
                      <div
                        v-for="i in item.info"
                        :key="i.img"
                        class="steps__item-info-popup-item"
                      >
                        <img
                          :src="require(`../assets/images/steps/${i.img}`)"
                          :alt="i.text"
                        />
                        <span>{{ i.text }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex fxdc jcc" data-show>
          <button @click="toCheckUpload()" class="steps__btn btn btn--primary">
            <span>зарегистрировать код</span>
          </button>
          <a
            :href="`${publicPath}docs/rules.pdf`"
            target="_blank"
            class="steps__rules"
          >
            <svg
              width="22"
              height="26"
              viewBox="0 0 22 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.0814 3.51236V7.37503H17.5947L13.0814 3.51236ZM19.3337 9.24995H11.2058V2.37503H4.99054C3.95579 2.37503 3.11659 3.21252 3.11492 4.24673L3.08457 21.7472C3.0829 22.7826 3.92104 23.6236 4.95703 23.6253H17.4578C18.4935 23.6253 19.3334 22.786 19.3334 21.7503L19.3337 9.24995ZM12.4453 0.5L21.2093 8.00011V21.7499C21.2093 23.821 19.5298 25.5 17.4581 25.5H4.96053C2.88229 25.4964 1.20576 23.8146 1.2093 21.7435L1.23965 4.24357C1.24321 2.17499 2.92165 0.5 4.99089 0.5H12.4453Z"
                fill="white"
                stroke="white"
                stroke-width="0.5"
              />
            </svg>
            <span>Полные правила акции</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  components: {},
  data: function () {
    return {
      publicPath: process.env.BASE_URL,
      steps: [
        {
          img: "step_1.svg",
          title: "НАХОДИТЕ",
          text: "коды под крышкой <br>или ключом",
          info: [
            {
              img: "opt-1.png",
              text: "Под крышкой бутылки",
            },
            {
              img: "opt-2.png",
              text: "Под крышкой ПЭТ",
            },
            {
              img: "opt-3.png",
              text: "Под ключом банки",
            },
          ],
        },
        {
          img: "step_2.svg",
          title: "регистрируйте",
          text: "коды в&nbsp;личном кабинете <br>с&nbsp;01.08 по&nbsp;25.10",
          button: true,
        },
        {
          img: "step_3.png",
          title: "выигрывайте",
          text: "призы",
        },
      ],
    };
  },
  methods: {
    showModal(name) {
      this.$modal.show(name);
    },

    toCheckUpload() {
      const t = this;
      this.gtmEvent("participate_button_2nd_screen");
      if (
        this.$store.getters.endTime ||
        this.$store.getters.temporarilyUnavailable
      ) {
        this.$modal.show("temporarily_unavailable");
      } else {
        if (this.$store.getters.user) {
          this.$modal.show("code_registration");
        } else {
          this.$router.push({ name: "Login" });
        }
      }
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.steps {
  position: relative;
  display: flex;
  padding-top: rem(90px);
  z-index: 2;
  .container {
    position: relative;
    z-index: 99;
  }
  &__content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 9;
  }
  .section-title {
    margin-bottom: rem(20px);
  }
  &__list {
    width: 100%;
    padding-top: rem(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: linear-gradient(113deg, #e40a17 30.01%, #a30610 85.46%);
    border-radius: rem(20px);
    margin-bottom: rem(63px);
    padding-bottom: rem(23px);
    &::after {
      content: "";
      display: block;
      width: rem(24px);
      height: rem(16px);
      position: absolute;
      top: calc(100% + rem(18px));
      left: 50%;
      transform: translateX(-50%);
      background: url("../assets/images/icons/select-arrow-2.svg") no-repeat
        center;
      background-size: contain;
    }
    &:last-of-type {
      margin-bottom: rem(20px);
      &::after {
        display: none;
      }
    }
    &-content {
      width: 100%;
      display: flex;
    }
    &-img {
      max-height: 100%;
      object-fit: contain;
      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: auto;
        margin-bottom: rem(-30px);
        margin-top: rem(-55px);
        height: rem(120px);
      }
    }
    &-index {
      width: rem(61px);
      text-align: center;
      font-family: $bold;
      font-size: rem(60px);
      line-height: 1;
    }
    &-title {
      font-size: rem(24px);
      line-height: rem(28px);
      font-family: $bold;
      text-transform: uppercase;
    }
    &-descr {
      display: flex;
      align-items: flex-start;
      margin: 0 auto;
      font-size: rem(18px);
      line-height: rem(23px);
      font-weight: 400;
      a,
      span {
        text-decoration: none;
      }
      img {
        display: inline;
      }
    }
    &-info {
      position: relative;
      margin-left: rem(10px);
      &:hover {
        .steps__item-info-popup {
          opacity: 1;
          pointer-events: all;
        }
      }
      &-icon {
        @include size(rem(26px));
        cursor: pointer;
      }
      &-popup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: rem(410px);
        max-width: calc(100vw - rem(40px));
        bottom: calc(100% + rem(23px));
        left: calc(50% - 10vw);
        transform: translateX(-50%);
        padding: rem(21px) rem(10px);
        background: #fff;
        border-radius: rem(14px);
        box-shadow: 12px 30px 30px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: 0.4s;
        pointer-events: none;
        z-index: 11;
        &::after {
          content: "";
          position: absolute;
          height: rem(100px);
          width: 100%;
          display: block;
          bottom: rem(-40px);
        }
        &::before {
          content: "";
          position: absolute;
          top: 99%;
          left: calc(50% + 10vw);
          display: block;
          height: rem(15px);
          width: rem(31px);
          transform: translateX(-50%);
          background: url("../assets/images/icons/select-arrow-2.svg") no-repeat
            center;
          background-size: contain;
        }
        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #000;
          img {
            height: rem(78px);
            margin-bottom: rem(13px);
          }
          span {
            display: block;
            white-space: normal;
            text-align: center;
            font-size: rem(15px);
            line-height: rem(19px);
          }
        }
      }
    }
  }
  &__btn {
    margin: rem(0px) auto rem(20px);
  }
  &__rules {
    display: flex;
    align-items: center;
    margin: auto;
    font-family: $bold;
    font-size: rem(18px);
    text-transform: uppercase;
    svg {
      height: rem(18px);
      margin-right: rem(9px);
      flex-shrink: 0;
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    padding-top: rem(125px);
    .section-title {
      margin-bottom: rem(40px);
    }
    &__content {
      padding-top: rem(0px);
    }
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: rem(123px);
    }

    &__item {
      flex: 0 0 31%;
      width: 31%;
      height: rem(250px);
      border-radius: rem(30px);
      margin-bottom: 0;
      &::after {
        top: 45%;
        left: 94%;
        width: rem(80px);
        height: rem(50px);
        transform: translateY(-50%) rotate(-90deg);
      }
      &-img {
        &-wrapper {
          max-width: 100%;
          height: rem(230px);
          margin-left: rem(40px);
          margin-top: rem(-130px);
          margin-bottom: rem(0px);
        }
      }
      &-index {
        width: rem(120px);
        margin-top: rem(-35px);
        font-size: rem(120px);
      }
      &-title {
        margin-bottom: rem(3px);
        font-size: rem(40px);
        line-height: rem(40px);
      }
      &-descr {
        margin: auto;
        font-size: rem(24px);
        line-height: rem(31px);
        white-space: nowrap;
      }
      &-info {
        &-icon {
          @include size(rem(36px));
        }
        &-popup {
          left: 50%;
          padding: rem(21px);
          &::before {
            left: 50%;
          }
          &-item {
            img {
              height: rem(98px);
              margin-bottom: rem(13px);
            }
            span {
              font-size: rem(18px);
              line-height: rem(23px);
            }
          }
        }
      }
    }
    &__btn {
      width: 31%;
      margin: rem(30px) auto rem(34px);
    }
    &__rules {
      font-size: rem(26px);
      svg {
        height: rem(25px);
        margin-right: rem(12px);
      }
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    .container {
      display: flex;
      align-items: center;
    }
    &__list {
      margin: auto;
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
@keyframes umbrella {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
