<template>
  <div class="winners section" id="winners">
    <img
      src="../assets/images/crown.png"
      alt=""
      class="winners__crown hidden-xs"
    />
    <img
      src="../assets/images/beer.png"
      alt=""
      class="winners__beer hidden-xs"
    />
    <img src="../assets/images/cap.png" alt="" class="winners__cap hidden-xs" />
    <div class="container">
      <div class="winners__header" data-show>
        <h2 class="section-title">
          <span>Победители</span>
        </h2>
      </div>
      <div class="winners__top">
        <ul class="winners__tabs">
          <li
            v-for="(tab, i) in tabs"
            :key="i"
            class="winners__tabs-nav"
            :class="{ _active: activeItem === tab.value }"
            @click="(activeItem = tab.value), getWinnersResult(tab.value)"
          >
            {{ tab.label }}
          </li>
        </ul>
        <Select
          color="grey"
          className="_bordered"
          :options="[
            { id: 1, label: '01.08.2023 - 07.08.2023' },
            { id: 2, label: '08.08.2023 - 15.08.2023' },
            { id: 3, label: '16.08.2023 - 23.08.2023' },
            { id: 4, label: '24.08.2023 - 30.08.2023' },
            { id: 5, label: '31.08.2023 - 06.09.2023' },
            { id: 6, label: '07.09.2023 - 14.09.2023' },
            { id: 7, label: '15.09.2023 - 22.09.2023' },
            { id: 8, label: '23.09.2023 - 30.09.2023' },
            { id: 9, label: '01.10.2023 - 08.10.2023' },
            { id: 10, label: '09.10.2023 - 16.10.2023' },
            { id: 11, label: '17.10.2023 - 25.10.2023' },
          ]"
          field="01.08.2023 - 07.08.2023"
          @input="week = $event.id, page = 1"
        />
        <div class="winners__search hidden-xs">
          <form
            class="winners__search-form"
            v-on:submit.prevent="searchForm"
            :class="{
              error:
                validationStatus($v.searchQuery) ||
                this.errorMessage.searchQuery,
            }"
          >
            <input
              class="winners__search-field"
              type="email"
              name="term"
              v-model="searchQuery"
              @focus="errorReset()"
              placeholder="Поиск по email"
            />
            <button type="submit" class="winners__search-button"></button>
            <div
              v-if="searchQuery"
              @click="formReset()"
              class="winners__search-clear"
            ></div>
            <div
              class="error-hint"
              v-if="
                validationStatus($v.searchQuery) ||
                this.errorMessage.searchQuery
              "
              v-html="
                (!$v.searchQuery.required && $v.searchQuery.$error
                  ? 'Обязательное поле'
                  : !$v.searchQuery.email && $v.searchQuery.$error
                  ? 'Некорректный e-mail'
                  : '') || this.errorMessage.searchQuery
              "
            ></div>
          </form>
        </div>
      </div>

      <div class="winners__content">
        <div
          v-if="winners && winners.length"
          class="winners__search only-mobile"
        >
          <form
            class="winners__search-form"
            v-on:submit.prevent="searchForm"
            :class="{
              error:
                validationStatus($v.searchQuery) ||
                this.errorMessage.searchQuery,
            }"
          >
            <input
              class="winners__search-field"
              type="email"
              name="term"
              v-model="searchQuery"
              @focus="errorReset()"
              placeholder="Поиск по email"
            />
            <button type="submit" class="winners__search-button"></button>
            <div
              v-if="searchQuery"
              @click="formReset()"
              class="winners__search-clear"
            ></div>
            <div
              class="error-hint"
              v-if="
                validationStatus($v.searchQuery) ||
                this.errorMessage.searchQuery
              "
              v-html="
                (!$v.searchQuery.required && $v.searchQuery.$error
                  ? 'Обязательное поле'
                  : !$v.searchQuery.email && $v.searchQuery.$error
                  ? 'Некорректный e-mail'
                  : '') || this.errorMessage.searchQuery
              "
            ></div>
          </form>
        </div>
        <div class="winners__result">
          <Table :thead="fields" v-if="winners && winners.length">
            <template v-slot:tbody>
              <tr v-for="(item, index) in winners" :key="index">
                <td>
                  {{ item.date }}
                </td>
                <!-- <td>
                  {{ item.name }}
                </td> -->
                <td>
                  {{ item.email }}
                </td>
                <td>
                  {{ item.prize }}
                </td>
              </tr>
            </template>
            <template v-slot:mobile>
              <table class="winners-tab-mobile">
                <tr v-for="(item, index) in winners" :key="index">
                  <td>
                    <table class="table-mobile__inner">
                      <tr>
                        <td>{{ item.date }}</td>
                      </tr>
                      <!-- <tr>
                        <td>
                          {{ item.name }}
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          {{ item.email }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ item.prize }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </template>
          </Table>
          <div class="no-results" v-if="!winners.length">
            <div class="d-flex jcc fxdc">
              <img
                src="../assets/images/winners.svg"
                alt=""
                class="no-results__img"
              />
              <span>{{ noSearchResults ? 'Среди победителей данный аккаунт не найден' : 'Розыгрыш еще не&nbsp;проводился' }}</span>
              <button
                @click="toCheckUpload()"
                class="no-results__btn btn btn--primary"
              >
                <span>зарегистрировать код</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ul class="pagination" v-if="winners && winners.length && pages.length > 1">
        <li
          class="pagination-item"
          v-if="page != 1"
          @click="page--, paginate()"
        >
          <svg
            width="12"
            height="18"
            viewBox="0 0 12 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 2L3 9L10 16"
              stroke="#8DFF49"
              stroke-width="3"
              stroke-linecap="round"
            />
          </svg>
        </li>
        <li
          class="pagination-item"
          v-for="pageNumber in pages.length"
          :key="pageNumber"
          @click="(page = pageNumber), paginate()"
          :class="{
            current: page === pageNumber,
            last: pageNumber == pages.length && Math.abs(pageNumber - page) > 3,
            first: pageNumber == 1 && Math.abs(pageNumber - page) > 3,
            visible:
              Math.abs(pageNumber - page) < 3 ||
              pageNumber === pages.length ||
              pageNumber == 1,
          }"
        >
          {{ pageNumber }}
        </li>
        <li
          @click="page++, paginate()"
          v-if="page < pages.length"
          class="pagination-item"
        >
          <svg
            width="12"
            height="18"
            viewBox="0 0 12 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 2L9 9L2 16"
              stroke="#8DFF49"
              stroke-width="3"
              stroke-linecap="round"
            />
          </svg>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Table from "@/components/Table.vue";
import Select from "@/components/form/inputSelect.vue";

import { required } from "vuelidate/lib/validators";

export default {
  components: {
    Table,
    Select,
  },
  data: function () {
    return {
      tabs: [
        {
          label: "еженедельные призы",
          value: "week",
        },
        {
          label: "главный приз",
          value: "main",
        },
      ],
      page: 1,
      week: 1,
      perPage: 1,
      pages: [],
      currentWeek: 1,
      searchQuery: null,
      date: null,
      total: 0,
      noResults: false,
      noSearchResults: false,
      errorMessage: {
        date: null,
        searchQuery: null,
      },
      fields: [
        {
          text: "дата",
        },
        // {
        //   text: "имя",
        // },
        {
          text: "email",
        },
        {
          text: "приз",
        },
      ],
      winners: [],
      showPaginate: true,
      activeItem: "week",
    };
  },
  validations: {
    searchQuery: { required },
  },
  methods: {
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        searchQuery: null,
      };
    },
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },
    setPages(total) {
      this.pages = [];
      if (total) {
        for (let index = 1; index <= total; index++) {
          this.pages.push(index);
        }
      }
      console.log(this.pages);
    },
    paginate() {
      let page = this.page;
      this.$store
        .dispatch("GetWinners", {
          page: page,
          type: this.activeItem,
          week: this.week ? this.week : null,
        })
        .then((response) => {
          this.winners = response.data.rows;
        });
    },
    getWinnersResult(val, week) {
      this.noSearchResults = false;
      this.$store
        .dispatch("GetWinners", {
          type: val,
          page: this.page,
          week: this.week ? this.week : null,
        })
        .then((response) => {
          this.winners = response.data.rows;
          if (!this.winners.length) {
            this.noResults = true;
          } else {
            this.noResults = false;
          }
        });
    },
    searchForm() {
      this.$v.$touch();
      if (this.$v.$pendding || this.$v.$error) return;
      this.page = 1;
      this.$store
        .dispatch("SearchWinners", {
          email: this.searchQuery,
          type: this.activeItem,
          page: this.page,
        })
        .then((response) => {
          this.winners = response.data;
          if (!this.winners.length) {
            this.noSearchResults = true;
          } else {
            this.noSearchResults = false;
          }
        });
    },
    formReset() {
      this.$v.$reset();
      this.searchQuery = null;
      this.noSearchResults = false;
      this.$store
        .dispatch("GetWinners", {
          type: this.activeItem,
          week: this.week ? this.week : null,
        })
        .then((response) => {
          this.winners = response.data.rows;
        });
    },
    isActive(menuItem) {
      return this.activeItem === menuItem;
    },
    setActive(menuItem) {
      this.activeItem = menuItem;
    },
    toCheckUpload() {
      const t = this;
      this.gtmEvent("participate_button_winners");
      if (
        this.$store.getters.endTime ||
        this.$store.getters.temporarilyUnavailable
      ) {
        this.$modal.show("temporarily_unavailable");
      } else {
        if (this.$store.getters.user) {
          this.$modal.show("code_registration");
        } else {
          this.$router.push({ name: "Login" });
        }
      }
    },
  },
  mounted() {},
  created() {
    try {
      this.$store
        .dispatch("GetWinners", {
          type: "week",
          page: this.page,
          week: this.week ? this.week : null,
        })
        .then((response) => {
          this.total = response.data.paging.total;
          this.winners = response.data.rows;
          if (!this.winners.length) {
            this.noResults = true;
          } else {
            this.noResults = false;
          }
        });
    } catch (e) {
      console.log(e);
      this.noResults = true;
    }
  },
  watch: {
    week(val) {
      this.getWinnersResult(this.activeItem, val);
    },
    winners() {
      console.log(this.total);
      this.setPages(this.total);
    },
  },
  computed: {
    // displayedWinners() {
    //   return this.paginate(this.winners);
    // },
  },
};
</script>

<style lang="scss">
.winners {
  position: relative;
  display: flex;
  padding-top: rem(70px);
  padding-bottom: rem(70px);
  align-items: center;
  z-index: 1;
  background: $green_dark;
  &__title {
    margin-bottom: rem(31px);
    color: $red;
  }
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  &__tabs {
    display: flex;
    flex-direction: row;
    padding: rem(3px);
    margin-bottom: rem(14px);
    background: $green_darken;
    border-radius: rem(50px);
    &-nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(48px);
      padding: 0 rem(15px);
      color: #fff;
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
      font-family: $bold;
      font-size: rem(16px);
      border-radius: rem(35px);
      cursor: pointer;
      &._active {
        background: $red;
      }
    }
  }
  &__select {
    margin: 0;
    width: 100%;
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  .container {
    position: relative;
  }
  &__search {
    width: 100%;
  }
  &__search-field {
    width: 100%;
    padding: 2px rem(40px) 0 rem(50px);
    height: rem(55px);
    font-size: rem(16px);
    background: $green_darken;
    border: rem(2px) solid #fff;
    font-family: $bold;
    text-transform: uppercase;
    box-shadow: none;
    text-align: left;
    color: #fff;
    border-radius: rem(80px);
    outline: none;
    &::placeholder {
      color: #fff;
      opacity: 0.5;
    }
  }
  &__search-form {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: rem(14px) auto rem(20px);
  }
  &__search-button {
    position: absolute;
    top: 50%;
    left: rem(10px);
    transform: translateY(-50%);
    @include size(#{rem(40px)});
    z-index: 1;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../assets/images/icons/search.svg") no-repeat center;
      background-size: rem(20px);
    }
  }
  &__search-clear {
    position: absolute;
    top: 0;
    right: rem(20px);
    width: rem(18px);
    height: 100%;
    background: url("../assets/images/icons/close-white.svg") no-repeat center;
    background-size: 100%;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: auto;
    height: 100%;
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: rem(-120px);
    pointer-events: none;
    z-index: 10;
  }
  .no-results {
    margin: auto;
    text-align: center;
    padding-top: rem(30px);
    font-size: rem(22px);
    color: #fff;
    text-transform: uppercase;
    font-family: $bold;
    &__img {
      width: rem(200px);
      margin: rem(30px) auto rem(20px);
    }
    span {
      margin-bottom: rem(20px);
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    padding: rem(120px) 0;
    .container {
      width: rem(1230px);
      padding-bottom: 0 !important;
    }
    &__crown {
      position: absolute;
      top: rem(112px);
      right: rem(90px);
      width: rem(184px);
      transform: translate(200%, -20%);
      opacity: 0;
      transition: 2s;
      transition-delay: 1s;
      .active & {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    &__beer {
      position: absolute;
      top: rem(568px);
      right: 0;
      width: rem(300px);
      transform: translate(200%, 40%);
      opacity: 0;
      transition: 2s;
      transition-delay: 1.5s;
      .active & {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    &__cap {
      position: absolute;
      top: rem(543px);
      left: rem(47px);
      width: rem(304px);
      transform: translate(-200%, -10%);
      opacity: 0;
      transition: 2s;
      transition-delay: 1.7s;
      .active & {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    &__content {
      position: relative;
      flex-direction: row;
    }
    &__top {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(40px);
      margin-top: rem(5px);
      padding-top: 0;
    }
    &__title {
      color: #fff;
      margin-bottom: rem(58px) !important;
    }
    &__search-field {
      width: 100%;
      height: rem(60px);
      padding: 2px rem(60px) 0 rem(60px);
      font-size: rem(20px);
    }
    &__result {
      min-height: rem(500px);
    }
    &__tabs {
      padding: rem(5px);
      margin-bottom: 0;
      margin-right: rem(10px);
      flex-direction: row;
      &-nav {
        height: rem(50px);
        padding: 0 rem(25px);
        line-height: rem(50px);
        margin-bottom: 0;
        margin-right: rem(5px);
        font-size: rem(26px);
        border-radius: rem(30px);
        &::before {
          top: rem(-2px);
          left: rem(0px);
          width: calc(100% + #{rem(4px)});
          height: rem(90px);
          transform: translateX(0%);
          border-radius: 8px;
          border-bottom-right-radius: rem(0px);
          border-bottom-left-radius: rem(0px);
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &__select {
      flex: 0 0 40%;
    }
    &__search {
      width: auto;
      min-width: rem(272px);
      margin-left: auto;
      &-form {
        margin: 0;
      }
    }
    &__search-button {
      @include size(#{rem(60px)});
      left: 0;
      &::after {
        background-size: rem(26px);
      }
    }
    &-tab-desktop {
      display: block;
    }
    &-tab-mobile {
      display: none;
    }
    .no-results {
      max-width: 70%;
      margin: auto;
      font-size: rem(30px);
      &__img {
        width: rem(363px);
        margin: 0 auto rem(50px);
      }
      span {
        margin-bottom: rem(30px);
      }
    }
  }
}
@keyframes leaf {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
</style>
