<template>
  <modal
    :name="name"
    :adaptive="true"
    :scrollable="true"
    width="1000"
    height="auto"
    @before-open="beforeOpen"
    :clickToClose="!withoutClosing"
  >
    <div
      class="modal"
      :class="[
        'modal-' + name,
        size ? 'modal--' + size : 'modal--md',
        success ? 'modal-success' : '',
        withoutClosing ? '_withoutClosing' : '',
      ]"
    >
      <div
        class="modal__close"
        v-if="!withoutClosing"
        @click="closeModal(name)"
      ></div>
      <img
        v-if="premier"
        src="../assets/images/Premier.svg"
        alt=""
        class="modal__premier"
      />
      <img
        v-if="successIcon"
        src="../assets/images/icons/success.svg"
        alt=""
        class="modal__success-icon"
      />
      <img
        v-if="finishIcon"
        src="../assets/images/icons/finish.svg"
        alt=""
        class="modal__finish-icon"
      />
      <div class="modal__header" v-if="title">
        <h2
          class="modal__title"
          :class="success ? 'modal-success__title' : ''"
          v-html="title"
        ></h2>
      </div>
      <slot name="content"></slot>
    </div>
  </modal>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
    },
    name: {
      type: String,
    },
    title: {
      type: String,
    },
    success: {
      type: Boolean,
    },
    successIcon: {
      type: Boolean,
    },
    finishIcon: {
      type: Boolean,
    },
    premier: {
      type: Boolean,
    },
    withoutClosing: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    showBurger() {
      this.closeModal(this.name);
      let header = document.querySelector(".header");
      if (!header.classList.contains("header--mob_active"))
        header.classList.add("header--mob_active");
      else header.classList.remove("header--mob_active");
    },
    closeModal(name) {
      this.$emit("closeModal", name);
      if (name === "signup") {
        // this.gtmEvent("drop_success", "do", "internal");
      }
    },
    beforeOpen(event) {
      this.$parent.beforeOpen(event);
    },
  },
  mounted() {
    // this.$modal.show("success_modal");
  },
};
</script>

<style lang="scss">
.vm--container {
  overflow: auto;
  z-index: 999999 !important;
  .vm--overlay {
    background: rgba(#001409, 0.8);
    backdrop-filter: blur(6px);
  }
}
.vm--modal {
  padding: 5vh 0;
  justify-content: center;
  overflow: visible !important;
  display: flex;
  min-height: 100%;
  height: auto !important;
  top: 0 !important;
  align-items: center;
  box-shadow: none !important;
  background-color: transparent !important;

  @media (min-width: $md) and (orientation: landscape) {
    padding: 0;
    align-items: center;
  }
}

.modal {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 100vw;
  // margin-top: 10vh;
  padding: rem(50px) rem(20px) rem(33px);
  background: #056b29;
  border-radius: rem(20px);
  color: #fff;
  // box-shadow: 0px rem(10px) rem(30px) rgba(0, 0, 0, 0.5);
  &-check_photo {
    min-height: auto;
  }
  &__header {
    display: flex;
    justify-content: center;
  }
  &.modal-extended {

    .modal__header {
      position: relative;
      padding-top: rem(140px);
      display: flex;
      flex-direction: column;
      &::before {
        content: '';
        position: absolute;
        top: rem(-20px);
        left: 50%;
        transform: translateX(calc(-50% + #{rem(25px)}));
        @include size(#{rem(180px)});
        display: block;
        background: url('../assets/images/cap-2.png') no-repeat center;
        background-size: contain;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: rem(10px);
    right: rem(10px);
    width: rem(30px);
    height: rem(30px);
    background-image: url("../assets/images/icons/close.svg");
    background-repeat: no-repeat;
    background-size: rem(18px);
    background-position: center;
    transition: 0.4s;
    &:hover {
      transform: rotate(90deg);
    }
  }

  &__title {
    position: relative;
    display: flex;
    max-width: 100%;
    align-self: center;
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: rem(20px);
    font-size: rem(30px);
    line-height: 1.2;
    font-family: $bold;
    color: $green_light;
    line-height: 1;
    &::after,
    &::before {
      content: "";
      margin: rem(15px) 0;
      width: rem(30px);
      height: rem(3px);
      background: $green_light;
      flex-grow: 1;
      border-radius: 10px;
    }
    &::after {
      margin-left: rem(10px);
    }
    &::before {
      margin-right: rem(10px);
    }
    span {
      display: block;
      &.white {
        color: #FFF;
      }
    }
    &._white {
      color: $grey;
    }
    small {
      max-width: 80%;
      margin-top: rem(10px);
      font-size: rem(16px);
      line-height: rem(22px);
      text-transform: none;
    }
    i {
      display: block;
      @include size(rem(6px));
      margin: 0 rem(13px) rem(5px);
      border-radius: 50%;
      background: $red;
    }
    & + .modal__text {
      margin-top: rem(-7px);
    }
  }
  &__success-icon {
    max-height: rem(120px);
    width: auto;
    object-fit: contain;
  }
  &__finish-icon {
    max-height: rem(140px);
    width: auto;
    object-fit: contain;
  }
  &__premier {
    max-height: rem(180px);
  }
  &__subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(-20px);
    margin-bottom: rem(10px);
    font-family: $bold;
    font-size: rem(14px);
    text-transform: uppercase;
    text-align: center;
    span {
      display: block;
      flex: 1 0 auto;
      height: 1px;
      background: #000;
      &:first-of-type {
        margin-right: rem(10px);
      }
      &:last-of-type {
        margin-left: rem(10px);
      }
    }
  }
  &__text {
    margin-bottom: rem(16px);
    text-align: center;
    font-size: rem(18px);
    line-height: 1.2;
    span {
      color: $green_light;
    }
  }
  &-signup {
    width: rem(758px);
  }

  &__another-option {
    margin: rem(20px) 0 rem(27px);
    text-align: center;
    a {
      border-bottom: 1px solid currentColor;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &__footer {
    margin-top: rem(52px);
    text-align: center;
  }
  .success_modal {
    &__text {
      margin-top: 0;
      font-size: rem(14px);
      margin-bottom: rem(20px);
      text-align: center !important;
      font-family: $bold;
      text-transform: uppercase;
    }
    &-back {
      font-size: rem(12px);
      text-transform: uppercase;
      font-family: $bold;
      text-align: center;
    }
    &-image {
      margin: auto;
    }
  }
  .error_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: rem(14px);
    img {
      margin-bottom: rem(24px);
    }
    &-text {
      font-size: rem(14px);
      text-transform: uppercase;
      margin-bottom: rem(25px);
    }
  }
  .btn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__popover-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: rem(20px);
    background: rgba($light, 0.6);
    color: $red;
    transform: translateY(-40px);
    transition: 0.6s ease-in-out;
    &:hover {
      transform: translateY(-100%);
    }
  }
  &-image {
    padding-top: rem(120px);
    padding-bottom: rem(55px);
    img {
      margin: auto;
    }
  }
  &__iframe {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-bottom: rem(30px);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    min-height: auto;
    // margin-top: 10vh;
    justify-content: flex-start;
    &--sm {
      width: rem(440px);
    }
    &--md {
      width: rem(500px);
    }
    &--lg {
      width: rem(758px);
      padding: rem(40px) rem(25px) rem(46px);
    }
  }
  @media (min-width: $md) and (orientation: landscape) {
    min-height: auto;
    justify-content: flex-start;
    border-radius: rem(25px);
    padding: rem(75px) rem(66px) rem(53px);
    &--md {
      width: rem(375px);
    }
    &--lg {
      width: rem(700px);
      padding: rem(50px) rem(80px) rem(50px);
      .modal__subtitle {
        margin-bottom: rem(38px);
      }
      &.modal-image {
        margin-top: 10vh;
      }
      &.modal-video {
        width: 70vw;
      }
      &.modal-copy_code {
        padding-top: rem(0px);
      }
    }
    &.modal-extended {
      background: #056b29 url('../assets/images/leafs.svg') no-repeat right rem(37px) top rem(43px);
      background-size: 70%;

      .modal__header {
        position: relative;
        padding-top: rem(210px);
        display: flex;
        flex-direction: column;
        &::before {
          content: '';
          position: absolute;
          top: rem(-20px);
          left: 50%;
          transform: translateX(calc(-50% + #{rem(30px)}));
          @include size(#{rem(260px)});
          display: block;
          margin: 0 auto rem(30px);
          background: url('../assets/images/cap-2.png') no-repeat center;
          background-size: contain;
        }
      }
    }
    &--xlg {
      width: rem(940px);
    }
    &-temporarily_unavailable {
      .modal__title {
        font-size: rem(40px);
      }
      .modal__text {
        font-size: rem(18px);
        line-height: 1.5;
        b {
          font-size: rem(26px);
          text-transform: uppercase;
        }
      }
    }
    .btn {
      width: auto;
    }
    &__title {
      max-width: 100%;
      text-align: center;
      margin-bottom: rem(30px);
      font-size: rem(50px);
      line-height: rem(50px);
      &::after,
      &::before {
        content: "";
        margin: auto 0;
        width: rem(60px);
        height: rem(4px);
        background: $green_light;
        flex-grow: 1;
        border-radius: 10px;
      }
      &::after {
        margin-left: rem(20px);
      }
      &::before {
        margin-right: rem(20px);
      }
    }
    &__text {
      // margin-top: rem(27px);
      font-size: rem(24px);
      line-height: 1.2;
    }
    &__close {
      top: rem(20px);
      right: rem(20px);
    }
    &-pdf {
      max-height: 60vh;
    }
    &__list {
      width: 70%;
    }
    &__subtitle {
      margin-top: rem(-30px);
      margin-bottom: rem(20px);
      font-size: rem(14px);
    }
    &__another-option {
      margin: 0 0 0;
    }
  }
}
</style>
