<template>
  <div class="table_holder w-100">
    <div class="table--desktop table" :class="{ _reverse: !thead }">
      <table>
        <thead class="table__header">
          <tr class="table__header-row">
            <th
              class="table__header-col"
              v-for="(item, index) in thead"
              :key="index"
            >
              {{ item.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <slot name="tbody"></slot>
        </tbody>
      </table>
    </div>
    <div class="table--mobile table">
      <div class="table__inner">
        <slot name="mobile"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["thead"],
  data: () => ({
    settings: {
      maxScrollbarLength: 66,
      wheelSpeed: 0.5,
    },
  }),
};
</script>

<style lang="scss">
.table_holder {
  td.status-bad {
    color: #912982;
  }
  td.status-moderation {
    color: #fff;
  }
  .error_icon {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: rem(17px);
    height: rem(17px);
    font-size: rem(12px);
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(1, 63, 93, 0.15);
    border-radius: 50%;
  }
}
.table {
  width: 100%;
  margin: 0 auto;
  &__header {
    &-row {
      background: $green_darken;
    }
    &-col {
      position: relative;
      padding: rem(16px) rem(54px) rem(16px);
      color: #fff;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: left;
      font-size: rem(20px);
      font-family: $bold;
      text-transform: uppercase;
      &:first-of-type {
        border-radius: rem(14px) 0 0 rem(14px);
      }
      &:last-of-type {
        border-radius: 0 rem(14px) rem(14px) 0;
      }
    }
  }
  &--desktop {
    display: none !important;
    &._reverse {
      tr {
        margin-bottom: rem(10px);
        vertical-align: middle;
        &:nth-child(even) {
          td {
            background: none;
          }
        }
        &:nth-child(odd) {
          td {
            background: rgba(0, 51, 24, 0.2);
          }
        }
      }
    }
    tr {
      margin-bottom: rem(10px);
      vertical-align: top;
      &:nth-child(even) {
        td {
          background: rgba(0, 51, 24, 0.3);
        }
      }
    }
    td {
      position: relative;
      padding: rem(20px) rem(54px);
      color: #fff;
      font-size: rem(24px);

      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        cursor: pointer;
      }
      small {
        display: block;
        font-size: rem(12px);
        text-transform: none;
      }
      &:first-of-type {
        border-radius: rem(14px) 0 0 rem(14px);
      }
      &:last-of-type {
        border-radius: 0 rem(14px) rem(14px) 0;
      }
      b {
        font-weight: 700;
      }
    }

    tbody {
      tr {
        svg {
          margin-left: rem(7px);
        }
        &._not-accepted {
          color: #f90025;
          path {
            fill: #f90025;
          }
        }
        &._accepted {
          color: #000;
          path {
            fill: #000;
          }
        }
        &._received {
          color: #209524;
          path {
            fill: #209524;
          }
        }
      }
    }
  }
  &__inner {
    width: 100%;
    max-height: rem(375px);
    // min-height: rem(250px);
    overflow-y: scroll;
    // &::-webkit-scrollbar {
    //   width: rem(3px);
    // }
    // /* Track */
    // &::-webkit-scrollbar-track {
    //   background: rgba(255, 227, 202, 0.5);
    //   border-radius: 25px;
    // }

    // /* Handle */
    // &::-webkit-scrollbar-thumb {
    //   background: $red;
    //   border-radius: 10px;
    //   transition: all 0.3s ease-in-out;
    // }
  }
  table {
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
  }

  &--mobile {
    display: block;
    width: 100%;
    font-size: rem(14px);
    .table__inner {
      max-height: none;
      height: auto;
      overflow: auto;
      // &::-webkit-scrollbar {
      //   width: rem(3px);
      //   opacity: 1;
      // }
      // /* Track */
      // &::-webkit-scrollbar-track {
      //   background: rgba(255, 227, 202, 0.5);
      //   border-radius: 25px;
      // }

      // /* Handle */
      // &::-webkit-scrollbar-thumb {
      //   background: $red;
      //   border-radius: 10px;
      //   transition: all 0.3s ease-in-out;
      // }
      table {
        & > tr {
          &:nth-last-of-type(odd) {
            .table-mobile__inner {
              background: none;
            }
          }
        }
      }
    }
    ._profile {
      .table-mobile__inner {
        background: #00411E;
      }
    }
    .table-mobile__inner {
      width: 100%;
      margin-bottom: rem(10px);
      background: #046026;
      border-radius: rem(14px);
      tr {
        vertical-align: middle;
        &:first-of-type {
          td {
            padding-top: rem(16px);
          }
        }
        &:last-of-type {
          td {
            padding-bottom: rem(16px);
          }
        }
      }
      td {
        position: relative;
        line-height: 1.5;
        padding-right: rem(10px);
        &:first-of-type {
          padding-left: rem(20px);
        }
        svg {
          margin-left: rem(7px);
        }
        small {
          display: block;
          text-transform: none;
          font-size: rem(11px);
        }
        .shadow {
          display: block;
          position: absolute;
          top: 53%;
          left: 48%;
          transform: translate(-50%,-50%);
          @include size(#{rem(90px)});
          z-index: -1;
          box-shadow: none;
        }
        .prize {
          @include size(#{rem(90px)});
          object-fit: contain;
          margin: rem(0px) auto rem(10px);
        }
      }
    }
  }

  @media (min-width: $md) and (orientation: landscape) {
    &--desktop {
      display: block !important;
    }
    &--mobile {
      display: none !important;
    }
    &__inner {
      max-height: rem(470px);
      padding-right: rem(33px);
      &::-webkit-scrollbar {
        width: rem(66px);
      }
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 25px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
</style>
