<template>
  <div id="app">
    <Header v-if="showHeader" :headerModified="headerModified" />
    <div class="app-content">
      <router-view></router-view>
    </div>
    <Footer v-if="showFooter" />
    <Feedback />
    <Authorization />
    <Signup />
    <Recover />
    <EnterCode />
    <SuccessSignup />
    <SuccessRecover />
    <SuccessProfile />
    <SuccessCheck />
    <CommonError />
    <CommonSuccess />
    <TemporarilyUnavailable />
    <ImagePopup />
    <VideoPopup />
    <Soc_signup />
    <Soc_signupFinish />
    <ChangePassword />
    <CodeRegistration />
    <ErrorCode />
    <UpdateInfo />
    <CommonErrorUpload />
    <CopyCode />
    <ActionIsExtended/>
    <div class="preloader" :class="{ _show: loaderShow }">
      <img src="./assets/images/loader.svg" alt="" />
    </div>
  </div>
</template>
<script>
import ActionIsExtended from './components/modals/actionIsExtended.vue';
import CopyCode from "./components/modals/copyCode.vue";
import CommonSuccess from "./components/modals/commonSuccess.vue";
import Header from "@/components/AppHeader.vue";
import Footer from "@/components/AppFooter.vue";
import Feedback from "@/components/modals/feedback.vue";
import TemporarilyUnavailable from "@/components/modals/temporarilyUnavailable.vue";

import SuccessCheck from "@/components/modals/successCheck.vue";
import SuccessSignup from "@/components/modals/successSignup.vue";
import SuccessRecover from "@/components/modals/successRecover.vue";
import SuccessProfile from "@/components/modals/successProfile.vue";

//import UploadCheck from "@/components/modals/uploadCheck.vue";
import CommonError from "@/components/modals/commonError.vue";

import store from "./store";
import Authorization from "./components/modals/authorization.vue";
import Signup from "./components/modals/signup.vue";
import Recover from "./components/modals/recover.vue";
import ImagePopup from "./components/modals/imagePopup.vue";
import Soc_signup from "./components/modals/soc_signup.vue";
import Soc_signupFinish from "./components/modals/soc_signup-finish.vue";
import ChangePassword from "./components/modals/changePassword.vue";
import CodeRegistration from "./components/modals/codeRegistration.vue";
import ErrorCode from "./components/modals/errorCode.vue";
import EnterCode from "./components/modals/enterCode.vue";
import VideoPopup from "./components/modals/videoPopup.vue";
import UpdateInfo from "./components/modals/updateInfo.vue";
import CommonErrorUpload from "./components/modals/commonErrorUpload.vue";
export default {
  components: {
    Header,
    Footer,
    Feedback,
    SuccessCheck,
    SuccessSignup,
    SuccessRecover,
    SuccessProfile,
    CommonError,
    TemporarilyUnavailable,
    CommonSuccess,
    Authorization,
    Signup,
    Recover,
    ImagePopup,
    Soc_signup,
    Soc_signupFinish,
    ChangePassword,
    CodeRegistration,
    ErrorCode,
    EnterCode,
    VideoPopup,
    UpdateInfo,
    CommonErrorUpload,
    CopyCode, ActionIsExtended
  },
  data: function () {
    return {
      showHeader: true,
      loaderShow: false,
      showFooter: true,
      headerModified: false,
      path: window.location.pathname,
      hash: window.location.hash,
    };
  },
  methods: {
    setHeight() {
      var vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    },
    showModal(name) {
      this.$modal.show(name);
    },
    checkAuth(t) {
      const params = this.$route.query;
      console.log(params);
      this.$store.dispatch("EndTime");
      if (this.$store.getters.token) {
        if (!this.$store.getters.user) {
          this.$store.dispatch("GetProfile").then((response) => {
            if (response.result) {
              console.log(response);
              if (!localStorage.getItem("firstPromo")) {
                // this.$modal.show('extended');
                localStorage.setItem("firstPromo", true);
              }
            } else if (response.status === 401) {
              this.loaderShow = true;
              if (!localStorage.getItem("first")) {
                this.$router.push({ name: "Verification" });
                localStorage.setItem("first", true);
              } else {
                this.$router.push({ name: "Login", query: params });
              }
              setTimeout(() => {
                this.loaderShow = false;
              }, 2000);
            }
          });
        }
      } else {
        this.loaderShow = true;
        setTimeout(() => {
          if (
            this.$route.name === "Profile" ||
            this.$route.name === "Recover" ||
            this.$route.name === "Home" ||
            this.$route.name === "Production"
          ) {
            this.$router.push({ name: "Login", query: params });
          }
        }, 500);
        setTimeout(() => {
          this.loaderShow = false;
        }, 2000);
      }
    },
    /* eslint-enable */
  },
  mounted() {
    // this.$store.dispatch("LogOut");
    const t = this;
    this.setHeight();
    // window.addEventListener("resize", this.setHeight);
    this.$root.$on("onLogined", function () {});
    this.checkAuth(t);
    if (!localStorage.getItem("first")) {
      this.$router.push({ name: "Verification" });
    }
    const params = this.$route.query;
    if (params.utm_source && !localStorage.getItem('utm_source_done')) {
      localStorage.setItem("utm_source", params.utm_source)
      console.log(params.utm_source);
    }
    
    // if (this.$route.path != '/') {
    //   document.getElementById('app').classList.add(this.path.split('/').pop());
    // }
    // localStorage.clear();
    window.addEventListener("error", (e) => {
      // eslint-disable-next-line no-console
      console.log(e);
      if (e.message === "ResizeObserver loop limit exceeded") {
        const resizeObserverErrDiv = document.getElementById(
          "webpack-dev-server-client-overlay-div"
        );
        const resizeObserverErr = document.getElementById(
          "webpack-dev-server-client-overlay"
        );
        if (resizeObserverErr) {
          resizeObserverErr.setAttribute("style", "display: none");
        }
        if (resizeObserverErrDiv) {
          resizeObserverErrDiv.setAttribute("style", "display: none");
        }
      }
    });
  },

  watch: {
    $route: {
      handler: (to, from) => {
        document.title = to.meta.title || "";
        console.log(to);
      },
      immediate: true,
    },

    "$route.path"(value) {
      let navs = document.querySelectorAll(".header__nav-link");
      if (value != "/") {
        navs.forEach((nav) => {
          nav.classList.remove("active");
        });
      }
    },
  },
};
</script>

<style lang="scss">
.app-content {
  flex: 1;
  z-index: 1;
  @media (min-width: 640px) {
    display: flex;

    & > div {
      flex: 1;
      width: 100%;
      max-width: 100%;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
